Repository swagger-api/apidom, pull requests merged in 2022-10, with the labels that each got.

#2108 chore(deps): bump several deps to latest versions
  package-lock.json
  packages/apidom-playground/package.json
  packages/apidom-reference/package.json
Labels: enhancement, ApiDOM, dependencies

#2112 fix(ls): fix wrongly assigned codes
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/test/openapi-json.ts
Labels: bug, ApiDOM, OpenApi 3.0

#2126 fix(ls): fix error codes consistency
  packages/apidom-ls/src/config/codes.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2135 refactor: remove support for OpenAPI 3.0.x-rcy versions
  packages/apidom-ns-openapi-3-0/README.md
  packages/apidom-ns-openapi-3-0/src/media-types.ts
  packages/apidom-parser-adapter-openapi-json-3-0/README.md
  packages/apidom-parser-adapter-openapi-json-3-0/test/media-types.ts
  packages/apidom-parser-adapter-openapi-yaml-3-0/README.md
  packages/apidom-parser-adapter-openapi-yaml-3-0/test/media-types.ts
  packages/apidom-reference/README.md
Labels: enhancement, ApiDOM, OpenApi 3.0

#2140 docs(reference): fix non-existing HTTP URL in README
  packages/apidom-reference/README.md
Labels: documentation, ApiDOM

#2146 fix(ls): fix OpenAPI 3.x.y Example Obj mutually exclusive lint rule
  packages/apidom-ls/src/config/openapi/example/lint/value--mutually-exclusive.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0

#2147 fix(ns-openapi-3-0): drop support of extensions from Discriminator
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/distriminator/index.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/distriminator/index.ts
Labels: bug, OpenAPI 3.1, ApiDOM, OpenApi 3.0

#2155 fix(ls): finalize rules for OpenAPI License object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/license/completion.ts
  packages/apidom-ls/src/config/openapi/license/lint/identifier--type.ts
  packages/apidom-ls/src/config/openapi/license/lint/index.ts
  packages/apidom-ls/src/config/openapi/license/lint/name--type.ts
  packages/apidom-ls/test/openapi-json.ts
  packages/apidom-ls/test/openapi-yaml.ts
  packages/apidom-ls/test/validate.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0

#2156 fix(ls): finalize rules for OpenAPI Server object
  packages/apidom-ls/src/config/openapi/server/completion.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2159 feat(reference): add support for file allow list for FileResolver
  package-lock.json
  packages/apidom-ls/src/services/definition/definition-service.ts
  packages/apidom-ls/src/services/deref/deref-service.ts
  packages/apidom-ls/src/services/hover/hover-service.ts
  packages/apidom-reference/README.md
  packages/apidom-reference/package.json
  packages/apidom-reference/src/resolve/resolvers/FileResolver/index-node.ts
  packages/apidom-reference/src/resolve/resolvers/HttpResolverAxios.ts
  packages/apidom-reference/src/resolve/util.ts
  packages/apidom-reference/src/types.ts
  packages/apidom-reference/test/mocha-bootstrap.cjs
  packages/apidom-reference/test/resolve/index.ts
  packages/apidom-reference/test/resolve/resolvers/FileResolver.ts
Labels: enhancement, ApiDOM, security vulnerability

#2166 fix(reference): bound options during resolution and parsing
  packages/apidom-reference/src/parse/index.ts
  packages/apidom-reference/src/resolve/util.ts
Labels: enhancement, ApiDOM

#2176 fix(ls): finalize completion rules for OpenAPI Parameter
  packages/apidom-ls/src/config/openapi/parameter/completion.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0

#2177 fix(ls): fix OpenAPI Media Type value lint rule error code
  packages/apidom-ls/src/config/codes.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0

#2178 feat(ls): add completion rules for Encoding.style field
  packages/apidom-ls/src/config/openapi/encoding/completion.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0

#2185 feat(ls): provide OpenAPI 3.0.x Reference lint rules
  packages/apidom-ls/src/config/openapi/example/lint/$ref--no-siblings.ts
  packages/apidom-ls/src/config/openapi/example/lint/$ref--valid.ts
  packages/apidom-ls/src/config/openapi/example/lint/allowed-fields-3-0.ts
  packages/apidom-ls/src/config/openapi/example/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/example/lint/index.ts
  packages/apidom-ls/src/config/openapi/request-body/lint/$ref--no-siblings.ts
  packages/apidom-ls/src/config/openapi/request-body/lint/$ref--valid.ts
  packages/apidom-ls/src/config/openapi/request-body/lint/allowed-fields-3-0.ts
  packages/apidom-ls/src/config/openapi/request-body/lint/index.ts
  packages/apidom-ls/src/config/openapi/response/lint/allowed-fields-3-0.ts
  packages/apidom-ls/src/config/openapi/response/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/response/lint/index.ts
  packages/apidom-ls/src/config/openapi/security-scheme/lint/allowed-fields-3-0.ts
  packages/apidom-ls/src/config/openapi/security-scheme/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/security-scheme/lint/index.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2189 fix(ls): fix rule errors manifesting on OpenAPI 3.0.x Petstore
  packages/apidom-ls/src/config/openapi/oauth-flow/lint/authorization-url--required.ts
  packages/apidom-ls/src/config/openapi/oauth-flow/lint/index.ts
  packages/apidom-ls/src/config/openapi/oauth-flow/lint/scopes--required.ts
  packages/apidom-ls/src/config/openapi/oauth-flow/lint/token-url--required.ts
  packages/apidom-ls/src/config/openapi/security-scheme/completion.ts
  packages/apidom-ls/src/config/openapi/security-scheme/documentation.ts
  packages/apidom-ls/src/config/openapi/security-scheme/lint/flows--type.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2201 feat(build): build UMD fragments with new browserslist
  .browserslistrc
  packages/apidom-ast/config/webpack/browser.config.js
  packages/apidom-core/config/webpack/browser.config.js
  packages/apidom-json-path/config/webpack/browser.config.js
  packages/apidom-json-pointer/config/webpack/browser.config.js
  packages/apidom-ls/config/webpack/browser.config.js
  packages/apidom-ns-api-design-systems/config/webpack/browser.config.js
  packages/apidom-ns-asyncapi-2/config/webpack/browser.config.js
  packages/apidom-ns-json-schema-draft-4/config/webpack/browser.config.js
  packages/apidom-ns-json-schema-draft-6/config/webpack/browser.config.js
  packages/apidom-ns-json-schema-draft-7/config/webpack/browser.config.js
  packages/apidom-ns-openapi-3-0/config/webpack/browser.config.js
  packages/apidom-ns-openapi-3-1/config/webpack/browser.config.js
  packages/apidom-parser-adapter-api-design-systems-json/config/webpack/browser.config.js
  packages/apidom-parser-adapter-api-design-systems-yaml/config/webpack/browser.config.js
  packages/apidom-parser-adapter-asyncapi-json-2/config/webpack/browser.config.js
  packages/apidom-parser-adapter-asyncapi-yaml-2/config/webpack/browser.config.js
  packages/apidom-parser-adapter-json/config/webpack/browser.config.js
  packages/apidom-parser-adapter-openapi-json-3-0/config/webpack/browser.config.js
  packages/apidom-parser-adapter-openapi-json-3-1/config/webpack/browser.config.js
  packages/apidom-parser-adapter-openapi-yaml-3-0/config/webpack/browser.config.js
  packages/apidom-parser-adapter-openapi-yaml-3-1/config/webpack/browser.config.js
  packages/apidom-parser-adapter-yaml-1-2/config/webpack/browser.config.js
  packages/apidom-parser/config/webpack/browser.config.js
  packages/apidom-reference/config/webpack/browser.config.js
Labels: enhancement, ApiDOM

#2203 feat(ls): provide completion rules for $ref field in supported objects
  packages/apidom-ls/src/config/openapi/callback/completion.ts
  packages/apidom-ls/src/config/openapi/callback/meta.ts
  packages/apidom-ls/src/config/openapi/example/completion.ts
  packages/apidom-ls/src/config/openapi/header/completion.ts
  packages/apidom-ls/src/config/openapi/link/completion.ts
  packages/apidom-ls/src/config/openapi/parameter/completion.ts
  packages/apidom-ls/src/config/openapi/request-body/completion.ts
  packages/apidom-ls/src/config/openapi/response/completion.ts
  packages/apidom-ls/src/config/openapi/security-scheme/completion.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2207 fix(ls): fix OpenAPI Link.requestBody field completion
  packages/apidom-ls/src/config/openapi/link/completion.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0

#2196 feat(ls): provide OpenAPI 3.1.0 completion rules for Responses object
  packages/apidom-ls/src/config/openapi/responses/completion.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2211 fix(ls): provide spec extension lint rule for Discriminator
  packages/apidom-ls/src/config/openapi/discriminator/lint/allowed-fields-3-1.ts
  packages/apidom-ls/src/config/openapi/discriminator/lint/index.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2212 feat(ls): provide OpenAPI 3.1.0 Example allowed fields link rule
  packages/apidom-ls/src/config/openapi/example/lint/allowed-fields-3-1.ts
  packages/apidom-ls/src/config/openapi/example/lint/index.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2215 fix(ls): fix docs rule for OpenAPI 3.x.y Parameter
  packages/apidom-ls/src/config/openapi/parameter/documentation.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0

#2216 fix(ls): provide OpenAPI 3.1 Request Body allowed fields lint rule
  packages/apidom-ls/src/config/openapi/request-body/lint/allowed-fields-3-1.ts
  packages/apidom-ls/src/config/openapi/request-body/lint/index.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2217 feat(ls): provide OpenAPI 3.1 Response allowed fields link rule
  packages/apidom-ls/src/config/openapi/response/lint/allowed-fields-3-1.ts
  packages/apidom-ls/src/config/openapi/response/lint/index.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2218 feat(ls): provide OpenAPI 3.1 Responses docs rules
  packages/apidom-ls/src/config/openapi/responses/documentation.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2221 feat(ns-asyncapi-2): improve types for elements
  packages/apidom-ns-asyncapi-2/src/elements/ChannelItem.ts
  packages/apidom-ns-asyncapi-2/src/elements/Contact.ts
  packages/apidom-ns-asyncapi-2/src/elements/CorrelationID.ts
  packages/apidom-ns-asyncapi-2/src/elements/ExternalDocumentation.ts
  packages/apidom-ns-asyncapi-2/src/elements/Info.ts
  packages/apidom-ns-asyncapi-2/src/elements/License.ts
  packages/apidom-ns-asyncapi-2/src/elements/MessageExample.ts
  packages/apidom-ns-asyncapi-2/src/elements/MessageTrait.ts
  packages/apidom-ns-asyncapi-2/src/elements/OAuthFlow.ts
  packages/apidom-ns-asyncapi-2/src/elements/OAuthFlows.ts
  packages/apidom-ns-asyncapi-2/src/elements/Operation.ts
  packages/apidom-ns-asyncapi-2/src/elements/OperationTrait.ts
  packages/apidom-ns-asyncapi-2/src/elements/Parameter.ts
  packages/apidom-ns-asyncapi-2/src/elements/Reference.ts
  packages/apidom-ns-asyncapi-2/src/elements/SecurityScheme.ts
  packages/apidom-ns-asyncapi-2/src/elements/Server.ts
  packages/apidom-ns-asyncapi-2/src/elements/ServerVariable.ts
  packages/apidom-ns-asyncapi-2/src/elements/Tag.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/visitor.ts
Labels: enhancement, ApiDOM, AsyncAPI 2.x

#2222 feat(ns-asyncapi-2): add support for 2.5.0 version in element layer
  packages/apidom-ns-asyncapi-2/src/elements/ChannelBindings.ts
  packages/apidom-ns-asyncapi-2/src/elements/MessageBindings.ts
  packages/apidom-ns-asyncapi-2/src/elements/OperationBindings.ts
  packages/apidom-ns-asyncapi-2/src/elements/Server.ts
  packages/apidom-ns-asyncapi-2/src/elements/ServerBindings.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/googlepubsub/GooglePubSubChannelBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/googlepubsub/GooglePubSubMessageBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/googlepubsub/GooglePubSubOperationBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/googlepubsub/GooglePubSubServerBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/ibmmq/IbmmqOperationBinding.ts
  packages/apidom-ns-asyncapi-2/src/index.ts
  packages/apidom-ns-asyncapi-2/src/namespace.ts
Labels: enhancement, ApiDOM, AsyncAPI 2.x

#2223 feat(ns-asyncapi-2): improve types for bindings elements
  packages/apidom-ns-asyncapi-2/src/elements/Message.ts
  packages/apidom-ns-asyncapi-2/src/elements/Parameter.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/amqp/AmqpChannelBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/amqp/AmqpMessageBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/amqp/AmqpOperationBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/anypointmq/AnypointmqChannelBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/anypointmq/AnypointmqMessageBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/http/HttpMessageBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/http/HttpOperationBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/ibmmq/IbmmqChannelBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/ibmmq/IbmmqMessageBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/ibmmq/IbmmqServerBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/kafka/KafkaMessageBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/kafka/KafkaOperationBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/mqtt/MqttMessageBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/mqtt/MqttOperationBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/mqtt/MqttServerBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/solace/SolaceOperationBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/solace/SolaceServerBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/ws/WebSocketChannelBinding.ts
Labels: enhancement, ApiDOM, AsyncAPI 2.x

#2224 feat(ns-asyncapi-2): add latest bindings versions in elements layer
  packages/apidom-ns-asyncapi-2/src/elements/bindings/kafka/KafkaChannelBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/kafka/KafkaMessageBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/kafka/KafkaServerBinding.ts
  packages/apidom-ns-asyncapi-2/src/elements/bindings/nats/NatsOperationBinding.ts
Labels: enhancement, ApiDOM, AsyncAPI 2.x
