Repository swagger-api/apidom, pull requests merged in 2022-09, with the labels that each got.

#1958 feat(playground): add support for OpenAPI 3.0.x
  package-lock.json
  packages/apidom-playground/package.json
  packages/apidom-playground/src/playground/apidom.worker.js
  packages/apidom-playground/src/playground/components/left-pane/EditorControls.jsx
  packages/apidom-playground/src/playground/selectors.js
  packages/apidom-reference/src/index.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#1966 chore(deps-dev): bump tree-sitter-cli from 0.20.6 to 0.20.7
  .github/workflows/build.yml
  package-lock.json
  package.json
  packages/apidom-parser-adapter-json/package.json
  packages/apidom-parser-adapter-yaml-1-2/package.json
Labels: ApiDOM, dependencies

#1970 test(reference): add tests for dereference over HTTP
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/fixtures/external-only-absolute-url/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/fixtures/external-only-absolute-url/ex.json
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/fixtures/external-only-absolute-url/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/fixtures/external-only-absolute-url/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/fixtures/external-only-absolute-url/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/fixtures/external-only-absolute-url/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/fixtures/external-only-absolute-url/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/fixtures/external-only-absolute-url/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/fixtures/external-only-absolute-url/root.json
  packages/apidom-reference/test/helpers.ts
Labels: enhancement, ApiDOM, tests

#1946 feat(ls): add documentation rules for OpenAPI 3.1.0
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/external-documentation/documentation.ts
  packages/apidom-ls/src/config/openapi/external-documentation/meta.ts
  packages/apidom-ls/src/config/openapi/license/documentation.ts
  packages/apidom-ls/src/config/openapi/license/meta.ts
  packages/apidom-ls/src/config/openapi/openapi3_1/documentation.ts
  packages/apidom-ls/src/config/openapi/openapi3_1/meta.ts
  packages/apidom-ls/src/config/openapi/operation/documentation.ts
  packages/apidom-ls/src/config/openapi/operation/meta.ts
  packages/apidom-ls/src/config/openapi/parameter/documentation.ts
  packages/apidom-ls/src/config/openapi/parameter/meta.ts
  packages/apidom-ls/src/config/openapi/path-item/documentation.ts
  packages/apidom-ls/src/config/openapi/path-item/meta.ts
  packages/apidom-ls/src/config/openapi/paths/documentation.ts
  packages/apidom-ls/src/config/openapi/paths/meta.ts
  packages/apidom-ls/src/config/openapi/responses/documentation.ts
  packages/apidom-ls/src/config/openapi/responses/meta.ts
  packages/apidom-ls/src/config/openapi/server-variable/documentation.ts
  packages/apidom-ls/src/config/openapi/server-variable/meta.ts
  packages/apidom-ls/src/config/openapi/server/documentation.ts
  packages/apidom-ls/src/config/openapi/server/meta.ts
  packages/apidom-ls/src/config/openapi/tag/documentation.ts
  packages/apidom-ls/src/config/openapi/tag/meta.ts
  packages/apidom-ls/src/config/tokens.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#1997 feat(ls): add documentation for oas3.1 response object
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/response/documentation.ts
  packages/apidom-ls/src/config/openapi/response/meta.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2008 feat(ls): add documentation for OpenAPI 3.1.0 Header Object fields
  packages/apidom-ls/src/config/openapi/header/documentation.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2012 refactor(ls): update documentation for OpenApi 3.1.0 Link object
  packages/apidom-ls/src/config/openapi/link/documentation.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2018 feat(ls): docs for OpenApi 3.1.0 Security Scheme object
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/security-scheme/documentation.ts
  packages/apidom-ls/src/config/openapi/security-scheme/meta.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2022 fix(ls): fix docs rules for various OpenAPI 3.1.0 objects
  packages/apidom-ls/src/config/openapi/oauth-flow/documentation.ts
  packages/apidom-ls/src/config/openapi/security-scheme/documentation.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2028 fix(ls): fix docs rules for various OpenAPI 3.1.0 objects
  packages/apidom-ls/src/config/openapi/components/documentation.ts
  packages/apidom-ls/src/config/openapi/request-body/documentation.ts
  packages/apidom-ls/src/config/openapi/security-requirement/documentation.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2034 feat(ls): provide OpenAPI 3.0.x Contact obj. docs rules
  packages/apidom-ls/src/config/openapi/contact/documentation.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2036 fix(reference): decode array buffers using TextDecoder
  packages/apidom-reference/src/parse/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-api-design-systems-json/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-api-design-systems-yaml/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-asyncapi-json-2/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-asyncapi-yaml-2/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-binary/index-browser.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-binary/index-node.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-json/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-openapi-json-3-0/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-openapi-json-3-1/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-openapi-yaml-3-0/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-openapi-yaml-3-1/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-reference-parser-yaml-1-2/index.ts
  packages/apidom-reference/src/resolve/util.ts
  packages/apidom-reference/src/types.ts
  packages/apidom-reference/src/util/File.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-api-design-systems-json/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-api-design-systems-yaml/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-asyncapi-json-2/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-asyncapi-yaml-2/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-binary/index-browser.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-binary/index-node.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-json/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-openapi-json-3-0/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-openapi-json-3-1/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-openapi-yaml-3-0/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-openapi-yaml-3-1/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-reference-parser-yaml/index.ts
Labels: bug, ApiDOM

#2053 refactor(ls): amend discriminator rules, allow OpenAPI 3.1 to plug in
  packages/apidom-ls/src/config/common/schema/completion.ts
  packages/apidom-ls/src/config/common/schema/documentation.ts
  packages/apidom-ls/src/config/common/schema/lint/discriminator--type-asyncapi-2-0--2-4.ts
  packages/apidom-ls/src/config/common/schema/lint/index.ts
Labels: enhancement, ApiDOM

#2054 feat(ls): provide OpenAPI 3.0.x License docs rules
  packages/apidom-ls/src/config/openapi/license/documentation.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2051 feat(ls): docs for OpenApi 3.1.0 Discriminator object
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/discriminator/documentation.ts
  packages/apidom-ls/src/config/openapi/discriminator/meta.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2057 feat(ls): provide OpenAPI 3.0.x Info docs rules
  packages/apidom-ls/src/config/openapi/contact/documentation.ts
  packages/apidom-ls/src/config/openapi/info/documentation.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2059 feat(ls): provide OpenAPI 3.0.x Components docs rules
  packages/apidom-ls/src/config/openapi/components/documentation.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2056 feat(ls): recognize OpenAPI 3.0.x definitions
  package-lock.json
  packages/apidom-ls/package.json
  packages/apidom-ls/src/parser-factory.ts
  packages/apidom-ls/src/services/validation/linter-functions.ts
  packages/apidom-ls/src/utils/utils.ts
Labels: ApiDOM, OpenApi 3.0

#2060 feat(ls): provide OpenAPI 3.0.x OpenAPI docs rules
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/openapi3_0/documentation.ts
  packages/apidom-ls/src/config/openapi/openapi3_0/meta.ts
  packages/apidom-ls/src/config/openapi/openapi3_1/documentation.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2077 feat(ls): provide OpenAPI 3.0.x Info lint rules
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/info/lint/allowed-fields-3-0.ts
  packages/apidom-ls/src/config/openapi/info/lint/allowed-fields-3-1.ts
  packages/apidom-ls/src/config/openapi/info/lint/contact--type.ts
  packages/apidom-ls/src/config/openapi/info/lint/description--type.ts
  packages/apidom-ls/src/config/openapi/info/lint/index.ts
  packages/apidom-ls/src/config/openapi/info/lint/license--type.ts
  packages/apidom-ls/src/config/openapi/info/lint/terms-of-service--format-uri.ts
  packages/apidom-ls/src/config/openapi/info/lint/terms-of-service--type.ts
  packages/apidom-ls/src/config/openapi/info/lint/title--required.ts
  packages/apidom-ls/src/config/openapi/info/lint/title--type.ts
  packages/apidom-ls/src/config/openapi/info/lint/version--required.ts
  packages/apidom-ls/src/config/openapi/info/lint/version--type.ts
  packages/apidom-ls/test/openapi-json.ts
  packages/apidom-ls/test/openapi-yaml.ts
  packages/apidom-ls/test/validate.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2087 feat(ls): provide OpenAPI 3.0.x Server docs rules
  packages/apidom-ls/src/config/openapi/server/documentation.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2088 feat(ls): provide OpenAPI 3.0.x Server Variable docs rules
  packages/apidom-ls/src/config/openapi/server-variable/documentation.ts
Labels: enhancement, ApiDOM, OpenApi 3.0
