Repository swagger-api/apidom, pull requests merged in 2023-10, with the labels that each got.

#3199 refactor(ns-asyncapi-2): replace toValue method with function
  packages/apidom-ns-asyncapi-2/src/predicates.ts
  packages/apidom-ns-asyncapi-2/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-asyncapi-2/src/refractor/predicates.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/AsyncApiVersionVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/DefaultContentTypeVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/IdentifierVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/info/VersionVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/message/index.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/generics/PatternedFieldsVisitor.ts
  packages/apidom-ns-asyncapi-2/test/refractor/index.ts
Labels: enhancement, ApiDOM, AsyncAPI 2.x

#3200 refactor(ns-json-schema-draft-4): replace toValue method with function
  packages/apidom-ns-json-schema-draft-4/test/refractor/index.ts
Labels: enhancement, ApiDOM, JSON Schema

#3201 refactor(ns-json-schema-draft-6): replace toValue method with function
  packages/apidom-ns-json-schema-draft-6/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/index.ts
Labels: enhancement, ApiDOM, JSON Schema

#3202 refactor(ns-json-schema-draft-7): replace toValue method with function
  packages/apidom-ns-json-schema-draft-7/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-7/test/refractor/index.ts
Labels: enhancement, ApiDOM, JSON Schema

#3204 refactor(ns-openapi-3-1): replace toValue method with function
  packages/apidom-ns-openapi-3-1/src/predicates.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/JsonSchemaDialectVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/WebhooksVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/schema/index.ts
  packages/apidom-ns-openapi-3-1/test/refractor/elements/Schema/embedded-resources-$id.ts
  packages/apidom-ns-openapi-3-1/test/refractor/elements/Schema/embedded-resources-$schema.ts
  packages/apidom-ns-openapi-3-1/test/refractor/index.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#3206 refactor(reference): replace toValue method with function
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/selectors/$anchor/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/util.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/channel-item-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/example-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/link-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/path-item-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/example-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/link-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/path-item-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/index.ts
  packages/apidom-reference/test/parse/index.ts
Labels: enhancement, ApiDOM

#3208 refactor: use Array.prototype.at
  packages/apidom-ns-asyncapi-2/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-3-0/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/replace-empty-element.ts
Labels: enhancement, ApiDOM

#3215 fix(reference): fix how OpenAPI 3.1.0 Reference Object is merged
  packages/apidom-ls/test/fixtures/deref/dereferenced.json
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/fixtures/cycle-internal/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/index.ts
Labels: bug, OpenAPI 3.1, ApiDOM

#3219 docs(ns-openapi-2): fix inconsistencies
  packages/apidom-ns-openapi-2/README.md
Labels: documentation, enhancement, ApiDOM, OpenApi 2.0

#3221 docs(README): add apidom-ns-openapi-2 package to install list
  README.md
Labels: documentation, ApiDOM

#3225 feat(ns-openapi-2): add support for Security Requirement Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/SecurityRequirement.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/media-types.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/index.ts
  packages/apidom-ns-openapi-2/src/refractor/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/toolbox.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/FallbackVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/SpecificationExtensionVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/generics/FixedFieldsVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/generics/MapVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/generics/PatternedFieldsVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/security-requirement/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/SecurityRequirement/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/SecurityRequirement/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3226 feat(ns-openapi-2): add support for Scopes Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/ScopesElement.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/scopes/index.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Scopes/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Scopes/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3227 feat(ns-openapi-2): add support for Security Scheme Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/SecurityScheme.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/security-scheme/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/SecurityScheme/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/SecurityScheme/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3233 feat: add initial implementation of ApiDOM logging facility
  README.md
  package-lock.json
  packages/apidom-logging/.eslintignore
  packages/apidom-logging/.gitignore
  packages/apidom-logging/.mocharc.json
  packages/apidom-logging/.npmrc
  packages/apidom-logging/README.md
  packages/apidom-logging/config/rollup/types.dist.js
  packages/apidom-logging/config/webpack/browser.config.js
  packages/apidom-logging/config/webpack/traits.config.js
  packages/apidom-logging/declaration.tsconfig.json
  packages/apidom-logging/package.json
  packages/apidom-logging/src/Filter.ts
  packages/apidom-logging/src/Filterer.ts
  packages/apidom-logging/src/LogRecord.ts
  packages/apidom-logging/src/LoggingLevel.ts
  packages/apidom-logging/src/index.ts
  packages/apidom-logging/src/styles/StringTemplateStyle.ts
  packages/apidom-logging/src/styles/Style.d.ts
  packages/apidom-logging/src/styles/TemplateLiteralStyle.ts
  packages/apidom-logging/src/styles/index.ts
  packages/apidom-logging/test/.eslintrc
  packages/apidom-logging/test/mocha-bootstrap.cjs
  packages/apidom-logging/tsconfig.json
Labels: enhancement, ApiDOM

#3234 feat(ns-openapi-2): add support for XML Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Xml.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/xml/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Xml/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Xml/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3235 feat(ns-openapi-2): add support for External Documentation Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/ExternalDocumentation.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/external-documentation/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/ExternalDocumentation/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/ExternalDocumentation/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3236 feat(ns-openapi-2): add support for Contact Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Contact.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/contact/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Contact/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Contact/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3244 feat(ns-openapi-2): add support for License Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/License.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/license/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/License/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/License/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3245 feat(ns-openapi-2): add support for Info Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Info.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/info/VersionVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/info/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Info/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Info/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3246 feat(ns-openapi-2): add support for Tag Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Tag.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/tag/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Tag/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Tag/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3248 feat(ns-openapi-2): add support for Items Object
  package-lock.json
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/package.json
  packages/apidom-ns-openapi-2/src/elements/Items.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/index.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/items/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Items/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Items/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3249 test(ns-openapi-2): add test for recursive Items Object
  packages/apidom-ns-openapi-2/test/refractor/elements/Items/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Items/index.ts
Labels: ApiDOM, OpenApi 2.0, tests

#3250 feat(ns-openapi-2): add support for Header Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Header.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/header/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Header/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Header/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3255 chore(deps-dev): bump @types/node from 20.8.3 to 20.8.4
  package-lock.json
  package.json
  packages/apidom-parser-adapter-json/src/lexical-analysis/browser-patch.ts
  packages/apidom-parser-adapter-yaml-1-2/src/lexical-analysis/browser-patch.ts
Labels: ApiDOM, dependencies

#3257 feat(ns-openapi-2): add support for Parameter Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Parameter.ts
  packages/apidom-ns-openapi-2/src/elements/Schema.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/parameter/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/schema/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Parameter/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Parameter/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3258 chore(deps-dev): update development deps
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: enhancement, ApiDOM, dependencies

#3264 feat(ns-openapi-2): add support for Reference Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Reference.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/reference/$RefVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/reference/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Reference/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Reference/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3265 fix(ns-openapi-3): support only subset of JSON Schema Draft 4/5
  package-lock.json
  packages/apidom-ns-openapi-3-0/package.json
  packages/apidom-ns-openapi-3-0/src/elements/Schema.ts
  packages/apidom-ns-openapi-3-0/src/refractor/specification.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/schema/DefinitionsVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/schema/DependenciesVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/schema/PatternPropertiesVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/schema/inherited-fixed-fields.ts
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Schema/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Schema/index.ts
Labels: bug, ApiDOM, OpenApi 3.0

#3272 feat(logging): add initial implementation of Formatter
  packages/apidom-logging/src/Filterer.ts
  packages/apidom-logging/src/Formatter.ts
  packages/apidom-logging/src/LogRecord.ts
  packages/apidom-logging/src/styles/StringTemplateStyle.ts
  packages/apidom-logging/src/styles/Style.d.ts
  packages/apidom-logging/src/styles/TemplateLiteralStyle.ts
  packages/apidom-logging/src/styles/index.ts
Labels: enhancement, ApiDOM

#3273 feat(ns-openapi-2): add support for Schema Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Header.ts
  packages/apidom-ns-openapi-2/src/elements/Items.ts
  packages/apidom-ns-openapi-2/src/elements/Schema.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/schema/AllOfVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/schema/ItemsVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/schema/PropertiesVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/schema/SchemaOrJSONReferenceVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/schema/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Schema/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Schema/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3281 fix(types): fix regression in @types/ramda@0.29.6
  package-lock.json
  package.json
  packages/apidom-ast/package.json
  packages/apidom-core/package.json
  packages/apidom-core/src/traversal/filter.ts
  packages/apidom-core/src/traversal/find.ts
  packages/apidom-core/src/traversal/reject.ts
  packages/apidom-core/src/traversal/some.ts
  packages/apidom-core/src/traversal/traverse.ts
  packages/apidom-error/package.json
  packages/apidom-json-pointer-relative/package.json
  packages/apidom-json-pointer/package.json
  packages/apidom-ls/package.json
  packages/apidom-ns-api-design-systems/package.json
  packages/apidom-ns-api-design-systems/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-asyncapi-2/package.json
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/generics/AlternatingVisitor.ts
  packages/apidom-ns-json-schema-draft-4/package.json
  packages/apidom-ns-json-schema-draft-4/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/visitors/generics/AlternatingVisitor.ts
  packages/apidom-ns-json-schema-draft-6/package.json
  packages/apidom-ns-json-schema-draft-7/package.json
  packages/apidom-ns-openapi-2/package.json
  packages/apidom-ns-openapi-2/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-openapi-3-0/package.json
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/generics/AlternatingVisitor.ts
  packages/apidom-ns-openapi-3-1/package.json
  packages/apidom-ns-workflows-1/package.json
  packages/apidom-parser-adapter-api-design-systems-json/package.json
  packages/apidom-parser-adapter-api-design-systems-yaml/package.json
  packages/apidom-parser-adapter-asyncapi-json-2/package.json
  packages/apidom-parser-adapter-asyncapi-yaml-2/package.json
  packages/apidom-parser-adapter-json/package.json
  packages/apidom-parser-adapter-openapi-json-3-0/package.json
  packages/apidom-parser-adapter-openapi-json-3-1/package.json
  packages/apidom-parser-adapter-openapi-yaml-3-0/package.json
  packages/apidom-parser-adapter-openapi-yaml-3-1/package.json
  packages/apidom-parser-adapter-yaml-1-2/package.json
  packages/apidom-parser/package.json
  packages/apidom-reference/package.json
Labels: ApiDOM, dependencies, regression

#3282 chore(deps): update monorepo dependencies
  package-lock.json
  package.json
Labels: ApiDOM, dependencies

#3271 fix: sanitize() double encode special characters
  packages/apidom-reference/src/util/url.ts
  packages/apidom-reference/test/util/url.ts
Labels: bug, ApiDOM

#3283 fix(ns-openapi-2): add support for JSONReferenceElement
  package-lock.json
  packages/apidom-ns-openapi-2/package.json
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
Labels: bug, ApiDOM, OpenApi 2.0

#3289 feat(predicates): implement TypeScript type guards
  packages/apidom-core/src/index.ts
  packages/apidom-core/src/predicates/helpers.ts
  packages/apidom-core/src/predicates/index.ts
  packages/apidom-core/test/predicates/index.ts
  packages/apidom-core/test/traversal/filter.ts
  packages/apidom-core/test/traversal/find.ts
  packages/apidom-ns-api-design-systems/src/predicates.ts
  packages/apidom-ns-asyncapi-2/src/predicates.ts
  packages/apidom-ns-json-schema-draft-4/src/predicates.ts
  packages/apidom-ns-json-schema-draft-6/src/predicates.ts
  packages/apidom-ns-json-schema-draft-7/src/predicates.ts
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-3-0/src/predicates.ts
  packages/apidom-ns-openapi-3-1/src/predicates.ts
  packages/apidom-ns-openapi-3-1/test/refractor/elements/Schema/embedded-resources-$id.ts
  packages/apidom-ns-openapi-3-1/test/refractor/elements/Schema/embedded-resources-$schema.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
Labels: enhancement, ApiDOM, TypeScript

#3291 feat(ns-openapi-2): add support for Parameters Definitions Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/ParametersDefinitions.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/parameters-definitions/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/ParametersDefinitions/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/ParametersDefinitions/index.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/SecurityDefinitions/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/SecurityDefinitions/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3292 feat(ns-openapi-2): add support for Definitions Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Definitions.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/definitions/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Definitions/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Definitions/index.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Parameter/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Parameter/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3293 feat(ns-openapi-2): add support for Response Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Response.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/response/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Response/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Response/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3295 feat(ns-openapi-2): add support for Responses Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Responses.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/generics/AlternatingVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/generics/MixedFieldsVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/responses/DefaultVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/responses/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Responses/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Responses/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3306 refactor(ns-openapi-2): use references in spec object
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3307 feat(ns-openapi-2): add support for PathItem Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/PathItem.ts
  packages/apidom-ns-openapi-2/src/elements/nces/PathItemParameters.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/generics/AlternatingVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/path-item/$RefVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/path-item/ParametersVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/path-item/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/PathItem/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/PathItem/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3312 feat(ns-openpai-2): add support for Paths Object
  packages/apidom-ns-openapi-2/README.md
  packages/apidom-ns-openapi-2/src/elements/Paths.ts
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/namespace.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-ns-openapi-2/src/refractor/registration.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/paths/index.ts
  packages/apidom-ns-openapi-2/src/traversal/visitor.ts
  packages/apidom-ns-openapi-2/test/predicates.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Paths/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Paths/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3314 chore(ns-openapi-2): prepare package for releasing
  package.json
  packages/apidom-ns-openapi-2/package.json
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/test/refractor/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/fixtures/openapi.json
  packages/apidom-ns-openapi-2/test/refractor/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3315 feat(ns-openapi-2): add replace empty elements refractor plugin
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-2/test/refractor/plugins/replace-empty-element/__snapshots__/mappings.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/plugins/replace-empty-element/__snapshots__/sequences.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/plugins/replace-empty-element/mappings.ts
  packages/apidom-ns-openapi-2/test/refractor/plugins/replace-empty-element/sequences.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3322 feat(core): support cycles in deep cloning
  packages/apidom-core/src/clone/index.ts
  packages/apidom-core/test/clone/index.ts
Labels: enhancement, ApiDOM

#3328 refactor: deep clone elements before assigning to structured errrors
  packages/apidom-ast/src/traversal/visitor.ts
  packages/apidom-ast/src/yaml/errors/YamlTagError.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/index.ts
  packages/apidom-core/src/clone/errors/CloneError.ts
  packages/apidom-core/src/deepmerge.ts
  packages/apidom-json-path/src/errors/EvaluationJsonPathError.ts
  packages/apidom-json-path/src/errors/MultiEvaluationJsonPathError.ts
  packages/apidom-json-path/src/evaluate-multi.ts
  packages/apidom-json-path/src/evaluate.ts
  packages/apidom-json-pointer-relative/src/errors/EvaluationRelativeJsonPointerError.ts
  packages/apidom-json-pointer-relative/src/evaluate.ts
  packages/apidom-json-pointer/src/errors/EvaluationJsonPointerError.ts
  packages/apidom-json-pointer/src/evaluate.ts
Labels: enhancement, ApiDOM

#3335 feat: add OpenAPI 2.0 YAML 1.2 parser adapter
  README.md
  package-lock.json
  package.json
  packages/apidom-parser-adapter-openapi-yaml-2/.eslintignore
  packages/apidom-parser-adapter-openapi-yaml-2/.gitignore
  packages/apidom-parser-adapter-openapi-yaml-2/.mocharc.json
  packages/apidom-parser-adapter-openapi-yaml-2/.npmrc
  packages/apidom-parser-adapter-openapi-yaml-2/README.md
  packages/apidom-parser-adapter-openapi-yaml-2/config/rollup/types.dist.js
  packages/apidom-parser-adapter-openapi-yaml-2/config/webpack/browser.config.js
  packages/apidom-parser-adapter-openapi-yaml-2/config/webpack/traits.config.js
  packages/apidom-parser-adapter-openapi-yaml-2/declaration.tsconfig.json
  packages/apidom-parser-adapter-openapi-yaml-2/package.json
  packages/apidom-parser-adapter-openapi-yaml-2/src/adapter.ts
  packages/apidom-parser-adapter-openapi-yaml-2/src/media-types.ts
  packages/apidom-parser-adapter-openapi-yaml-2/test/.eslintrc
  packages/apidom-parser-adapter-openapi-yaml-2/test/__snapshots__/adapter.ts.snap
  packages/apidom-parser-adapter-openapi-yaml-2/test/adapter.ts
  packages/apidom-parser-adapter-openapi-yaml-2/test/fixtures/sample-api.json
  packages/apidom-parser-adapter-openapi-yaml-2/test/fixtures/sample-api.yaml
  packages/apidom-parser-adapter-openapi-yaml-2/test/media-types.ts
  packages/apidom-parser-adapter-openapi-yaml-2/test/mocha-bootstrap.cjs
  packages/apidom-parser-adapter-openapi-yaml-2/tsconfig.json
Labels: enhancement, ApiDOM, YAML, OpenApi 2.0

#3336 feat(logging): track log record creation times
  packages/apidom-logging/src/LogRecord.ts
Labels: enhancement, ApiDOM

#3337 feat(logging): finish Formatter implementation
  packages/apidom-logging/src/Formatter.ts
  packages/apidom-logging/src/LogRecord.ts
  packages/apidom-logging/src/index.ts
Labels: enhancement, ApiDOM

#3345 feat(logging): add Placeholder implementation
  packages/apidom-logging/src/Logger.ts
  packages/apidom-logging/src/Placeholder.ts
Labels: enhancement, ApiDOM
