Repository swagger-api/apidom, pull requests merged in 2023-12, with the labels that each got.

#3487 refactor(reference): consolidate error hierarchies
  packages/apidom-reference/src/errors/MaximumResolverDepthError.ts
  packages/apidom-reference/src/errors/ParseError.ts
  packages/apidom-reference/src/errors/ParserError.ts
  packages/apidom-reference/src/errors/ResolveError.ts
  packages/apidom-reference/src/errors/ResolverError.ts
  packages/apidom-reference/src/errors/UnmatchedDereferenceStrategyError.ts
  packages/apidom-reference/src/errors/UnmatchedResolveStrategyError.ts
  packages/apidom-reference/src/index.ts
  packages/apidom-reference/src/parse/index.ts
  packages/apidom-reference/src/resolve/index.ts
  packages/apidom-reference/src/resolve/util.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/index.ts
  packages/apidom-reference/test/parse/index.ts
  packages/apidom-reference/test/resolve/index.ts
  packages/apidom-reference/test/resolve/strategies/openapi-2/reference-object/index.ts
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/schema-object/index.ts
Labels: enhancement, ApiDOM

#3488 feat(reference): add code infrastructure for bundle feature
  packages/apidom-reference/README.md
  packages/apidom-reference/package.json
  packages/apidom-reference/src/bundle/index.ts
  packages/apidom-reference/src/bundle/strategies/BundleStrategy.ts
  packages/apidom-reference/src/bundle/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/configuration/saturated.ts
  packages/apidom-reference/src/dereference/index.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/errors/BundleError.ts
  packages/apidom-reference/src/errors/MaximumBundleDepthError.ts
  packages/apidom-reference/src/errors/MaximumResolveDepthError.ts
  packages/apidom-reference/src/errors/MaximumResolverDepthError.ts
  packages/apidom-reference/src/errors/UnmatchedBundleStrategyError.ts
  packages/apidom-reference/src/index.ts
  packages/apidom-reference/src/options/index.ts
  packages/apidom-reference/src/resolve/index.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/types.ts
  packages/apidom-reference/test/bundle/bundle.ts
  packages/apidom-reference/test/bundle/strategies/openapi-3-1/reference-object/fixtures/internal-external/ex.json
  packages/apidom-reference/test/bundle/strategies/openapi-3-1/reference-object/fixtures/internal-external/root.json
  packages/apidom-reference/test/bundle/strategies/openapi-3-1/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/index.ts
  packages/apidom-reference/test/resolve/strategies/asyncapi-2/reference-object/index.ts
  packages/apidom-reference/test/resolve/strategies/openapi-2/json-reference-object/index.ts
  packages/apidom-reference/test/resolve/strategies/openapi-2/reference-object/index.ts
  packages/apidom-reference/test/resolve/strategies/openapi-3-0/reference-object/index.ts
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/reference-object/index.ts
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/schema-object/index.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#3471 feat(ns-workflows-1): Add Step Object
  packages/apidom-ns-workflows-1/README.md
  packages/apidom-ns-workflows-1/src/elements/Step.ts
  packages/apidom-ns-workflows-1/src/elements/nces/StepDependsOn.ts
  packages/apidom-ns-workflows-1/src/elements/nces/StepOnFailure.ts
  packages/apidom-ns-workflows-1/src/elements/nces/StepOnSuccess.ts
  packages/apidom-ns-workflows-1/src/elements/nces/StepOutputs.ts
  packages/apidom-ns-workflows-1/src/elements/nces/StepParameters.ts
  packages/apidom-ns-workflows-1/src/elements/nces/StepSuccessCriteria.ts
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/namespace.ts
  packages/apidom-ns-workflows-1/src/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/registration.ts
  packages/apidom-ns-workflows-1/src/refractor/specification.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/ParametersVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/DependsOnVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OnFailureVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OnSuccessVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OutputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/ParametersVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/SuccessCriteriaVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/index.ts
  packages/apidom-ns-workflows-1/src/traversal/visitor.ts
  packages/apidom-ns-workflows-1/test/predicates.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/Step/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/Step/index.ts
Labels: enhancement, ApiDOM, Workflows

#3493 fix(ls): add missing swagger root ApiDOM element type
  packages/apidom-ls/src/services/validation/linter-functions.ts
Labels: bug, ApiDOM, OpenApi 2.0

#3492 feat(ns-workflows-1): Add Workflow Object
  packages/apidom-ns-workflows-1/README.md
  packages/apidom-ns-workflows-1/src/elements/Workflow.ts
  packages/apidom-ns-workflows-1/src/elements/nces/WorkflowOutputs.ts
  packages/apidom-ns-workflows-1/src/elements/nces/WorkflowSteps.ts
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/namespace.ts
  packages/apidom-ns-workflows-1/src/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/registration.ts
  packages/apidom-ns-workflows-1/src/refractor/specification.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/OutputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/StepsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/index.ts
  packages/apidom-ns-workflows-1/src/traversal/visitor.ts
  packages/apidom-ns-workflows-1/test/predicates.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/Step/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/Step/index.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/Workflow/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/Workflow/index.ts
Labels: enhancement, ApiDOM, Workflows

#3494 refactor(ls): scope OpenAPI 3.x.y rules explicitly (batch 1)
  packages/apidom-ls/src/config/openapi/callback/completion.ts
  packages/apidom-ls/src/config/openapi/callback/documentation.ts
  packages/apidom-ls/src/config/openapi/callback/lint/values--type.ts
  packages/apidom-ls/src/config/openapi/components/completion.ts
  packages/apidom-ls/src/config/openapi/components/documentation.ts
  packages/apidom-ls/src/config/openapi/components/lint/allowed-fields-3-0.ts
  packages/apidom-ls/src/config/openapi/components/lint/allowed-fields-3-1.ts
  packages/apidom-ls/src/config/openapi/components/lint/callbacks--values-type.ts
  packages/apidom-ls/src/config/openapi/components/lint/examples--values-type.ts
  packages/apidom-ls/src/config/openapi/components/lint/headers--values-type.ts
  packages/apidom-ls/src/config/openapi/components/lint/keys--pattern.ts
  packages/apidom-ls/src/config/openapi/components/lint/links--values-type.ts
  packages/apidom-ls/src/config/openapi/components/lint/parameters--values-type.ts
  packages/apidom-ls/src/config/openapi/components/lint/path-items--values-type.ts
  packages/apidom-ls/src/config/openapi/components/lint/request-bodies--values-type.ts
  packages/apidom-ls/src/config/openapi/components/lint/responses--values-type.ts
  packages/apidom-ls/src/config/openapi/components/lint/schemas--values-type.ts
  packages/apidom-ls/src/config/openapi/components/lint/security-schemes--values-type.ts
  packages/apidom-ls/src/config/openapi/contact/completion.ts
  packages/apidom-ls/src/config/openapi/contact/documentation.ts
  packages/apidom-ls/src/config/openapi/contact/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/contact/lint/email--format-email.ts
  packages/apidom-ls/src/config/openapi/contact/lint/name--type.ts
  packages/apidom-ls/src/config/openapi/contact/lint/url--format-uri.ts
  packages/apidom-ls/src/config/openapi/content/completion.ts
  packages/apidom-ls/src/config/openapi/discriminator/completion.ts
  packages/apidom-ls/src/config/openapi/discriminator/documentation.ts
  packages/apidom-ls/src/config/openapi/discriminator/lint/allowed-fields-3-0.ts
  packages/apidom-ls/src/config/openapi/discriminator/lint/allowed-fields-3-1.ts
  packages/apidom-ls/src/config/openapi/discriminator/lint/mapping--type.ts
  packages/apidom-ls/src/config/openapi/discriminator/lint/property-name--required.ts
  packages/apidom-ls/src/config/openapi/discriminator/lint/property-name--type.ts
  packages/apidom-ls/src/config/openapi/encoding/completion.ts
  packages/apidom-ls/src/config/openapi/encoding/documentation.ts
  packages/apidom-ls/src/config/openapi/encoding/lint/allow-reserved--type.ts
  packages/apidom-ls/src/config/openapi/encoding/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/encoding/lint/content-type--type.ts
  packages/apidom-ls/src/config/openapi/encoding/lint/explode--type.ts
  packages/apidom-ls/src/config/openapi/encoding/lint/headers--values-type.ts
  packages/apidom-ls/src/config/openapi/encoding/lint/style--type.ts
  packages/apidom-ls/src/config/openapi/swagger/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/target-specs.ts
  packages/apidom-ls/test/complete.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0

#3496 feat(ns-workflows-1): Add Workflows Spec Object
  packages/apidom-ns-workflows-1/README.md
  packages/apidom-ns-workflows-1/src/elements/WorkflowsSpecification1.ts
  packages/apidom-ns-workflows-1/src/elements/nces/Workflows.ts
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/specification.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/WorkflowsVisitor.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/WorkflowsSpecification1/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/WorkflowsSpecification1/index.ts
Labels: enhancement, ApiDOM, Workflows

#3504 docs(README): document how to obtain current SBOM
  README.md
  apidom.spdx.yaml
Labels: documentation, enhancement, ApiDOM

#3506 chore(ns-workflows-1): prepare for the first release
  README.md
  packages/apidom-ns-workflows-1/package.json
Labels: enhancement, ApiDOM, Workflows

#3507 feat(ls): add missing OpenAPI 2.0 symbols
  packages/apidom-ls/src/config/ads/symbols.ts
  packages/apidom-ls/src/config/asyncapi/symbols.ts
  packages/apidom-ls/src/config/openapi/symbols.ts
  packages/apidom-ls/src/config/symbols.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3508 feat(ls): add missing OpenAPI 2.0 semantic tokens
  packages/apidom-ls/src/config/ads/tokens.ts
  packages/apidom-ls/src/config/asyncapi/tokens.ts
  packages/apidom-ls/src/config/openapi/tokens.ts
  packages/apidom-ls/src/config/tokens.ts
  packages/apidom-ns-openapi-2/src/elements/nces/OperationTags.ts
  packages/apidom-ns-openapi-2/src/refractor/specification.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/BasePathVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/HostVisitor.ts
  packages/apidom-ns-openapi-2/test/refractor/__snapshots__/index.ts.snap
Labels: enhancement, ApiDOM, OpenApi 2.0

#3532 feat: allow linting OpenAPI path templates
  package-lock.json
  packages/apidom-ls/package.json
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/path-template/lint/index.ts
  packages/apidom-ls/src/config/openapi/path-template/lint/value--valid.ts
  packages/apidom-ls/src/config/openapi/path-template/lint/value--well-formed.ts
  packages/apidom-ls/src/config/openapi/path-template/meta.ts
  packages/apidom-ls/src/config/openapi/paths/lint/index.ts
  packages/apidom-ls/src/config/openapi/paths/lint/keys--pattern.ts
  packages/apidom-ls/src/config/openapi/paths/lint/values--type.ts
  packages/apidom-ls/src/services/validation/linter-functions.ts
  packages/apidom-ns-api-design-systems/test/refractor/plugins/openapi-3-1/__snapshots__/standard-identifier-selectors.ts.snap
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/paths/index.ts
  packages/apidom-ns-openapi-2/test/refractor/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/paths/index.ts
  packages/apidom-ns-openapi-3-0/test/refractor/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-operation-ids/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/callbacks/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/paths/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-servers/__snapshots__/index.ts.snap
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0, OpenApi 2.0

#3530 feat(parser-adapter-workflows-1): Add JSON and YAML parser adapters
  package-lock.json
  packages/apidom-parser-adapter-workflows-json-1/.eslintignore
  packages/apidom-parser-adapter-workflows-json-1/.gitignore
  packages/apidom-parser-adapter-workflows-json-1/.mocharc.json
  packages/apidom-parser-adapter-workflows-json-1/.npmrc
  packages/apidom-parser-adapter-workflows-json-1/CHANGELOG.md
  packages/apidom-parser-adapter-workflows-json-1/README.md
  packages/apidom-parser-adapter-workflows-json-1/config/rollup/types.dist.js
  packages/apidom-parser-adapter-workflows-json-1/config/webpack/browser.config.js
  packages/apidom-parser-adapter-workflows-json-1/config/webpack/traits.config.js
  packages/apidom-parser-adapter-workflows-json-1/declaration.tsconfig.json
  packages/apidom-parser-adapter-workflows-json-1/package.json
  packages/apidom-parser-adapter-workflows-json-1/src/adapter.ts
  packages/apidom-parser-adapter-workflows-json-1/src/media-types.ts
  packages/apidom-parser-adapter-workflows-json-1/test/.eslintrc
  packages/apidom-parser-adapter-workflows-json-1/test/__snapshots__/adapter.ts.snap
  packages/apidom-parser-adapter-workflows-json-1/test/adapter.ts
  packages/apidom-parser-adapter-workflows-json-1/test/fixtures/sample-workflow.json
  packages/apidom-parser-adapter-workflows-json-1/test/fixtures/sample-workflow.yaml
  packages/apidom-parser-adapter-workflows-json-1/test/media-types.ts
  packages/apidom-parser-adapter-workflows-json-1/test/mocha-bootstrap.cjs
  packages/apidom-parser-adapter-workflows-json-1/tsconfig.json
  packages/apidom-parser-adapter-workflows-yaml-1/.eslintignore
  packages/apidom-parser-adapter-workflows-yaml-1/.gitignore
  packages/apidom-parser-adapter-workflows-yaml-1/.mocharc.json
  packages/apidom-parser-adapter-workflows-yaml-1/.npmrc
  packages/apidom-parser-adapter-workflows-yaml-1/CHANGELOG.md
  packages/apidom-parser-adapter-workflows-yaml-1/README.md
  packages/apidom-parser-adapter-workflows-yaml-1/config/rollup/types.dist.js
  packages/apidom-parser-adapter-workflows-yaml-1/config/webpack/browser.config.js
  packages/apidom-parser-adapter-workflows-yaml-1/config/webpack/traits.config.js
  packages/apidom-parser-adapter-workflows-yaml-1/declaration.tsconfig.json
  packages/apidom-parser-adapter-workflows-yaml-1/package.json
  packages/apidom-parser-adapter-workflows-yaml-1/src/adapter.ts
  packages/apidom-parser-adapter-workflows-yaml-1/src/media-types.ts
  packages/apidom-parser-adapter-workflows-yaml-1/test/.eslintrc
  packages/apidom-parser-adapter-workflows-yaml-1/test/__snapshots__/adapter.ts.snap
  packages/apidom-parser-adapter-workflows-yaml-1/test/adapter.ts
  packages/apidom-parser-adapter-workflows-yaml-1/test/fixtures/sample-workflow.json
  packages/apidom-parser-adapter-workflows-yaml-1/test/fixtures/sample-workflow.yaml
  packages/apidom-parser-adapter-workflows-yaml-1/test/media-types.ts
  packages/apidom-parser-adapter-workflows-yaml-1/test/mocha-bootstrap.cjs
  packages/apidom-parser-adapter-workflows-yaml-1/tsconfig.json
Labels: enhancement, ApiDOM, Workflows

#3533 chore(parser-adapter-workflos-json-1): integrate into monorepo
  README.md
  package-lock.json
  package.json
  packages/apidom-ns-workflows-1/package.json
  packages/apidom-parser-adapter-workflows-json-1/CHANGELOG.md
  packages/apidom-parser-adapter-workflows-json-1/README.md
  packages/apidom-parser-adapter-workflows-json-1/package.json
Labels: enhancement, ApiDOM, Workflows

#3534 chore(parser-adapter-workflows-yaml-1): integrate into monorepo
  README.md
  package.json
  packages/apidom-parser-adapter-workflows-json-1/README.md
  packages/apidom-parser-adapter-workflows-yaml-1/CHANGELOG.md
  packages/apidom-parser-adapter-workflows-yaml-1/README.md
  packages/apidom-parser-adapter-workflows-yaml-1/package.json
Labels: enhancement, ApiDOM, Workflows

#3535 feat(apidom-playground): Add Workflows Spec support
  packages/apidom-playground/package.json
  packages/apidom-playground/src/playground/apidom.worker.js
  packages/apidom-playground/src/playground/selectors.js
Labels: enhancement, ApiDOM, Workflows

#3541 chore(playground): update swagger-adjust to v0.6.1
  package-lock.json
  packages/apidom-playground/package.json
Labels: enhancement, ApiDOM, dependencies

#3542 docs: add SUPPORT.md
  .github/SUPPORT.md
Labels: documentation, enhancement

#3538 feat(apidom-ls): path template match parameter object lint
  package-lock.json
  packages/apidom-ls/package.json
  packages/apidom-ls/src/services/validation/linter-functions.ts
  packages/apidom-ls/test/fixtures/validation/oas/path-template-all-defined-2-0.yaml
  packages/apidom-ls/test/fixtures/validation/oas/path-template-all-defined-3-0.yaml
  packages/apidom-ls/test/fixtures/validation/oas/path-template-all-defined-3-1.yaml
  packages/apidom-ls/test/validate.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0, OpenApi 2.0

#3548 feat(ls): add doc rule for OpenAPI 2.0 Info Object
  packages/apidom-ls/src/config/openapi/info/documentation.ts
Labels: ApiDOM, OpenApi 2.0

#3550 feat(ls): add rules for OpenAPI 2.0 Contact Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/contact/completion.ts
  packages/apidom-ls/src/config/openapi/contact/documentation.ts
  packages/apidom-ls/src/config/openapi/contact/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/contact/lint/email--format-email.ts
  packages/apidom-ls/src/config/openapi/contact/lint/name--type.ts
  packages/apidom-ls/src/config/openapi/contact/lint/url--format-uri.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3551 feat(ls): add rules for OpenAPI 2.0 License Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/license/completion.ts
  packages/apidom-ls/src/config/openapi/license/documentation.ts
  packages/apidom-ls/src/config/openapi/license/lint/allowed-fields-2-0--3-0.ts
  packages/apidom-ls/src/config/openapi/license/lint/index.ts
  packages/apidom-ls/src/config/openapi/license/lint/name--required.ts
  packages/apidom-ls/src/config/openapi/license/lint/name--type.ts
  packages/apidom-ls/src/config/openapi/license/lint/url--format-uri.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3552 refactor(ls): make rules scoping forward incompatible
  packages/apidom-ls/src/config/openapi/contact/completion.ts
  packages/apidom-ls/src/config/openapi/contact/documentation.ts
  packages/apidom-ls/src/config/openapi/contact/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/contact/lint/email--format-email.ts
  packages/apidom-ls/src/config/openapi/contact/lint/name--type.ts
  packages/apidom-ls/src/config/openapi/contact/lint/url--format-uri.ts
  packages/apidom-ls/src/config/openapi/info/lint/contact--type.ts
  packages/apidom-ls/src/config/openapi/info/lint/description--type.ts
  packages/apidom-ls/src/config/openapi/info/lint/license--type.ts
  packages/apidom-ls/src/config/openapi/info/lint/title--required.ts
  packages/apidom-ls/src/config/openapi/info/lint/title--type.ts
  packages/apidom-ls/src/config/openapi/info/lint/version--required.ts
  packages/apidom-ls/src/config/openapi/info/lint/version--type.ts
  packages/apidom-ls/src/config/openapi/license/lint/name--required.ts
  packages/apidom-ls/src/config/openapi/license/lint/name--type.ts
  packages/apidom-ls/src/config/openapi/path-template/lint/value--valid.ts
  packages/apidom-ls/src/config/openapi/path-template/lint/value--well-formed.ts
  packages/apidom-ls/src/config/openapi/target-specs.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3553 feat(ls): add rules for OpenAPI 2.0 Paths Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/paths/documentation.ts
  packages/apidom-ls/src/config/openapi/paths/lint/values--type.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3559 fix(ns-json-schema-draft-4): fix $schema keyword setter
  packages/apidom-ns-json-schema-draft-4/src/elements/JSONSchema.ts
Labels: bug, ApiDOM, JSON Schema

#3566 fix(ls): Fix regex in Swagger 2.0 basePath linting rule
  packages/apidom-ls/src/config/openapi/swagger/lint/base-path--pattern.ts
Labels: bug, ApiDOM

#3569 test(reference): fix File.uri prop in tests
  packages/apidom-reference/test/parse/parsers/api-design-systems-json/index.ts
  packages/apidom-reference/test/parse/parsers/api-design-systems-yaml/index.ts
  packages/apidom-reference/test/parse/parsers/asyncapi-json-2/index.ts
  packages/apidom-reference/test/parse/parsers/asyncapi-yaml-2/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-json-2/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-json-3-0/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-json-3-1/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-yaml-2/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-yaml-3-0/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-yaml-3-1/index.ts
Labels: enhancement, ApiDOM, tests

#3568 feat(reference): add Workflows 1.0.0 JSON parser plugin
  packages/apidom-reference/README.md
  packages/apidom-reference/package.json
  packages/apidom-reference/src/configuration/saturated.ts
  packages/apidom-reference/src/parse/parsers/workflows-json-1/index.ts
  packages/apidom-reference/test/parse/parsers/workflows-json-1/fixtures/sample-workflow.json
  packages/apidom-reference/test/parse/parsers/workflows-json-1/index.ts
Labels: enhancement, ApiDOM, JSON, Workflows

#3572 Workflows-1-reference-parser-yaml
  package-lock.json
  packages/apidom-reference/README.md
  packages/apidom-reference/package.json
  packages/apidom-reference/src/configuration/saturated.ts
  packages/apidom-reference/src/parse/parsers/workflows-yaml-1/index.ts
  packages/apidom-reference/test/parse/parsers/workflows-yaml-1/fixtures/sample-workflow.yaml
  packages/apidom-reference/test/parse/parsers/workflows-yaml-1/index.ts
Labels: enhancement, ApiDOM, YAML, Workflows
