Repository swagger-api/apidom, pull requests merged in 2023-07, with the labels that each got.

#2909 fix(apidom-ls): add deprecated warning for example property
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/common/schema/lint/example--deprecated.ts
  packages/apidom-ls/src/config/common/schema/lint/index.ts
  packages/apidom-ls/test/fixtures/validation/oas/issue2141.yaml
  packages/apidom-ls/test/validate.ts
Labels: bug, OpenAPI 3.1, ApiDOM

#2916 refactor(reference): use babel plugin to capture error causes
  package-lock.json
  package.json
  packages/apidom-reference/src/util/errors/CausedError.ts
  packages/apidom-reference/src/util/errors/DereferenceError.ts
  packages/apidom-reference/src/util/errors/InvalidSelectorError.ts
  packages/apidom-reference/src/util/errors/NotImplementedError.ts
  packages/apidom-reference/src/util/errors/ParserError.ts
  packages/apidom-reference/src/util/errors/PluginError.ts
  packages/apidom-reference/src/util/errors/ResolverError.ts
Labels: enhancement, ApiDOM

#2917 fix(ls): add support for AsyncAPI 2.5/2.6 to common Schema Object
  packages/apidom-ls/src/config/common/schema/lint/$ref--no-siblings.ts
  packages/apidom-ls/src/config/common/schema/lint/deprecated--type.ts
  packages/apidom-ls/src/config/common/schema/lint/discriminator--exist-in-required.ts
  packages/apidom-ls/src/config/common/schema/lint/discriminator--type-asyncapi-2-0--2-4.ts
Labels: bug, ApiDOM, AsyncAPI 2.x

#2919 ci(dependabot): ignore updating tree-sitter dependency
  .github/dependabot.yml
Labels: ApiDOM, YAML, CICD, dependencies

#2930 feat (apidom-ls): Change error message for type linting rules
  packages/apidom-ls/src/config/asyncapi/security-scheme/lint/type--equals-2-0.ts
  packages/apidom-ls/src/config/asyncapi/security-scheme/lint/type--equals-2-1--2-6.ts
  packages/apidom-ls/src/config/openapi/security-scheme/lint/type--equals-3-0.ts
  packages/apidom-ls/src/config/openapi/security-scheme/lint/type--equals-3-1.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, AsyncAPI 2.x, OpenApi 3.0

#2931 feat: add better YAML syntax error messages
  packages/apidom-ls/test/openapi-yaml.ts
  packages/apidom-ls/test/validate.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/visitors/YamlAstVisitor.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-browser.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/index.ts
Labels: enhancement, ApiDOM, YAML

#2935 chore(package): install husky with proper permissions
  package.json
Labels: enhancement, ApiDOM

#2936 docs(README): add GCC to prerequisites list
  README.md
Labels: documentation, enhancement, ApiDOM

#2940 test(reference): provide new OpenAPI 3.1.0 dereference test cases
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/util.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/$anchor-internal-no-embedding/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/$anchor-internal-no-embedding/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/$ref-url-path-override/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/$ref-url-path-override/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/index.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2941 feat(reference): support native fragment deref/resolve - Schema Object
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/dereference-apidom.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#2944 feat(reference): support native fragment deref/resolve - OpenAPI 3.0.x
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/path-item-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/dereference-apidom.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2951 revert: use babel plugin to capture error causes
  .github/dependabot.yml
  package-lock.json
  package.json
  packages/apidom-reference/src/util/errors/CausedError.ts
  packages/apidom-reference/src/util/errors/DereferenceError.ts
  packages/apidom-reference/src/util/errors/InvalidSelectorError.ts
  packages/apidom-reference/src/util/errors/NotImplementedError.ts
  packages/apidom-reference/src/util/errors/ParserError.ts
  packages/apidom-reference/src/util/errors/PluginError.ts
  packages/apidom-reference/src/util/errors/ResolverError.ts
Labels: bug, ApiDOM

#2955 perf(parser-adapter-yaml-1-2): use tree-sitter cursor for CST traversal
  packages/apidom-parser-adapter-yaml-1-2/package.json
  packages/apidom-parser-adapter-yaml-1-2/src/adapter-browser.ts
  packages/apidom-parser-adapter-yaml-1-2/src/adapter-node.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/TreeCursorIterator.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/TreeCursorSyntaxNode.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/index.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/YamlAstVisitor.ts
  packages/apidom-parser-adapter-yaml-1-2/test/perf/index.cjs
  packages/apidom-parser-adapter-yaml-1-2/test/perf/parse-syntactic-analysis-indirect.cjs
  packages/apidom-parser-adapter-yaml-1-2/test/syntactic-analysis/TreeCursorIterator.ts
  packages/apidom-parser-adapter-yaml-1-2/test/syntactic-analysis/__snapshots__/TreeCursorIterator.ts.snap
Labels: enhancement, ApiDOM, YAML

#2972 chore(ls): add apidom-json-path to dependencies
  .log1689779474599
  package-lock.json
  packages/apidom-ls/package.json
Labels: bug, ApiDOM, dependencies

#2981 refactor(ls): align linting of Operation.requestBody with existing rules
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/operation/lint/index.ts
  packages/apidom-ls/src/config/openapi/operation/lint/request-body--allowed.ts
  packages/apidom-ls/src/config/openapi/operation/lint/request-body--tentatively-allowed.ts
  packages/apidom-ls/src/services/validation/linter-functions.ts
  packages/apidom-ls/test/openapi-json.ts
  packages/apidom-ls/test/openapi-yaml.ts
  packages/apidom-ls/test/validate.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0

#2987 fix(ns-openapi-3-0): provide missing reference metadata
  packages/apidom-ns-openapi-3-0/src/refractor/specification.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/schema/DependenciesVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/schema/PatternPropertiesVisitor.ts
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Schema/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Schema/index.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#2988 fix(ns-openapi-3-0): provide missing reference metadata
  packages/apidom-ns-openapi-3-0/src/refractor/specification.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/schema/DefinitionsVisitor.ts
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Schema/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Schema/index.ts
Labels: enhancement, ApiDOM, OpenApi 3.0
