Repository swagger-api/apidom, pull requests merged in 2023-11, with the labels that each got.

#3351 feat(playground): add support for OpenAPI 2.0 parsing
  package-lock.json
  packages/apidom-playground/package.json
  packages/apidom-playground/src/playground/apidom.worker.js
  packages/apidom-playground/src/playground/selectors.js
Labels: enhancement, ApiDOM, OpenApi 2.0

#3353 refactor(error): use native JavaScript features
  package-lock.json
  packages/apidom-error/package.json
  packages/apidom-error/src/ApiDOMAggregateError.ts
  packages/apidom-error/src/ApiDOMError.ts
  packages/apidom-error/src/ApiDOMStructuredError.ts
Labels: enhancement, ApiDOM

#3355 fix(ns-openapi-3-1): fix normalize-servers refractor plugin
  packages/apidom-ns-openapi-3-0/src/index.ts
  packages/apidom-ns-openapi-3-0/src/predicates.ts
  packages/apidom-ns-openapi-3-1/src/index.ts
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/normalize-servers.ts
  packages/apidom-ns-openapi-3-1/src/refractor/toolbox.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-servers/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-servers/index.ts
Labels: bug, OpenAPI 3.1, ApiDOM

#3356 fix: return support for Node.js >=12.20.0
  packages/apidom-ast/src/traversal/visitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-2/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-3-0/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/normalize-servers.ts
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/direct/index.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/indirect/index.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/index.ts
Labels: ApiDOM, regression

#3357 refactor: use array destructuring instead of array access
  packages/apidom-parser-adapter-json/src/syntactic-analysis/direct/index.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/indirect/index.ts
  packages/apidom-parser-adapter-json/test/syntactic-analysis/TreeCursorIterator.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/index.ts
  packages/apidom-parser-adapter-yaml-1-2/test/syntactic-analysis/TreeCursorIterator.ts
Labels: enhancement, ApiDOM

#3361 fix(reference): fix handling cycles in all dereference strategies
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/dereference/util.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/cycle-internal-advanced/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/index.ts
Labels: bug, OpenAPI 3.1, ApiDOM, OpenApi 3.0, OpenApi 2.0

#3375 docs(README): set minimum Node.js dev version to v20.3.0
  README.md
Labels: documentation, enhancement, ApiDOM

#3383 docs(core): document symbolic expression tranformer
  packages/apidom-core/README.md
Labels: documentation, enhancement, ApiDOM

#3384 chore(deps): update ramda to v0.29.1
  package-lock.json
  packages/apidom-ast/package.json
  packages/apidom-core/package.json
  packages/apidom-json-pointer-relative/package.json
  packages/apidom-json-pointer/package.json
  packages/apidom-ls/package.json
  packages/apidom-ns-api-design-systems/package.json
  packages/apidom-ns-asyncapi-2/package.json
  packages/apidom-ns-json-schema-draft-4/package.json
  packages/apidom-ns-json-schema-draft-6/package.json
  packages/apidom-ns-json-schema-draft-7/package.json
  packages/apidom-ns-openapi-2/package.json
  packages/apidom-ns-openapi-3-0/package.json
  packages/apidom-ns-openapi-3-1/package.json
  packages/apidom-ns-workflows-1/package.json
  packages/apidom-parser-adapter-api-design-systems-json/package.json
  packages/apidom-parser-adapter-api-design-systems-yaml/package.json
  packages/apidom-parser-adapter-asyncapi-json-2/package.json
  packages/apidom-parser-adapter-asyncapi-yaml-2/package.json
  packages/apidom-parser-adapter-json/package.json
  packages/apidom-parser-adapter-openapi-json-2/package.json
  packages/apidom-parser-adapter-openapi-json-3-0/package.json
  packages/apidom-parser-adapter-openapi-json-3-1/package.json
  packages/apidom-parser-adapter-openapi-yaml-2/package.json
  packages/apidom-parser-adapter-openapi-yaml-3-0/package.json
  packages/apidom-parser-adapter-openapi-yaml-3-1/package.json
  packages/apidom-parser-adapter-yaml-1-2/package.json
  packages/apidom-parser/package.json
  packages/apidom-reference/package.json
Labels: ApiDOM, dependencies

#3400 fix(ns-workflows-1): use proper version in media types
  packages/apidom-ns-workflows-1/src/media-types.ts
Labels: bug, ApiDOM, Workflows

#3401 chore(deps-dev): bump prettier from 3.0.3 to 3.1.0
  package-lock.json
  package.json
  packages/apidom-ast/src/traversal/visitor.ts
  packages/apidom-core/src/traversal/visitor.ts
  packages/apidom-ls/src/services/deref/deref-service.ts
  packages/apidom-ls/src/utils/utils.ts
  packages/apidom-ns-api-design-systems/src/refractor/plugins/openapi-3-1/standard-identifier-selectors.ts
  packages/apidom-ns-asyncapi-2/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/ChannelBindingsVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/CorrelationIdsVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/MessageBindingsVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/MessageTraitsVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/MessagesVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/OperationBindingsVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/OperationTraitsVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/ParametersVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/SchemasVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/SecuritySchemesVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/ServerBindingsVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/ServerVariablesVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/components/ServersVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/parameters/index.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/async-api-2/servers/index.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-2/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-3-0/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/components/CallbacksVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/components/ExamplesVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/components/HeadersVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/components/LinksVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/components/ParametersVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/components/RequestBodiesVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/components/ResponsesVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/components/SchemasVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/components/SecuritySchemesVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/response/HeadersVisitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/response/LinksVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/WebhooksVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/components/PathItemsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
Labels: enhancement, ApiDOM, dependencies

#3402 refactor: use unified system of passing options to visitors
  packages/apidom-ns-api-design-systems/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/SpecificationVisitor.ts
Labels: enhancement, ApiDOM

#3411 fix(ast): remove redundant cycle detection
  packages/apidom-ast/src/traversal/visitor.ts
Labels: bug, ApiDOM

#3412 feat(ast): see edits by the following merged visitors
  packages/apidom-ast/src/traversal/visitor.ts
  packages/apidom-ast/test/traversal/visitor.ts
  packages/apidom-ast/test/visitor.ts
  packages/apidom-core/src/refractor/plugins/utils/index.ts
Labels: enhancement, ApiDOM

#3413 docs(README): add mention of Babel Plugin Handbook
  README.md
Labels: documentation, enhancement, ApiDOM

#3414 refactor(ns-asyncapi-2): simplify the replace empty elements refractor plugin
  packages/apidom-ns-asyncapi-2/src/refractor/plugins/replace-empty-element.ts
Labels: enhancement, ApiDOM

#3403 feat: Add sourceDescription to ns-workflows-1
  packages/apidom-ns-workflows-1/README.md
  packages/apidom-ns-workflows-1/src/elements/SourceDescription.ts
  packages/apidom-ns-workflows-1/src/elements/WorkflowsSpecification1.ts
  packages/apidom-ns-workflows-1/src/elements/nces/SourceDescriptions.ts
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/namespace.ts
  packages/apidom-ns-workflows-1/src/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/registration.ts
  packages/apidom-ns-workflows-1/src/refractor/specification.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/SourceDescriptionsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/source-description/UrlVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/source-description/index.ts
  packages/apidom-ns-workflows-1/src/traversal/visitor.ts
  packages/apidom-ns-workflows-1/test/index.ts
  packages/apidom-ns-workflows-1/test/predicates.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/SourceDescription/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/SourceDescription/index.ts
Labels: enhancement, ApiDOM, Workflows

#3415 refactor(ns-json-schema-draft-4): simplify the replace empty elements
  packages/apidom-ns-json-schema-draft-4/src/refractor/plugins/replace-empty-element.ts
Labels: enhancement, ApiDOM, JSON Schema

#3416 refactor(ns-json-schema-draft-6): simplify the replace empty elements refractor plugin
  packages/apidom-ns-json-schema-draft-6/src/refractor/plugins/replace-empty-element.ts
Labels: enhancement, ApiDOM, JSON Schema

#3417 refactor(ns-json-schema-draft-7): simplify the replace empty elements refractor plugin
  packages/apidom-ns-json-schema-draft-7/src/refractor/plugins/replace-empty-element.ts
Labels: enhancement, ApiDOM, JSON Schema

#3418 refactor(ns-openapi-2): simplify the replace empty elements refractor plugin
  packages/apidom-ns-openapi-2/src/refractor/plugins/replace-empty-element.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3419 refactor(ns-openapi-3-0): simplify the replace empty elements refractor plugin
  packages/apidom-ns-openapi-3-0/src/refractor/plugins/replace-empty-element.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#3420 refactor(ns-openapi-3-1): simplify the replace empty elements refractor plugin
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-3-1/src/refractor/toolbox.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#3421 refactor(ns-workflows-1): simplify the replace empty elements refractor plugin
  packages/apidom-ns-workflows-1/src/refractor/plugins/replace-empty-element.ts
Labels: enhancement, ApiDOM, Workflows

#3407 feat(ns-workflows-1): Add Criterion Object
  packages/apidom-ns-workflows-1/README.md
  packages/apidom-ns-workflows-1/src/elements/Criterion.ts
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/namespace.ts
  packages/apidom-ns-workflows-1/src/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/registration.ts
  packages/apidom-ns-workflows-1/src/refractor/specification.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/criterion/index.ts
  packages/apidom-ns-workflows-1/src/traversal/visitor.ts
  packages/apidom-ns-workflows-1/test/predicates.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/Criterion/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/Criterion/index.ts
Labels: enhancement, ApiDOM, Workflows

#3427 chore(deps-dev): bump typescript from 5.2.2 to 5.3.2
  package-lock.json
  package.json
  packages/apidom-core/package.json
  scripts/file-prepend-bof.js
  scripts/file-replace-bof.js
Labels: enhancement, ApiDOM, dependencies

#3429 feat(ns-workflows-1): Add Failure Action Obj
  packages/apidom-ns-workflows-1/README.md
  packages/apidom-ns-workflows-1/src/elements/FailureAction.ts
  packages/apidom-ns-workflows-1/src/elements/nces/FailureActionCriteria.ts
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/namespace.ts
  packages/apidom-ns-workflows-1/src/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/registration.ts
  packages/apidom-ns-workflows-1/src/refractor/specification.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/FailureActionCriteriaVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/failure-action/index.ts
  packages/apidom-ns-workflows-1/src/traversal/visitor.ts
  packages/apidom-ns-workflows-1/test/predicates.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/FailureAction/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/FailureAction/index.ts
Labels: enhancement, ApiDOM, Workflows

#3436 feat(ns-workflows-1): Add Parameter Object
  packages/apidom-ns-workflows-1/README.md
  packages/apidom-ns-workflows-1/src/elements/Parameter.ts
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/namespace.ts
  packages/apidom-ns-workflows-1/src/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/registration.ts
  packages/apidom-ns-workflows-1/src/refractor/specification.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/parameter/index.ts
  packages/apidom-ns-workflows-1/src/traversal/visitor.ts
  packages/apidom-ns-workflows-1/test/predicates.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/Parameter/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/Parameter/index.ts
Labels: enhancement, ApiDOM, Workflows

#3442 test(reference): add tests for OpenAPI 2.0 JSONReference dereference
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/additional-ignored-fields/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/additional-ignored-fields/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/additional-ignored-fields/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/direct-external-circular/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/direct-external-circular/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/direct-internal-circular/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-circular-dependency/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-circular-dependency/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-circular-dependency/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-indirections/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-indirections/ex1.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-indirections/ex2.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-indirections/ex3.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-indirections/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-only-absolute-url/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-only-absolute-url/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-only-absolute-url/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-only/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-only/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-only/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/ignore-arbitrary-$refs/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/ignore-arbitrary-$refs/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/ignore-arbitrary-$refs/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/ignore-external/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/ignore-external/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/ignore-external/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/indirect-external-circular/ex1.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/indirect-external-circular/ex2.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/indirect-external-circular/ex3.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/indirect-external-circular/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/indirect-internal-circular/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/internal-external/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/internal-external/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/internal-external/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/internal-only/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/internal-only/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/invalid-pointer/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/max-depth/ex1.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/max-depth/ex2.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/max-depth/ex3.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/max-depth/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/path-encoding/path with spaces/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/path-encoding/path with spaces/ex1.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/path-encoding/path with spaces/ex2.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/path-encoding/path with spaces/ex3.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/path-encoding/path with spaces/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/refset-as-option/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/refset-as-option/ex1.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/refset-as-option/ex2.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/refset-as-option/ex3.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/refset-as-option/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/unresolvable-reference/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/index.ts
Labels: ApiDOM, OpenApi 2.0, tests

#3443 test(reference): add tests for OpenAPI 2.0 Path Item dereference
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/additional-fields/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/additional-fields/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/direct-external-circular/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/direct-external-circular/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/direct-internal-circular/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/external-indirections/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/external-indirections/ex1.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/external-indirections/ex2.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/external-indirections/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/external-only/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/external-only/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/external-only/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/ignore-external/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/ignore-external/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/ignore-external/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/indirect-external-circular/ex1.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/indirect-external-circular/ex2.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/indirect-external-circular/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/indirect-internal-circular/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/internal-external/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/internal-external/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/internal-external/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/internal-indirections/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/internal-indirections/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/internal-only/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/internal-only/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/invalid-pointer/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/max-depth/ex1.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/max-depth/ex2.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/max-depth/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/fixtures/unresolvable-path-item/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/path-item-object/index.ts
Labels: ApiDOM, OpenApi 2.0, tests

#3444 test(reference): add location tests for OpenAPI 2.0 dereference
  packages/apidom-reference/test/dereference/strategies/openapi-2/parameter-object/fixtures/operation-object/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/parameter-object/fixtures/operation-object/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/parameter-object/fixtures/path-item-object/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/parameter-object/fixtures/path-item-object/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/parameter-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/response-object/fixtures/responses-object/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/response-object/fixtures/responses-object/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/response-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/schema-object/fixtures/definitions/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/schema-object/fixtures/definitions/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/schema-object/fixtures/parameter-object/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/schema-object/fixtures/parameter-object/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/schema-object/fixtures/response-object/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/schema-object/fixtures/response-object/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/schema-object/index.ts
Labels: ApiDOM, OpenApi 2.0, tests

#3445 feat(ns-workflows-1): add support for JSONSchema Object
  package-lock.json
  packages/apidom-ns-openapi-3-1/src/elements/Schema.ts
  packages/apidom-ns-openapi-3-1/src/index.ts
  packages/apidom-ns-openapi-3-1/src/refractor/specification.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/schema/index.ts
  packages/apidom-ns-workflows-1/README.md
  packages/apidom-ns-workflows-1/package.json
  packages/apidom-ns-workflows-1/src/elements/JSONSchema.ts
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/namespace.ts
  packages/apidom-ns-workflows-1/src/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/registration.ts
  packages/apidom-ns-workflows-1/src/refractor/specification.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/json-schema/index.ts
  packages/apidom-ns-workflows-1/src/traversal/visitor.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/JSONSchema/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/JSONSchema/embedded-resources-$id.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/JSONSchema/embedded-resources-$schema.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/JSONSchema/index.ts
Labels: enhancement, ApiDOM, Workflows

#3446 feat(ns-workflows-1): Add Reference Object
  packages/apidom-ns-workflows-1/README.md
  packages/apidom-ns-workflows-1/src/elements/Reference.ts
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/namespace.ts
  packages/apidom-ns-workflows-1/src/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/registration.ts
  packages/apidom-ns-workflows-1/src/refractor/specification.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/reference/$RefVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/reference/index.ts
  packages/apidom-ns-workflows-1/src/traversal/visitor.ts
  packages/apidom-ns-workflows-1/test/predicates.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/Reference/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/Reference/index.ts
Labels: enhancement, ApiDOM, Workflows

#3449 chore(deps-dev): bump lerna from 7.4.2 to 8.0.0
  package-lock.json
  package.json
Labels: ApiDOM, dependencies

#3453 fix(reference): fix internal/external URL determination for AsyncAPI 2.x
  packages/apidom-ns-asyncapi-2/src/index.ts
  packages/apidom-ns-asyncapi-2/src/predicates.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/visitor.ts
Labels: bug, ApiDOM, AsyncAPI 2.x

#3454 fix(reference): fix internal/external URL determination for OpenAPI 2.0
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/predicates.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
Labels: bug, ApiDOM, OpenApi 2.0

#3455 fix(reference): fix internal/external URL determination for OpenAPI 3.0.x
  packages/apidom-ns-openapi-3-0/src/index.ts
  packages/apidom-ns-openapi-3-0/src/predicates.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/visitor.ts
Labels: bug, ApiDOM, OpenApi 3.0

#3459 fix(reference): fix internal/extrernal URL determ for OpenAPI 3.1.0
  packages/apidom-ns-openapi-3-1/src/index.ts
  packages/apidom-ns-openapi-3-1/src/predicates.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/visitor.ts
Labels: bug, OpenAPI 3.1, ApiDOM

#3464 fix(reference): lazy fetch URLs only when needed
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/visitor.ts
Labels: bug, OpenAPI 3.1, ApiDOM, AsyncAPI 2.x, OpenApi 3.0, OpenApi 2.0
