Repository swagger-api/apidom, pull requests merged in 2024-08, with the labels that each got.

#4290 fix(ls): fix linting referenced AsyncAPI 2.x Security Scheme Object
  packages/apidom-ls/src/config/asyncapi/security-scheme/lint/$ref--no-siblings.ts
  packages/apidom-ls/src/config/asyncapi/security-scheme/lint/$ref--valid.ts
  packages/apidom-ls/src/config/asyncapi/security-scheme/lint/allowed-fields.ts
  packages/apidom-ls/src/config/asyncapi/security-scheme/lint/index.ts
  packages/apidom-ls/src/config/asyncapi/security-scheme/lint/type--required.ts
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/test/fixtures/validation/asyncapi/valid/async-2.5-streetlight-kafka.yaml
Labels: bug, ApiDOM, AsyncAPI 2.x

#4292 ci(release): automatically release to GitHub Package Registry
  .github/workflows/release-to-GPR.yml
Labels: enhancement, ApiDOM, CICD

#4299 feat(reference): loosen requirement for file extensions in parser plugins
  packages/apidom-reference/src/parse/parsers/api-design-systems-json/index.ts
  packages/apidom-reference/src/parse/parsers/api-design-systems-yaml/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-json/index.ts
  packages/apidom-reference/src/parse/parsers/asyncapi-json-2/index.ts
  packages/apidom-reference/src/parse/parsers/asyncapi-yaml-2/index.ts
  packages/apidom-reference/src/parse/parsers/json/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-json-2/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-json-3-0/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-json-3-1/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-yaml-2/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-yaml-3-0/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-yaml-3-1/index.ts
  packages/apidom-reference/src/parse/parsers/workflows-json-1/index.ts
  packages/apidom-reference/src/parse/parsers/workflows-yaml-1/index.ts
  packages/apidom-reference/src/parse/parsers/yaml-1-2/index.ts
  packages/apidom-reference/test/mocha-bootstrap.cjs
  packages/apidom-reference/test/parse/parsers/api-design-systems-json/index.ts
  packages/apidom-reference/test/parse/parsers/api-design-systems-yaml/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-json/index.ts
  packages/apidom-reference/test/parse/parsers/asyncapi-json-2/index.ts
  packages/apidom-reference/test/parse/parsers/asyncapi-yaml-2/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-json-2/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-json-3-0/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-json-3-1/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-yaml-2/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-yaml-3-0/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-yaml-3-1/index.ts
  packages/apidom-reference/test/parse/parsers/workflows-json-1/index.ts
  packages/apidom-reference/test/parse/parsers/workflows-yaml-1/index.ts
  packages/apidom-reference/test/parse/parsers/yaml/index.ts
Labels: enhancement, ApiDOM

#4308 chore(deps-dev): bump prettier from 3.3.2 to 3.3.3
  package-lock.json
  package.json
  packages/apidom-ast/src/traversal/visitor.ts
Labels: ApiDOM, dependencies

#4309 chore(deps-dev): bump typescript from 5.4.5 to 5.5.4
  package-lock.json
  package.json
  packages/apidom-core/package.json
Labels: dependencies

#4318 fix(playground): fix importing definition from URL
  packages/apidom-playground/src/playground/apidom.worker.js
Labels: bug, ApiDOM

#4320 fix(apidom-parser-adapter-openapi-json-3-0): remove rc version support
  packages/apidom-parser-adapter-openapi-json-3-0/src/adapter.ts
  packages/apidom-parser-adapter-openapi-json-3-0/test/adapter.ts
Labels: enhancement, ApiDOM, OpenApi 3.0
