Repository swagger-api/apidom, pull requests merged in 2024-12, with the labels that each got.

#4570 build(playground): migrate from Create React App to Vite
  package-lock.json
  package.json
  packages/apidom-playground/.eslintignore
  packages/apidom-playground/.eslintrc
  packages/apidom-playground/index.html
  packages/apidom-playground/package.json
  packages/apidom-playground/scripts/build.js
  packages/apidom-playground/scripts/start.js
  packages/apidom-playground/src/index.jsx
  packages/apidom-playground/src/setupTests.js
  packages/apidom-playground/vite.config.mjs
Labels: enhancement, dependencies

#4592 fix(parser-adapter-yaml-1-2): fix parsing long object keys
  package-lock.json
  packages/apidom-parser-adapter-json/package.json
  packages/apidom-parser-adapter-yaml-1-2/package.json
  packages/apidom-parser-adapter-yaml-1-2/test/__snapshots__/adapter-browser.mjs.snap
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-browser.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/__snapshots__/index.mjs.snap
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/index.ts
Labels: bug, YAML, dependencies

#4597 fix(ls): fix validation of number range related keywords
  packages/apidom-ls/src/config/common/schema/lint/exclusive-maximum--type-boolean.ts
  packages/apidom-ls/src/config/common/schema/lint/exclusive-maximum--type-number.ts
  packages/apidom-ls/src/config/common/schema/lint/exclusive-minimum--type-boolean.ts
  packages/apidom-ls/src/config/common/schema/lint/exclusive-minimum--type-number.ts
  packages/apidom-ls/src/config/common/schema/lint/format--type.ts
  packages/apidom-ls/src/config/common/schema/lint/index.ts
  packages/apidom-ls/src/config/common/schema/lint/maximum--type.ts
  packages/apidom-ls/src/config/common/schema/lint/minimum--type.ts
  packages/apidom-ls/test/validate.ts
Labels: bug, ApiDOM, JSON Schema

#4602 docs(NOTICE): provide legal notices and new license
  LICENSES/AFL-3.0.txt
  LICENSES/BSD-3-Clause.txt
  NOTICE
Labels: documentation, enhancement

#4613 feat(ns-openapi-3-0): add support for OpenAPI 3.0.4
  packages/apidom-ns-openapi-3-0/src/media-types.ts
  packages/apidom-ns-openapi-3-0/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-openapi-3-0/test/refractor/elements/OpenApi3-0/__snapshots__/index.mjs.snap
  packages/apidom-ns-openapi-3-0/test/refractor/elements/OpenApi3-0/index.ts
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Openapi/__snapshots__/index.mjs.snap
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Openapi/index.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#4614 test(ns-openapi-3-0): regenerate obsolete snapshot
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Openapi/__snapshots__/index.mjs.snap
Labels: ApiDOM, OpenApi 3.0, tests

#4615 docs(ns-openapi-3-1): update normalize servers refractor plugin docs
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/normalize-servers.ts
Labels: documentation, enhancement, OpenAPI 3.1

#4616 feat(parser-adapter-openapi-json-3-0): add support for OpenAPI 3.0.4
  packages/apidom-parser-adapter-openapi-json-3-0/src/adapter.ts
  packages/apidom-parser-adapter-openapi-json-3-0/test/adapter.ts
  packages/apidom-parser-adapter-openapi-json-3-0/test/fixtures/sample-api.json
  packages/apidom-parser-adapter-openapi-json-3-0/test/fixtures/sample-api.yaml
  packages/apidom-parser-adapter-openapi-json-3-0/test/media-types.ts
Labels: enhancement, ApiDOM, JSON, OpenApi 3.0

#4617 feat(parser-adapter-openapi-yaml-3-0): add support for OpenAPI 3.0.4
  packages/apidom-parser-adapter-openapi-yaml-3-0/src/adapter.ts
  packages/apidom-parser-adapter-openapi-yaml-3-0/test/adapter.ts
  packages/apidom-parser-adapter-openapi-yaml-3-0/test/fixtures/sample-api.json
  packages/apidom-parser-adapter-openapi-yaml-3-0/test/fixtures/sample-api.yaml
  packages/apidom-parser-adapter-openapi-yaml-3-0/test/media-types.ts
Labels: enhancement, ApiDOM, YAML, OpenApi 3.0

#4618 docs(ns-openapi-3-0): adapt to having OpenAPI 3.0.4 support
  packages/apidom-ns-openapi-3-0/README.md
  packages/apidom-ns-openapi-3-0/test/refractor/__snapshots__/index.mjs.snap
  packages/apidom-ns-openapi-3-0/test/refractor/fixtures/openapi.json
  packages/apidom-ns-openapi-3-0/test/refractor/index.ts
  packages/apidom-ns-openapi-3-0/test/refractor/plugins/replace-empty-element/mappings.ts
  packages/apidom-ns-openapi-3-0/test/refractor/plugins/replace-empty-element/sequences.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#4619 docs(parser-adapter-openapi-json-3-0): adapt to OpenAPI 3.0.4 support
  packages/apidom-parser-adapter-openapi-json-3-0/README.md
Labels: documentation, enhancement, ApiDOM, JSON, OpenApi 3.0

#4623 docs(parser-adapter-openapi-yaml-3-0): adapt to OpenAPI 3.0.4 support
  packages/apidom-parser-adapter-openapi-yaml-3-0/README.md
  packages/apidom-parser-adapter-openapi-yaml-3-0/test/media-types.ts
Labels: enhancement, ApiDOM, YAML, OpenApi 3.0

#4626 refactor(reference): align naming with OpenAPI 3.0.4
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/test/dereference/strategies/apidom/remote/fixtures/external-disabled/entry.json
  packages/apidom-reference/test/dereference/strategies/apidom/remote/fixtures/nested/entry.json
  packages/apidom-reference/test/dereference/strategies/apidom/remote/fixtures/substitute/entry.json
  packages/apidom-reference/test/dereference/strategies/apidom/remote/index.ts
  packages/apidom-reference/test/resolve/strategies/apidom/local/fixtures/entry.json
  packages/apidom-reference/test/resolve/strategies/apidom/local/index.ts
  packages/apidom-reference/test/resolve/strategies/apidom/remote/index.ts
Labels: enhancement, ApiDOM
