Repository swagger-api/apidom, pull requests merged in 2024-01, with the labels that each got.

#3593 feat(ls): add rules for OpenAPI 2.0 External Documentation Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/external-documentation/completion.ts
  packages/apidom-ls/src/config/openapi/external-documentation/documentation.ts
  packages/apidom-ls/src/config/openapi/external-documentation/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/external-documentation/lint/description--type.ts
  packages/apidom-ls/src/config/openapi/external-documentation/lint/url--format-uri.ts
  packages/apidom-ls/src/config/openapi/external-documentation/lint/url--required.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3594 feat(ls): add completion rules for OpenAPI 2.0 Parameter Object
  packages/apidom-ls/src/config/openapi/parameter/completion.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3600 feat(ls): add docs rules for OpenAPI 2.0 Parameter Object
  packages/apidom-ls/src/config/openapi/parameter/completion.ts
  packages/apidom-ls/src/config/openapi/parameter/documentation.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3571 feat(apidom-ls): lint parameter defined in path template
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/parameter/lint/in-path-template.ts
  packages/apidom-ls/src/config/openapi/parameter/lint/index.ts
  packages/apidom-ls/src/services/validation/linter-functions.ts
  packages/apidom-ls/test/fixtures/validation/oas/parameter-defined-within-path-template-2-0.yaml
  packages/apidom-ls/test/fixtures/validation/oas/parameter-defined-within-path-template-3-0.yaml
  packages/apidom-ls/test/fixtures/validation/oas/parameter-defined-within-path-template-3-1.yaml
  packages/apidom-ls/test/validate.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0, OpenApi 2.0

#3627 feat(ls): add rules for OpenAPI 2.0 Response Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/response/completion.ts
  packages/apidom-ls/src/config/openapi/response/documentation.ts
  packages/apidom-ls/src/config/openapi/response/lint/allowed-fields-2-0.ts
  packages/apidom-ls/src/config/openapi/response/lint/description--required.ts
  packages/apidom-ls/src/config/openapi/response/lint/description--type.ts
  packages/apidom-ls/src/config/openapi/response/lint/examples--type.ts
  packages/apidom-ls/src/config/openapi/response/lint/headers--type.ts
  packages/apidom-ls/src/config/openapi/response/lint/index.ts
  packages/apidom-ls/src/config/openapi/response/lint/schema--type.ts
  packages/apidom-ls/test/ads.ts
  packages/apidom-ls/test/fixtures/validation/oas/parameter-defined-within-path-template-2-0.yaml
  packages/apidom-ls/test/fixtures/validation/oas/path-template-all-defined-2-0.yaml
  packages/apidom-ls/test/validate.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3629 feat(apidom-ls): add operations to parameter lint
  packages/apidom-ls/src/services/validation/linter-functions.ts
  packages/apidom-ls/test/fixtures/validation/oas/parameter-defined-within-path-template-2-0.yaml
  packages/apidom-ls/test/fixtures/validation/oas/parameter-defined-within-path-template-3-0.yaml
  packages/apidom-ls/test/fixtures/validation/oas/parameter-defined-within-path-template-3-1.yaml
  packages/apidom-ls/test/validate.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM, OpenApi 3.0, OpenApi 2.0

#3632 chore(codespaces): add CodeSpaces config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: enhancement, ApiDOM

#3633 docs(README): add section about GitHub Codespaces dev setup
  README.md
Labels: documentation, ApiDOM

#3639 fix(core): allow Parcel.js to bundle the code
  packages/apidom-core/src/transformers/from.ts
Labels: enhancement, ApiDOM

#3646 refactor(parser): change from stamps to classes
  package-lock.json
  packages/apidom-core/test/index.ts
  packages/apidom-core/test/traversal/findAtOffset.ts
  packages/apidom-parser-adapter-api-design-systems-json/README.md
  packages/apidom-parser-adapter-api-design-systems-json/test/media-types.ts
  packages/apidom-parser-adapter-api-design-systems-yaml/README.md
  packages/apidom-parser-adapter-api-design-systems-yaml/test/media-types.ts
  packages/apidom-parser-adapter-asyncapi-json-2/README.md
  packages/apidom-parser-adapter-asyncapi-json-2/test/media-types.ts
  packages/apidom-parser-adapter-asyncapi-yaml-2/README.md
  packages/apidom-parser-adapter-asyncapi-yaml-2/test/media-types.ts
  packages/apidom-parser-adapter-json/README.md
  packages/apidom-parser-adapter-json/test/media-types.ts
  packages/apidom-parser-adapter-openapi-json-2/README.md
  packages/apidom-parser-adapter-openapi-json-2/test/media-types.ts
  packages/apidom-parser-adapter-openapi-json-3-0/README.md
  packages/apidom-parser-adapter-openapi-json-3-0/test/media-types.ts
  packages/apidom-parser-adapter-openapi-json-3-1/README.md
  packages/apidom-parser-adapter-openapi-json-3-1/test/media-types.ts
  packages/apidom-parser-adapter-openapi-yaml-2/README.md
  packages/apidom-parser-adapter-openapi-yaml-2/test/media-types.ts
  packages/apidom-parser-adapter-openapi-yaml-3-0/README.md
  packages/apidom-parser-adapter-openapi-yaml-3-0/test/media-types.ts
  packages/apidom-parser-adapter-openapi-yaml-3-1/README.md
  packages/apidom-parser-adapter-openapi-yaml-3-1/test/media-types.ts
  packages/apidom-parser-adapter-workflows-json-1/README.md
  packages/apidom-parser-adapter-workflows-json-1/test/media-types.ts
  packages/apidom-parser-adapter-workflows-yaml-1/README.md
  packages/apidom-parser-adapter-workflows-yaml-1/test/media-types.ts
  packages/apidom-parser-adapter-yaml-1-2/README.md
  packages/apidom-parser-adapter-yaml-1-2/test/media-types.ts
  packages/apidom-parser/README.md
  packages/apidom-parser/package.json
  packages/apidom-parser/src/parser.ts
  packages/apidom-parser/src/types.d.ts
  packages/apidom-parser/test/adapter-priority.ts
  packages/apidom-parser/test/parser.ts
Labels: enhancement, ApiDOM

#3653 feat(ls): add rules for OpenAPI 2.0 Headers Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/headers/documentation.ts
  packages/apidom-ls/src/config/openapi/headers/lint/index.ts
  packages/apidom-ls/src/config/openapi/headers/lint/values--type.ts
  packages/apidom-ls/src/config/openapi/headers/meta.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3651 refactor(parser-adapter-yaml-1-2): change from stamps to classes
  package-lock.json
  packages/apidom-parser-adapter-yaml-1-2/package.json
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/index.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/YamlAstVisitor.ts
Labels: enhancement, ApiDOM

#3652 refactor(parser-adapter-json): change from stamps to classes
  package-lock.json
  packages/apidom-parser-adapter-json/package.json
  packages/apidom-parser-adapter-json/src/syntactic-analysis/direct/index.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/direct/visitors/CstVisitor.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/indirect/index.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/indirect/visitors/JsonAstVisitor.ts
Labels: enhancement, ApiDOM

#3658 feat(ls): add rules for OpenAPI 2.0 Definitions Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/definitions/documentation.ts
  packages/apidom-ls/src/config/openapi/definitions/lint/index.ts
  packages/apidom-ls/src/config/openapi/definitions/lint/values--type.ts
  packages/apidom-ls/src/config/openapi/definitions/meta.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3660 feat(ls): add rules for OpenAPI 2.0 Parameters Definitions Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/parameters-definitions/documentation.ts
  packages/apidom-ls/src/config/openapi/parameters-definitions/lint/index.ts
  packages/apidom-ls/src/config/openapi/parameters-definitions/lint/values--type.ts
  packages/apidom-ls/src/config/openapi/parameters-definitions/meta.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3661 feat(ls): add rules for OpenAPI 2.0 Responses Definitions Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/responses-definitions/documentation.ts
  packages/apidom-ls/src/config/openapi/responses-definitions/lint/index.ts
  packages/apidom-ls/src/config/openapi/responses-definitions/lint/values--type.ts
  packages/apidom-ls/src/config/openapi/responses-definitions/meta.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3662 feat(ls): add rules for OpenAPI 2.0 Security Definitions Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/security-definitions/documentation.ts
  packages/apidom-ls/src/config/openapi/security-definitions/lint/index.ts
  packages/apidom-ls/src/config/openapi/security-definitions/lint/values--type.ts
  packages/apidom-ls/src/config/openapi/security-definitions/meta.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3663 feat(ls): add rules for OpenAPI 2.0 Scopes Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/config.ts
  packages/apidom-ls/src/config/openapi/scopes/documentation.ts
  packages/apidom-ls/src/config/openapi/scopes/lint/index.ts
  packages/apidom-ls/src/config/openapi/scopes/lint/values--type.ts
  packages/apidom-ls/src/config/openapi/scopes/meta.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3665 feat(ls): add rules for OpenAPI 2.0 Tag Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/tag/completion.ts
  packages/apidom-ls/src/config/openapi/tag/documentation.ts
  packages/apidom-ls/src/config/openapi/tag/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/tag/lint/description--type.ts
  packages/apidom-ls/src/config/openapi/tag/lint/external-docs--type.ts
  packages/apidom-ls/src/config/openapi/tag/lint/name--required.ts
  packages/apidom-ls/src/config/openapi/tag/lint/name--type.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3664 feat(ls): add rules for OpenAPI 2.0 Responses Object
  packages/apidom-ls/src/config/openapi/responses/completion.ts
  packages/apidom-ls/src/config/openapi/responses/documentation.ts
  packages/apidom-ls/src/config/openapi/responses/lint/allowed-fields-2-0.ts
  packages/apidom-ls/src/config/openapi/responses/lint/allowed-fields-3-0--3-1.ts
  packages/apidom-ls/src/config/openapi/responses/lint/index.ts
  packages/apidom-ls/src/config/openapi/responses/lint/values--type.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3666 feat(ls): add rules for OpenAPI 2.0 XML Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/xml/completion.ts
  packages/apidom-ls/src/config/openapi/xml/documentation.ts
  packages/apidom-ls/src/config/openapi/xml/lint/allowed-fields.ts
  packages/apidom-ls/src/config/openapi/xml/lint/attribute--type.ts
  packages/apidom-ls/src/config/openapi/xml/lint/name--type.ts
  packages/apidom-ls/src/config/openapi/xml/lint/namespace--format-uri.ts
  packages/apidom-ls/src/config/openapi/xml/lint/prefix--type.ts
  packages/apidom-ls/src/config/openapi/xml/lint/wrapped--type.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3667 feat(ls): add rules for OpenAPI 2.0 Security Requirement Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/security-requirement/documentation.ts
  packages/apidom-ls/src/config/openapi/security-requirement/lint/index.ts
  packages/apidom-ls/src/config/openapi/security-requirement/lint/keys--defined-2-0.ts
  packages/apidom-ls/src/config/openapi/security-requirement/lint/keys--defined-3-0--3-1.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3669 feat(ls): add rules for OpenAPI 2.0 Example Object
  packages/apidom-ls/src/config/openapi/example/documentation.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3682 fix(ls): fix allowed fiedls lint rule for OpenAPI 2.0 Header Object
  packages/apidom-ls/src/config/openapi/header/lint/allowed-fields-2-0.ts
  packages/apidom-ls/test/validate-valid.ts
Labels: bug, ApiDOM, OpenApi 2.0

#3685 feat(ls): add rules for OpenAPI 2.0 Reference Object
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/reference/completion.ts
  packages/apidom-ls/src/config/openapi/reference/documentation.ts
  packages/apidom-ls/src/config/openapi/reference/lint/$ref--format-uri.ts
  packages/apidom-ls/src/config/openapi/reference/lint/$ref-2-0--3-0--no-siblings.ts
  packages/apidom-ls/src/config/openapi/reference/lint/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3681 refactor(ast): change from stamps to TypeScript classes
  package-lock.json
  packages/apidom-ast/package.json
  packages/apidom-ast/src/Error.ts
  packages/apidom-ast/src/Literal.ts
  packages/apidom-ast/src/Node.ts
  packages/apidom-ast/src/ParseResult.ts
  packages/apidom-ast/src/Position.ts
  packages/apidom-ast/src/json/nodes/JsonArray.ts
  packages/apidom-ast/src/json/nodes/JsonDocument.ts
  packages/apidom-ast/src/json/nodes/JsonEscapeSequence.ts
  packages/apidom-ast/src/json/nodes/JsonFalse.ts
  packages/apidom-ast/src/json/nodes/JsonKey.ts
  packages/apidom-ast/src/json/nodes/JsonNode.ts
  packages/apidom-ast/src/json/nodes/JsonNull.ts
  packages/apidom-ast/src/json/nodes/JsonNumber.ts
  packages/apidom-ast/src/json/nodes/JsonObject.ts
  packages/apidom-ast/src/json/nodes/JsonProperty.ts
  packages/apidom-ast/src/json/nodes/JsonString.ts
  packages/apidom-ast/src/json/nodes/JsonStringContent.ts
  packages/apidom-ast/src/json/nodes/JsonTrue.ts
  packages/apidom-ast/src/json/nodes/JsonValue.ts
  packages/apidom-ast/src/yaml/nodes/YamlAlias.ts
  packages/apidom-ast/src/yaml/nodes/YamlAnchor.ts
  packages/apidom-ast/src/yaml/nodes/YamlCollection.ts
  packages/apidom-ast/src/yaml/nodes/YamlComment.ts
  packages/apidom-ast/src/yaml/nodes/YamlDirective.ts
  packages/apidom-ast/src/yaml/nodes/YamlDocument.ts
  packages/apidom-ast/src/yaml/nodes/YamlKeyValuePair.ts
  packages/apidom-ast/src/yaml/nodes/YamlMapping.ts
  packages/apidom-ast/src/yaml/nodes/YamlNode.ts
  packages/apidom-ast/src/yaml/nodes/YamlScalar.ts
  packages/apidom-ast/src/yaml/nodes/YamlSequence.ts
  packages/apidom-ast/src/yaml/nodes/YamlStream.ts
  packages/apidom-ast/src/yaml/nodes/YamlStyle.ts
  packages/apidom-ast/src/yaml/nodes/YamlTag.ts
  packages/apidom-ast/src/yaml/schemas/ScalarTag.ts
  packages/apidom-ast/src/yaml/schemas/Tag.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/GenericMapping.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/GenericSequence.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/GenericString.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/index.ts
  packages/apidom-ast/src/yaml/schemas/json/Boolean.ts
  packages/apidom-ast/src/yaml/schemas/json/FloatingPoint.ts
  packages/apidom-ast/src/yaml/schemas/json/Integer.ts
  packages/apidom-ast/src/yaml/schemas/json/Null.ts
  packages/apidom-ast/src/yaml/schemas/json/index.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/index.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
Labels: enhancement, ApiDOM

#3689 AST base nodes
  packages/apidom-ast/src/Error.ts
  packages/apidom-ast/src/Literal.ts
  packages/apidom-ast/src/Node.ts
  packages/apidom-ast/src/Position.ts
  packages/apidom-core/src/elements/SourceMap.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
Labels: enhancement, ApiDOM

#3690 refactor(ast): followup changes for YAML 1.2 Schemas
  packages/apidom-ast/src/yaml/schemas/Tag.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/GenericMapping.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/GenericSequence.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/GenericString.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/index.ts
  packages/apidom-ast/src/yaml/schemas/json/Boolean.ts
  packages/apidom-ast/src/yaml/schemas/json/FloatingPoint.ts
  packages/apidom-ast/src/yaml/schemas/json/Integer.ts
  packages/apidom-ast/src/yaml/schemas/json/Null.ts
  packages/apidom-ast/src/yaml/schemas/json/index.ts
Labels: enhancement, ApiDOM

#3691 refactor(ast): followup changes for YAML 1.2 Nodes
  packages/apidom-ast/src/Node.ts
  packages/apidom-ast/src/predicates.ts
  packages/apidom-ast/src/yaml/nodes/YamlAlias.ts
  packages/apidom-ast/src/yaml/nodes/YamlAnchor.ts
  packages/apidom-ast/src/yaml/nodes/YamlComment.ts
  packages/apidom-ast/src/yaml/nodes/YamlDirective.ts
  packages/apidom-ast/src/yaml/nodes/YamlKeyValuePair.ts
  packages/apidom-ast/src/yaml/nodes/YamlNode.ts
  packages/apidom-ast/src/yaml/nodes/YamlScalar.ts
  packages/apidom-ast/src/yaml/nodes/YamlStyle.ts
  packages/apidom-ast/src/yaml/nodes/YamlTag.ts
  packages/apidom-ast/src/yaml/nodes/predicates.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
Labels: enhancement, ApiDOM, YAML

#3692 refactor(ast): followup changes for JSON Nodes
  packages/apidom-ast/src/json/nodes/JsonArray.ts
  packages/apidom-ast/src/json/nodes/JsonDocument.ts
  packages/apidom-ast/src/json/nodes/JsonEscapeSequence.ts
  packages/apidom-ast/src/json/nodes/JsonFalse.ts
  packages/apidom-ast/src/json/nodes/JsonKey.ts
  packages/apidom-ast/src/json/nodes/JsonNull.ts
  packages/apidom-ast/src/json/nodes/JsonNumber.ts
  packages/apidom-ast/src/json/nodes/JsonObject.ts
  packages/apidom-ast/src/json/nodes/JsonProperty.ts
  packages/apidom-ast/src/json/nodes/JsonString.ts
  packages/apidom-ast/src/json/nodes/JsonStringContent.ts
  packages/apidom-ast/src/json/nodes/JsonTrue.ts
  packages/apidom-ast/src/json/nodes/JsonValue.ts
  packages/apidom-ast/src/json/nodes/predicates.ts
  packages/apidom-ast/src/yaml/nodes/YamlAlias.ts
  packages/apidom-ast/src/yaml/nodes/YamlAnchor.ts
  packages/apidom-ast/src/yaml/nodes/YamlComment.ts
  packages/apidom-ast/src/yaml/nodes/YamlDirective.ts
  packages/apidom-ast/src/yaml/nodes/YamlDocument.ts
  packages/apidom-ast/src/yaml/nodes/YamlKeyValuePair.ts
  packages/apidom-ast/src/yaml/nodes/YamlMapping.ts
  packages/apidom-ast/src/yaml/nodes/YamlScalar.ts
  packages/apidom-ast/src/yaml/nodes/YamlSequence.ts
  packages/apidom-ast/src/yaml/nodes/YamlStream.ts
  packages/apidom-ast/src/yaml/nodes/YamlTag.ts
Labels: enhancement, ApiDOM, JSON

#3693 chore(deps-dev): bump prettier from 3.1.1 to 3.2.4
  package-lock.json
  package.json
  packages/apidom-ls/src/services/validation/validation-service.ts
  packages/apidom-ls/src/utils/utils.ts
Labels: ApiDOM, dependencies

#3699 chore: add apidom-converter package scaffolding
  README.md
  package-lock.json
  package.json
  packages/apidom-converter/.eslintignore
  packages/apidom-converter/.gitignore
  packages/apidom-converter/.mocharc.json
  packages/apidom-converter/.npmrc
  packages/apidom-converter/README.md
  packages/apidom-converter/config/rollup/types.dist.js
  packages/apidom-converter/config/webpack/browser.config.js
  packages/apidom-converter/config/webpack/traits.config.js
  packages/apidom-converter/declaration.tsconfig.json
  packages/apidom-converter/package.json
  packages/apidom-converter/src/index.ts
  packages/apidom-converter/test/.eslintrc
  packages/apidom-converter/test/index.ts
  packages/apidom-converter/test/mocha-bootstrap.cjs
  packages/apidom-converter/tsconfig.json
  ti-15770.log
Labels: enhancement, ApiDOM

#3700 refactor(core): change from stamps to TypeScript classes
  packages/apidom-core/src/identity/index.ts
  packages/apidom-core/src/transcluder/Transcluder.ts
  packages/apidom-core/src/transcluder/index.ts
  packages/apidom-core/src/transformers/serializers/value/index.ts
  packages/apidom-core/src/transformers/serializers/yaml-1-2.ts
  packages/apidom-core/src/transformers/sexprs.ts
  packages/apidom-core/src/traversal/filter.ts
  packages/apidom-core/src/traversal/find.ts
  packages/apidom-core/src/traversal/findAtOffset.ts
  packages/apidom-core/src/traversal/parents.ts
  packages/apidom-core/src/traversal/traverse.ts
  packages/apidom-core/src/traversal/visitor.ts
  packages/apidom-core/test/transcluder/Transcluder.ts
  packages/apidom-core/test/traversal/parents.ts
Labels: enhancement, ApiDOM

#3708 refactor(ls): remove unique option from apilintValueOrArray lint
  packages/apidom-ls/src/config/common/schema/lint/type--equals.ts
Labels: enhancement, ApiDOM, JSON Schema

#3710 feat(ls): add lint rule for OpenAPI 3.x.y Schema Object xml field
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/common/schema/lint/index.ts
  packages/apidom-ls/src/config/common/schema/lint/xml--type.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#3712 feat(ls): add completion rules for OpenAPI 2.0 Schema Object
  packages/apidom-ls/src/config/common/schema/completion.ts
  packages/apidom-ls/test/complete.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3719 feat(ls): add docs rules for OpenAPI 2.0 Schema Object
  packages/apidom-ls/src/config/common/schema/completion.ts
  packages/apidom-ls/src/config/common/schema/documentation.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3726 chore: provide code review as PR
  babel.config.cjs
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/refractor/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/generics/FixedFieldsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/generics/MixedFieldsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/generics/PatternedFieldsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/WorkflowsSpecVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/components/InputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/components/ParametersVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/components/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/criterion/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/failure-action/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/info/VersionVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/info/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/parameter/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/reference/$RefVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/reference/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/source-description/UrlVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/source-description/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/DependsOnVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OnFailureVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OnSuccessVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OutputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/ParametersVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/SuccessCriteriaVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/success-action/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/OutputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/StepsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/index.ts
Labels: enhancement, ApiDOM, Workflows

#3727 refactor(ns-ads): enhance usage of TypeScript
  babel.config.cjs
  packages/apidom-ns-api-design-systems/src/refractor/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/info/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/PrinciplesVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/ScenariosVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/StandardsVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/principle/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement-level/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/ThenVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard-identifier/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/generics/FixedFieldsVisitor.ts
  packages/apidom-parser-adapter-json/test/syntactic-analysis/__snapshots__/TreeCursorIterator.ts.snap
  packages/apidom-parser-adapter-yaml-1-2/test/syntactic-analysis/__snapshots__/TreeCursorIterator.ts.snap
Labels: enhancement, ApiDOM, API Design Systems

#3720 refactor(ns-workflows-1): change from stamps to TypeScript classes
  package-lock.json
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-workflows-1/package.json
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/refractor/index.ts
  packages/apidom-ns-workflows-1/src/refractor/predicates.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/FallbackVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/SpecificationExtensionVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/generics/FixedFieldsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/generics/MapVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/generics/MixedFieldsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/generics/PatternedFieldsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/FailureActionCriteriaVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/ParametersVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/SourceDescriptionsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/SuccessActionCriteriaVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/WorkflowsSpecVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/WorkflowsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/components/InputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/components/ParametersVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/components/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/criterion/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/failure-action/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/info/VersionVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/info/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/json-schema/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/parameter/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/reference/$RefVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/reference/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/source-description/UrlVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/source-description/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/DependsOnVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OnFailureVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OnSuccessVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OutputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/ParametersVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/SuccessCriteriaVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/success-action/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/OutputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/StepsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/index.ts
Labels: enhancement, ApiDOM, Workflows

#3729 refactor(ns-ads): increase visitors TypeScript type safety
  packages/apidom-ns-api-design-systems/src/refractor/specification.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/FallbackVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/info/DescriptionVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/info/TitleVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/PrinciplesVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/ScenariosVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/StandardsVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/VersionVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/principle/DescriptionVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/principle/IriVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/principle/NameVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/principle/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement/FollowsVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement/ValuesVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/DescriptionVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/ThenVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard/DescriptionVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard/IriVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard/NameVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/generics/FixedFieldsVisitor.ts
Labels: enhancement, ApiDOM, API Design Systems

#3736 refactor: remove unnecessary definitive assignment marker
  packages/apidom-ns-api-design-systems/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/SpecificationVisitor.ts
Labels: enhancement, ApiDOM

#3755 feat(converter): add complete code infrastructure
  package-lock.json
  packages/apidom-converter/config/webpack/browser.config.js
  packages/apidom-converter/package.json
  packages/apidom-converter/src/errors/ConvertError.ts
  packages/apidom-converter/src/errors/UnmatchedConvertStrategyError.ts
  packages/apidom-converter/src/index.ts
  packages/apidom-converter/src/options/index.ts
  packages/apidom-converter/src/strategies/ConvertStrategy.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/index.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/openapi-version.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/webhooks.ts
  packages/apidom-converter/test/__snapshots__/index.ts.snap
  packages/apidom-converter/test/index.ts
  packages/apidom-converter/test/mocha-bootstrap.cjs
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/fixtures/implicit-conversion.json
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/openapi-version/__snapshots__/index.ts.snap
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/openapi-version/fixtures/openapi-version.json
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/openapi-version/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/webhooks/__snapshots__/index.ts.snap
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/webhooks/fixtures/webhooks.json
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/webhooks/index.ts
  packages/apidom-ns-openapi-3-0/src/index.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-openapi-3-0/test/refractor/index.ts
  packages/apidom-reference/src/bundle/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/index.ts
  packages/apidom-reference/src/options/index.ts
  packages/apidom-reference/src/types.ts
  packages/apidom-reference/test/bundle/bundle.ts
  packages/apidom-reference/test/bundle/strategies/openapi-3-1/reference-object/index.ts
Labels: enhancement, ApiDOM, converter

#3757 chore(deps): regenerate package-lock.json
  package-lock.json
  packages/apidom-converter/test/mocha-bootstrap.cjs
  packages/apidom-playground/package.json
Labels: enhancement, ApiDOM, dependencies

#3762 fix(ls): fix linting rule for MessageTrait.exammples field
  packages/apidom-ls/src/config/asyncapi/message-trait/lint/examples--type.ts
Labels: bug, ApiDOM, AsyncAPI 2.x

#3766 fix(ls): allow AsyncAPI 2.0 Schema Object to be Boolean JSON Schema
  packages/apidom-ls/src/config/asyncapi/bindings/anypointmq/message-binding/lint/0-0-1/headers--type.ts
  packages/apidom-ls/src/config/asyncapi/bindings/anypointmq/message-binding/lint/latest/headers--type.ts
  packages/apidom-ls/src/config/asyncapi/bindings/http/message-binding/lint/0-1-0/headers--type.ts
  packages/apidom-ls/src/config/asyncapi/bindings/http/message-binding/lint/latest/headers--type.ts
  packages/apidom-ls/src/config/asyncapi/bindings/http/operation-binding/lint/0-1-0/query--type.ts
  packages/apidom-ls/src/config/asyncapi/bindings/http/operation-binding/lint/latest/query--type.ts
  packages/apidom-ls/src/config/asyncapi/bindings/ws/channel-binding/lint/0-1-0/headers--type.ts
  packages/apidom-ls/src/config/asyncapi/bindings/ws/channel-binding/lint/0-1-0/query--type.ts
  packages/apidom-ls/src/config/asyncapi/bindings/ws/channel-binding/lint/latest/headers--type.ts
  packages/apidom-ls/src/config/asyncapi/bindings/ws/channel-binding/lint/latest/query--type.ts
  packages/apidom-ls/src/config/asyncapi/message-trait/lint/headers--type.ts
  packages/apidom-ls/src/config/asyncapi/message/lint/headers--type.ts
Labels: bug, ApiDOM, AsyncAPI 2.x
