Repository swagger-api/apidom, pull requests merged in 2024-03, with the labels that each got.

#3884 feat(core): add support for RefElement, LinkElement
  packages/@types/minim.d.ts
  packages/apidom-core/src/transformers/serializers/value/index.ts
  packages/apidom-core/test/transformers/serializers/value.ts
  packages/apidom-core/test/traversal/visitor.ts
Labels: enhancement, ApiDOM

#3885 feat(converter): add Reference Object summary and description plugins
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/index.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/reference-description.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/reference-summary.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/reference-description/__snapshots__/index.ts.snap
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/reference-description/fixtures/reference-description.json
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/reference-description/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/reference-summary/__snapshots__/index.ts.snap
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/reference-summary/fixtures/reference-summary.json
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/reference-summary/index.ts
Labels: enhancement, ApiDOM, converter

#3892 feat(reference): add parser plugin for parsing hydrated ApiDOM
  packages/apidom-reference/README.md
  packages/apidom-reference/package.json
  packages/apidom-reference/src/configuration/saturated.ts
  packages/apidom-reference/src/parse/parsers/apidom-json/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-json/fixtures/apidom.json
  packages/apidom-reference/test/parse/parsers/apidom-json/index.ts
Labels: enhancement, ApiDOM

#3901 feat(core): handle RefElement serialization in toValue serialization
  packages/apidom-core/src/transformers/serializers/value/ast/ephemeral-array.ts
  packages/apidom-core/src/transformers/serializers/value/ast/ephemeral-object.ts
  packages/apidom-core/src/transformers/serializers/value/index.ts
  packages/apidom-core/test/transformers/serializers/value.ts
Labels: enhancement, ApiDOM

#3902 feat(reference): skip processing internal refererences in apidom resolve strategy
  packages/apidom-reference/src/dereference/strategies/apidom/visitor.ts
  packages/apidom-reference/src/options/index.ts
  packages/apidom-reference/src/resolve/strategies/apidom/index.ts
  packages/apidom-reference/src/types.ts
Labels: enhancement, ApiDOM

#3903 feat(reference): skip processing internal refererences in OpenAPI 2.0 resolve strategy
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-2/index.ts
  packages/apidom-reference/test/resolve/strategies/openapi-2/path-item-object/fixtures/unresolvable-path-item/ex.json
  packages/apidom-reference/test/resolve/strategies/openapi-2/path-item-object/fixtures/unresolvable-path-item/root.json
Labels: enhancement, ApiDOM, OpenApi 2.0

#3904 feat(reference): add support for skipping internal references in OpenAPI 3.0.x dereference strategy
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#3905 feat(reference): add support for skipping internal references in AsyncAPI 2.x dereference strategy
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
Labels: enhancement, ApiDOM, AsyncAPI 2.x

#3906 feat(reference): add support for skipping internal references in OpenAPI 3.1.0 dereference strategy
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#3908 fix(reference): base OpenAPI 3.0.x resolver strategy on dereference strategy
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/test/resolve/strategies/openapi-3-0/link-object/index.ts
  packages/apidom-reference/test/resolve/strategies/openapi-3-0/path-item-object/fixtures/unresolvable-path-item/ex.json
  packages/apidom-reference/test/resolve/strategies/openapi-3-0/path-item-object/fixtures/unresolvable-path-item/root.json
Labels: enhancement, ApiDOM, OpenApi 3.0

#3909 fix(reference): base AsyncAPI 2.x resolver strategy on dereference strategy
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/visitor.ts
Labels: enhancement, ApiDOM, AsyncAPI 2.x

#3910 fix(reference): base OpenAPI 3.1.0 resolver strategy on dereference strategy
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/selectors/uri.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/util.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/resolve/strategies/apidom/index.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/test/resolve/strategies/asyncapi-2/channel-item-object/fixtures/unresolvable-channel-item/ex.json
  packages/apidom-reference/test/resolve/strategies/asyncapi-2/channel-item-object/fixtures/unresolvable-channel-item/root.json
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/link-object/index.ts
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/path-item-object/fixtures/unresolvable-path-item/ex.json
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/path-item-object/fixtures/unresolvable-path-item/root.json
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/schema-object/fixtures/$anchor-not-found/ex.json
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/schema-object/fixtures/$anchor-not-found/root.json
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/schema-object/fixtures/invalid-pointer/ex.json
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/schema-object/fixtures/invalid-pointer/root.json
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/schema-object/fixtures/unresolvable-reference/ex.json
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/schema-object/fixtures/unresolvable-reference/root.json
  packages/apidom-reference/test/resolve/strategies/openapi-3-1/schema-object/index.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#3911 docs(reference): modify dereference speed otimization section
  packages/apidom-reference/README.md
Labels: documentation, enhancement, ApiDOM

#3917 feat(reference): reimplement architecture 2.0 for OpenAPI 3.0.x dereferencing
  packages/apidom-reference/src/dereference/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/options/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/types.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/link-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/path-item-object/fixtures/cycle-internal/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/path-item-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/index.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#3922 chore(deps-dev): bump @typescript-eslint/parser from 6.21.0 to 7.2.0
  package-lock.json
  package.json
Labels: ApiDOM, dependencies

#3930 feat(reference): apply dereferencing architecture 2.0 to ApiDOM
  packages/apidom-reference/src/ReferenceSet.ts
  packages/apidom-reference/src/dereference/strategies/apidom/index.ts
  packages/apidom-reference/src/dereference/strategies/apidom/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/resolve/strategies/apidom/index.ts
  packages/apidom-reference/src/resolve/strategies/apidom/visitor.ts
  packages/apidom-reference/test/dereference/strategies/apidom/local/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/index.ts
Labels: enhancement, ApiDOM

#3931 feat(reference): apply dereferencing architecture 2.0 to OpenAPI 2.0
  packages/apidom-reference/src/dereference/strategies/apidom/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/resolve/strategies/openapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-2/visitor.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/cycle-internal/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3933 feat(reference): apply dereferencing architecture 2.0 to AsyncAPI 2.x
  packages/apidom-reference/src/dereference/strategies/apidom/index.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/index.ts
Labels: enhancement, ApiDOM, AsyncAPI 2.x

#3960 fix(reference): fix regression in nested paths dereferencing
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/$id-uri-external-circular-structures/dereferenced.txt
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/$id-uri-external-circular-structures/nested/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/$id-uri-external-circular-structures/nested/nested/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/$id-uri-external-circular-structures/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/index.ts
Labels: ApiDOM, regression

#3966 perf(ls): apply perfomanze optimization for reference validation
  packages/apidom-ls/src/services/validation/validation-service.ts
Labels: enhancement, ApiDOM, performance

#3975 fix(reference): fix regression in AsyncAPI 2.x dereferencing
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/dereference-apidom.ts
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/fixtures/external-only/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/fixtures/external-only/ex.json
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/fixtures/external-only/root.json
Labels: ApiDOM, AsyncAPI 2.x, regression

#3978 fix(reference): fix regression in OpenAPI 3.1.0 dereferencing
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/external-only/dereferenced.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/external-only/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/fixtures/external-only/root.json
Labels: OpenAPI 3.1, ApiDOM, regression

#3981 perf(reference): dereference fragments as quick as possible
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
Labels: enhancement, ApiDOM, performance
