Repository swagger-api/apidom, pull requests merged in 2024-05, with the labels that each got.

#4084 chore(deps): bump @types/ramda from 0.29.12 to 0.30.0
  package-lock.json
  packages/apidom-ast/package.json
  packages/apidom-core/package.json
  packages/apidom-json-pointer-relative/package.json
  packages/apidom-json-pointer/package.json
  packages/apidom-ls/package.json
  packages/apidom-ns-api-design-systems/package.json
  packages/apidom-ns-asyncapi-2/package.json
  packages/apidom-ns-json-schema-draft-4/package.json
  packages/apidom-ns-json-schema-draft-6/package.json
  packages/apidom-ns-json-schema-draft-7/package.json
  packages/apidom-ns-openapi-2/package.json
  packages/apidom-ns-openapi-3-0/package.json
  packages/apidom-ns-openapi-3-1/package.json
  packages/apidom-ns-workflows-1/package.json
  packages/apidom-parser-adapter-api-design-systems-json/package.json
  packages/apidom-parser-adapter-api-design-systems-yaml/package.json
  packages/apidom-parser-adapter-asyncapi-json-2/package.json
  packages/apidom-parser-adapter-asyncapi-yaml-2/package.json
  packages/apidom-parser-adapter-json/package.json
  packages/apidom-parser-adapter-openapi-json-2/package.json
  packages/apidom-parser-adapter-openapi-json-3-0/package.json
  packages/apidom-parser-adapter-openapi-json-3-1/package.json
  packages/apidom-parser-adapter-openapi-yaml-2/package.json
  packages/apidom-parser-adapter-openapi-yaml-3-0/package.json
  packages/apidom-parser-adapter-openapi-yaml-3-1/package.json
  packages/apidom-parser-adapter-workflows-json-1/package.json
  packages/apidom-parser-adapter-workflows-yaml-1/package.json
  packages/apidom-parser-adapter-yaml-1-2/package.json
  packages/apidom-parser/package.json
  packages/apidom-reference/package.json
  packages/apidom-reference/src/util/url.ts
Labels: ApiDOM, dependencies

#4094 docs(README): straigthen claimed Node.js support
  README.md
  package.json
Labels: documentation, enhancement

#4095 refactor(core): change from stamps to TypeScript classes
  package-lock.json
  packages/apidom-core/package.json
  packages/apidom-core/src/identity/index.ts
  packages/apidom-core/src/refractor/plugins/element-identity.ts
  packages/apidom-core/src/refractor/plugins/semantic-element-identity.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
Labels: enhancement, ApiDOM

#4099 feat(reference): change Reference from stamp to TypeScript class
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/security-scheme-type.ts
  packages/apidom-ls/src/services/validation/validation-service.ts
  packages/apidom-reference/src/Reference.ts
  packages/apidom-reference/src/ReferenceSet.ts
  packages/apidom-reference/src/dereference/strategies/apidom/index.ts
  packages/apidom-reference/src/dereference/strategies/apidom/visitor.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/types.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/index.ts
Labels: enhancement, ApiDOM

#4100 feat(reference): change ReferenceSet from stamp to TypeScript class
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/security-scheme-type.ts
  packages/apidom-ls/src/services/validation/validation-service.ts
  packages/apidom-reference/src/Reference.ts
  packages/apidom-reference/src/ReferenceSet.ts
  packages/apidom-reference/src/dereference/strategies/apidom/index.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/index.ts
  packages/apidom-reference/src/resolve/index.ts
  packages/apidom-reference/src/resolve/strategies/apidom/index.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/types.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/schema-object/index.ts
Labels: enhancement, ApiDOM

#4101 feat(reference): change resolvers from stamps to TypeScript classes
  packages/apidom-reference/src/configuration/saturated.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/index.ts
  packages/apidom-reference/src/resolve/resolvers/HTTPResolver.ts
  packages/apidom-reference/src/resolve/resolvers/HttpResolver.ts
  packages/apidom-reference/src/resolve/resolvers/Resolver.ts
  packages/apidom-reference/src/resolve/resolvers/file/index-browser.ts
  packages/apidom-reference/src/resolve/resolvers/file/index-node.ts
  packages/apidom-reference/src/resolve/resolvers/http-axios/index.ts
  packages/apidom-reference/src/resolve/util.ts
  packages/apidom-reference/src/types.ts
  packages/apidom-reference/test/resolve/index.ts
  packages/apidom-reference/test/resolve/resolvers/file/index.ts
  packages/apidom-reference/test/resolve/resolvers/http-axios/index.ts
Labels: enhancement, ApiDOM

#4102 feat(reference): change parsers from stamps to TypeScript classes
  packages/apidom-reference/src/configuration/saturated.ts
  packages/apidom-reference/src/parse/index.ts
  packages/apidom-reference/src/parse/parsers/Parser.ts
  packages/apidom-reference/src/parse/parsers/api-design-systems-json/index.ts
  packages/apidom-reference/src/parse/parsers/api-design-systems-yaml/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-json/index.ts
  packages/apidom-reference/src/parse/parsers/asyncapi-json-2/index.ts
  packages/apidom-reference/src/parse/parsers/asyncapi-yaml-2/index.ts
  packages/apidom-reference/src/parse/parsers/binary/index-browser.ts
  packages/apidom-reference/src/parse/parsers/binary/index-node.ts
  packages/apidom-reference/src/parse/parsers/json/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-json-2/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-json-3-0/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-json-3-1/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-yaml-2/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-yaml-3-0/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-yaml-3-1/index.ts
  packages/apidom-reference/src/parse/parsers/workflows-json-1/index.ts
  packages/apidom-reference/src/parse/parsers/workflows-yaml-1/index.ts
  packages/apidom-reference/src/parse/parsers/yaml-1-2/index.ts
  packages/apidom-reference/src/types.ts
  packages/apidom-reference/test/parse/index.ts
  packages/apidom-reference/test/parse/parsers/api-design-systems-json/index.ts
  packages/apidom-reference/test/parse/parsers/api-design-systems-yaml/index.ts
  packages/apidom-reference/test/parse/parsers/apidom-json/index.ts
  packages/apidom-reference/test/parse/parsers/asyncapi-json-2/index.ts
  packages/apidom-reference/test/parse/parsers/asyncapi-yaml-2/index.ts
  packages/apidom-reference/test/parse/parsers/binary/index-browser.ts
  packages/apidom-reference/test/parse/parsers/binary/index-node.ts
  packages/apidom-reference/test/parse/parsers/json/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-json-2/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-json-3-0/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-json-3-1/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-yaml-2/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-yaml-3-0/index.ts
  packages/apidom-reference/test/parse/parsers/openapi-yaml-3-1/index.ts
  packages/apidom-reference/test/parse/parsers/workflows-json-1/index.ts
  packages/apidom-reference/test/parse/parsers/workflows-yaml-1/index.ts
  packages/apidom-reference/test/parse/parsers/yaml/index.ts
  packages/apidom-reference/test/resolve/index.ts
Labels: enhancement, ApiDOM

#4103 apidom-reference: strategies
  packages/apidom-reference/src/bundle/index.ts
  packages/apidom-reference/src/bundle/strategies/.eslintrc
  packages/apidom-reference/src/bundle/strategies/BundleStrategy.ts
  packages/apidom-reference/src/bundle/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/configuration/saturated.ts
  packages/apidom-reference/src/dereference/index.ts
  packages/apidom-reference/src/dereference/strategies/.eslintrc
  packages/apidom-reference/src/dereference/strategies/DereferenceStrategy.ts
  packages/apidom-reference/src/dereference/strategies/apidom/index.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/options/index.ts
  packages/apidom-reference/src/options/util.ts
  packages/apidom-reference/src/parse/index.ts
  packages/apidom-reference/src/resolve/index.ts
  packages/apidom-reference/src/resolve/strategies/.eslintrc
  packages/apidom-reference/src/resolve/strategies/ResolveStrategy.ts
  packages/apidom-reference/src/resolve/strategies/apidom/index.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/resolve/util.ts
  packages/apidom-reference/src/types.ts
Labels: enhancement, ApiDOM

#4112 ci(release): prepare CD pipeline for 1.0.0-alpha.0 release
  .github/workflows/release.yml
  lerna.json
Labels: enhancement, ApiDOM

#4121 feat(ast): add support for mutable node replacments (edits)
  packages/apidom-ast/src/traversal/visitor.ts
  packages/apidom-ast/test/traversal/visitor.ts
  packages/apidom-core/test/refractor/index.ts
  packages/apidom-ns-api-design-systems/test/refractor/index.ts
  packages/apidom-ns-asyncapi-2/test/refractor/index.ts
  packages/apidom-ns-json-schema-draft-4/test/refractor/index.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/index.ts
  packages/apidom-ns-json-schema-draft-7/test/refractor/index.ts
  packages/apidom-ns-openapi-2/test/refractor/index.ts
  packages/apidom-ns-openapi-3-0/test/refractor/index.ts
  packages/apidom-ns-openapi-3-1/test/refractor/index.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
Labels: enhancement, ApiDOM

#4124 fix(ast): fix visitor merging on mutable node replacements
  packages/apidom-ast/src/traversal/visitor.ts
Labels: bug, ApiDOM

#4135 feat(ns-openapi-3-1): add idempotence to header example refractor plugin
  package-lock.json
  packages/apidom-ns-openapi-3-1/package.json
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/normalize-header-examples/NormalizeStorage.ts
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/normalize-header-examples/index.ts
  packages/apidom-ns-openapi-3-1/src/refractor/toolbox.ts
  packages/apidom-ns-openapi-3-1/test/refractor/index.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-header-examples/__snapshots__/idempotence.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-header-examples/idempotence.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-header-examples/paths/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-header-examples/storage-field.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#4149 feat(ns-openapi-3-1): make security requirements refractor plugin idempotent
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/normalize-security-requirements.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-security-requirements/__snapshots__/idempotence.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-security-requirements/callbacks/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-security-requirements/idempotence.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-security-requirements/paths/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-security-requirements/storage-field.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-security-requirements/webhooks/__snapshots__/index.ts.snap
Labels: enhancement, OpenAPI 3.1, ApiDOM

#4150 feat(ns-openapi-3-1): make parameters refractor plugin idempotent
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/normalize-parameters.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/__snapshots__/idempotence.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/callbacks/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/idempotence.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/paths/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/storage-field.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/web-hooks/__snapshots__/index.ts.snap
Labels: enhancement, OpenAPI 3.1, ApiDOM

#4151 feat(ns-openapi-3-1): make operation ids refractor plugin idempotent
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/normalize-operation-ids.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-operation-ids/__snapshots__/idempotence.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-operation-ids/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-operation-ids/idempotence.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-operation-ids/storage-fields.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#4152 feat(ns-openapi-3-1): make servers refractor plugin idempotent
  packages/apidom-ns-openapi-3-1/src/refractor/plugins/normalize-servers.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-servers/__snapshots__/idempotence.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-servers/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-servers/idempotence.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-servers/storage-fields.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#4154 fix(deps): add apidom-error package as direct dependency
  packages/apidom-reference/package.json
Labels: enhancement, ApiDOM, dependencies

#4155 ci(release): use consistent version for all packages
  .github/workflows/release.yml
Labels: enhancement, ApiDOM

#4156 ci: ignore string engine package.json field warnings
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
Labels: enhancement, ApiDOM, CICD
