Repository swagger-api/apidom, pull requests merged in 2024-02, with the labels that each got.

#3773 refactor(ns-openapi-3-1): enhance visitor encapsulation
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/WebhooksVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/callback/index.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/components/PathItemsVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/components/SchemasVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/distriminator/index.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/index.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/schema/$defsVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/schema/DependentSchemasVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/schema/PatternPropertiesVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/schema/PropertiesVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/schema/index.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#3774 refactor(ns-workflows-1): enhance visitor encapsulation
  packages/apidom-ns-workflows-1/src/index.ts
  packages/apidom-ns-workflows-1/src/refractor/specification.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/SpecificationExtensionVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/FailureActionCriteriaVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/ParametersVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/SourceDescriptionsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/SuccessActionCriteriaVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/WorkflowsSpecVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/WorkflowsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/components/InputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/components/ParametersVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/components/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/criterion/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/failure-action/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/info/VersionVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/info/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/json-schema/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/parameter/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/reference/$RefVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/reference/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/source-description/UrlVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/source-description/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/DependsOnVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OnFailureVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OnSuccessVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/OutputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/ParametersVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/SuccessCriteriaVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/step/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/success-action/index.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/OutputsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/StepsVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/workflows-1/workflow/index.ts
Labels: enhancement, ApiDOM, Workflows

#3775 feat(ns-openapi-3-1): export new symbols and types
  packages/apidom-ns-openapi-3-0/src/index.ts
  packages/apidom-ns-openapi-3-1/src/index.ts
Labels: OpenAPI 3.1, ApiDOM

#3783 chore(deps-dev): bump husky from 8.0.3 to 9.0.10
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Labels: ApiDOM, dependencies

#3784 fix(ns-openapi-3-0): fix polynomial regular expression
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/open-api-3-0/callback/index.ts
Labels: OpenAPI 3.1, ApiDOM, security fix, OpenApi 3.0

#3785 fix(parser-adapter-yaml-1-2): YAML alias syntactic analysis
  packages/apidom-ast/src/index.ts
  packages/apidom-ast/src/yaml/anchors-aliases/ReferenceManager.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/index.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
  packages/apidom-parser-adapter-yaml-1-2/test/syntactic-analysis/indirect/visitors/CstVisitor.ts
Labels: bug, ApiDOM, YAML

#3787 refactor(ast): register YAML nodes with anchors, not just anchors
  packages/apidom-ast/src/index.ts
  packages/apidom-ast/src/yaml/anchors-aliases/ReferenceManager.ts
  packages/apidom-ast/src/yaml/errors/YamlError.ts
  packages/apidom-ast/src/yaml/errors/YamlReferenceError.ts
  packages/apidom-ast/src/yaml/errors/YamlSchemaError.ts
  packages/apidom-ast/src/yaml/nodes/predicates.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
Labels: enhancement, ApiDOM

#3791 chore(converter): use source code from the monorepo for dependencies
  package-lock.json
  packages/apidom-converter/package.json
Labels: enhancement, ApiDOM, CICD

#3789 refactor(reference): migrate to String.prototype.substring
  packages/apidom-reference/src/util/url.ts
Labels: enhancement, ApiDOM

#3792 fix(parser-adapter-yaml-1-2): incorrect quote scalars trimming
  packages/apidom-ast/src/yaml/schemas/canonical-format.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-operation-ids/__snapshots__/index.ts.snap
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-browser.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/index.ts
  packages/apidom-parser-adapter-yaml-1-2/test/syntactic-analysis/indirect/visitors/CstVisitor.ts
Labels: bug, ApiDOM

#3790 refactor(ls): migrate to String.prototype.substring
  packages/apidom-ls/src/services/completion/completion-service.ts
  packages/apidom-ls/test/asyncapi-json.ts
  packages/apidom-ls/test/openapi-json.ts
Labels: enhancement, ApiDOM

#3798 fix: refracting semantic ApiDOM
  packages/apidom-ns-api-design-systems/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/SpecificationVisitor.ts
Labels: bug, ApiDOM

#3801 feat(ns-ads): export symbols and types
  packages/apidom-ns-api-design-systems/src/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/info/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/PrinciplesVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/ScenariosVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/StandardsVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/principle/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement-level/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/ThenVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard-identifier/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard/index.ts
Labels: enhancement, ApiDOM, API Design Systems

#3800 feat(ns-openapi-2): export symbols and types
  packages/apidom-ns-openapi-2/src/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/SpecificationExtensionVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/BasePathVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/ConsumesVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/HostVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/ProducesVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/SchemesVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/SecurityVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/SwaggerVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/TagsVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/contact/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/definitions/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/example/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/external-documentation/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/header/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/headers/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/info/VersionVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/info/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/items/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/license/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/operation/ConsumesVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/operation/ParametersVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/operation/ProducesVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/operation/SchemesVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/operation/SecurityVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/operation/TagsVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/operation/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/parameter/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/parameters-definitions/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/path-item/$RefVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/path-item/ParametersVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/path-item/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/paths/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/reference/$RefVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/reference/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/response/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/responses-definitions/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/responses/DefaultVisitor.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/responses/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/schema/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/scopes/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/security-definitions/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/security-requirement/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/security-scheme/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/tag/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/open-api-2/xml/index.ts
Labels: enhancement, ApiDOM, OpenApi 2.0

#3805 refactor(ns-openapi-3-1): remove empty fallback visitors
  packages/apidom-ns-openapi-3-1/src/index.ts
  packages/apidom-ns-openapi-3-1/src/refractor/specification.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/info/SummaryVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/license/IdentifierVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/reference/DescriptionVisitor.ts
  packages/apidom-ns-openapi-3-1/src/refractor/visitors/open-api-3-1/reference/SummaryVisitor.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#3810 feat(ns-openapi-3-0): add Security Schema Object predicate
  packages/apidom-ns-openapi-3-0/src/index.ts
  packages/apidom-ns-openapi-3-0/src/predicates.ts
  packages/apidom-ns-openapi-3-0/test/predicates.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#3811 feat(ns-openapi-3-1): add Security Schema Object predicate
  packages/apidom-ns-openapi-3-1/src/index.ts
  packages/apidom-ns-openapi-3-1/src/predicates.ts
  packages/apidom-ns-openapi-3-1/test/predicates.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#3812 refactor(converter): allow plugins to perform mutable operations
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/index.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/.eslintrc
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/openapi-version.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/webhooks.ts
Labels: enhancement, ApiDOM, converter

#3814 feat(ns-openapi-3-1): include hasElementSourceMap in toolbox
  packages/apidom-ns-openapi-3-1/src/refractor/toolbox.ts
Labels: enhancement, OpenAPI 3.1, ApiDOM

#3815 feat(ns-openapi-3-0): include hasElementSourceMap in toolbox
  packages/apidom-ns-openapi-3-0/src/refractor/toolbox.ts
Labels: enhancement, ApiDOM, OpenApi 3.0

#3816 feat(converter): add convenient toolbox utils
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/index.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/toolbox.ts
  packages/apidom-ns-openapi-3-0/src/index.ts
  packages/apidom-ns-openapi-3-1/src/index.ts
Labels: enhancement, ApiDOM, converter

#3802 feat(converter): add securitySchemeTypeRefractorPlugin
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/index.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/security-scheme-type.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/security-scheme-type/__snapshots__/index.ts.snap
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/security-scheme-type/fixtures/security-scheme-type.json
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/security-scheme-type/index.ts
Labels: enhancement, ApiDOM, converter

#3841 fix(core): assign unique ID to elements only when missing
  packages/apidom-core/src/identity/index.ts
  packages/apidom-core/src/refractor/plugins/element-identity.ts
  packages/apidom-core/src/refractor/plugins/semantic-element-identity.ts
  packages/apidom-core/test/refractor/plugins/element-identity.ts
  packages/apidom-core/test/refractor/plugins/semantic-element-identity.ts
Labels: bug, ApiDOM

#3843 fix(core): retain meta & attributes during refracting
  packages/apidom-core/src/refractor/index.ts
  packages/apidom-core/test/refractor/elements/Comment/__snapshots__/index.ts.snap
  packages/apidom-core/test/refractor/elements/Comment/index.ts
Labels: bug, ApiDOM

#3849 feat(core): add mechanism for left shallow merge
  packages/apidom-core/README.md
  packages/apidom-core/src/index.ts
  packages/apidom-core/src/merge/merge-left.ts
  packages/apidom-core/test/index.ts
  packages/apidom-core/test/merge/merge-left.ts
  packages/apidom-core/test/merge/merge-right.ts
Labels: enhancement, ApiDOM

#3848 feat(converter): add infoSummaryRefractorPlugin
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/index.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/info-summary.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/info-summary/__snapshots__/index.ts.snap
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/info-summary/fixtures/info-summary.json
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/info-summary/index.ts
Labels: enhancement, ApiDOM, converter

#3850 refactor(core): consolidate merge algorithms
  packages/apidom-core/src/index.ts
  packages/apidom-core/src/merge/deepmerge.ts
  packages/apidom-core/src/merge/merge-right.ts
  packages/apidom-core/test/merge/deepmerge.ts
Labels: enhancement, ApiDOM

#3851 fix(playground): fix bug related to instantiating parser
  packages/apidom-core/package.json
  packages/apidom-playground/src/playground/apidom.worker.js
Labels: bug, ApiDOM

#3854 feat(converter): add licenseIdentifierRefractorPlugin
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/index.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/license-identifier.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/license-identifier/__snapshots__/index.ts.snap
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/license-identifier/fixtures/license-identifier.json
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/license-identifier/index.ts
Labels: enhancement, ApiDOM, converter

#3855 feat(core): customize meta & attributes merges for deepmerge function
  packages/apidom-core/README.md
  packages/apidom-core/src/merge/deepmerge.ts
  packages/apidom-core/test/merge/deepmerge.ts
Labels: enhancement, ApiDOM

#3844 fix(ns-openapi-2): retain meta & attributes during refracting
  packages/apidom-ns-openapi-2/src/refractor/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Contact/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-2/test/refractor/elements/Contact/index.ts
  packages/apidom-ns-openapi-3-0/src/refractor/index.ts
Labels: bug, ApiDOM

#3857 fix(ns-ads): retain meta & attributes during refracting
  packages/apidom-ns-api-design-systems/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-api-design-systems/test/refractor/elements/Info/__snapshots__/index.ts.snap
  packages/apidom-ns-api-design-systems/test/refractor/elements/Info/index.ts
  packages/apidom-ns-openapi-2/test/refractor/elements/Contact/index.ts
Labels: bug, ApiDOM, API Design Systems

#3858 fix(ns-asyncapi-2): retain meta & attributes during refracting
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-asyncapi-2/test/refractor/elements/Reference/__snapshots__/index.ts.snap
  packages/apidom-ns-asyncapi-2/test/refractor/elements/Reference/index.ts
Labels: bug, ApiDOM, AsyncAPI 2.x

#3860 fix(ns-workflow-1): retain meta & attributes during refracting
  packages/apidom-ns-workflows-1/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-workflows-1/test/refractor/elements/Info/__snapshots__/index.ts.snap
  packages/apidom-ns-workflows-1/test/refractor/elements/Info/index.ts
Labels: bug, ApiDOM, Workflows

#3859 fix(ns-openapi-3-0): retain meta & attributes during refracting
  packages/apidom-ns-api-design-systems/test/refractor/plugins/openapi-3-1/__snapshots__/standard-identifier-selectors.ts.snap
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Info/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-0/test/refractor/elements/Info/index.ts
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-operation-ids/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/callbacks/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/paths/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-parameters/web-hooks/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/plugins/normalize-servers/__snapshots__/index.ts.snap
Labels: bug, ApiDOM, OpenApi 3.0

#3861 fix(ns-openapi-3-1): retain meta & attributes during refracting
  packages/apidom-ns-openapi-3-1/test/refractor/elements/Info/__snapshots__/index.ts.snap
  packages/apidom-ns-openapi-3-1/test/refractor/elements/Info/index.ts
Labels: bug, OpenAPI 3.1, ApiDOM

#3862 fix(ns-json-schema): retain meta & attributes during refracting
  packages/apidom-ns-api-design-systems/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-asyncapi-2/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-json-schema-draft-4/test/refractor/elements/JSONSchema/__snapshots__/index.ts.snap
  packages/apidom-ns-json-schema-draft-4/test/refractor/elements/JSONSchema/index.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/elements/JSONSchema/__snapshots__/index.ts.snap
  packages/apidom-ns-json-schema-draft-6/test/refractor/elements/JSONSchema/index.ts
  packages/apidom-ns-json-schema-draft-7/test/refractor/elements/JSONSchema/__snapshots__/index.ts.snap
  packages/apidom-ns-json-schema-draft-7/test/refractor/elements/JSONSchema/index.ts
  packages/apidom-ns-openapi-2/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-openapi-3-0/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-workflows-1/src/refractor/visitors/Visitor.ts
Labels: bug, ApiDOM, JSON Schema

#3870 fix(reference): add support for external cycles detection in OpenAPI 3.0.x
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/path-item-object/fixtures/external-cycle/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/path-item-object/fixtures/external-cycle/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/path-item-object/index.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/fixtures/external-cycle/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/fixtures/external-cycle/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-0/reference-object/index.ts
Labels: bug, ApiDOM, OpenApi 3.0

#3871 fix(reference): add support for external cycles detection in OpenAPI 2.0 dereference strategy
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-cycle/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/fixtures/external-cycle/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-2/json-reference-object/index.ts
Labels: bug, ApiDOM, OpenApi 2.0

#3872 fix(reference): add support for external cycles detection in AsyncAPI 2.x dereference strategy
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/fixtures/external-cycle/ex.json
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/fixtures/external-cycle/root.json
  packages/apidom-reference/test/dereference/strategies/asyncapi-2/reference-object/index.ts
Labels: bug, ApiDOM, AsyncAPI 2.x

#3873 fix(reference): add support for external cycles detection in OpenAPI 3.1.0 dereference strategy
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/fixtures/external-cycle/ex.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/fixtures/external-cycle/root.json
  packages/apidom-reference/test/dereference/strategies/openapi-3-1/reference-object/index.ts
Labels: bug, OpenAPI 3.1, ApiDOM
