Repository swagger-api/apidom, pull requests merged in 2024-11, with the labels that each got.

#4445 build(ast): use nodenext for TypeScript modules
  packages/apidom-ast/.eslintrc
  packages/apidom-ast/src/Error.ts
  packages/apidom-ast/src/Literal.ts
  packages/apidom-ast/src/Node.ts
  packages/apidom-ast/src/ParseResult.ts
  packages/apidom-ast/src/index.ts
  packages/apidom-ast/src/json/nodes/JsonArray.ts
  packages/apidom-ast/src/json/nodes/JsonDocument.ts
  packages/apidom-ast/src/json/nodes/JsonEscapeSequence.ts
  packages/apidom-ast/src/json/nodes/JsonFalse.ts
  packages/apidom-ast/src/json/nodes/JsonKey.ts
  packages/apidom-ast/src/json/nodes/JsonNode.ts
  packages/apidom-ast/src/json/nodes/JsonNull.ts
  packages/apidom-ast/src/json/nodes/JsonNumber.ts
  packages/apidom-ast/src/json/nodes/JsonObject.ts
  packages/apidom-ast/src/json/nodes/JsonProperty.ts
  packages/apidom-ast/src/json/nodes/JsonString.ts
  packages/apidom-ast/src/json/nodes/JsonStringContent.ts
  packages/apidom-ast/src/json/nodes/JsonTrue.ts
  packages/apidom-ast/src/json/nodes/JsonValue.ts
  packages/apidom-ast/src/json/nodes/predicates.ts
  packages/apidom-ast/src/predicates.ts
  packages/apidom-ast/src/yaml/anchors-aliases/ReferenceManager.ts
  packages/apidom-ast/src/yaml/errors/YamlReferenceError.ts
  packages/apidom-ast/src/yaml/errors/YamlSchemaError.ts
  packages/apidom-ast/src/yaml/errors/YamlTagError.ts
  packages/apidom-ast/src/yaml/nodes/YamlAlias.ts
  packages/apidom-ast/src/yaml/nodes/YamlAnchor.ts
  packages/apidom-ast/src/yaml/nodes/YamlCollection.ts
  packages/apidom-ast/src/yaml/nodes/YamlComment.ts
  packages/apidom-ast/src/yaml/nodes/YamlDirective.ts
  packages/apidom-ast/src/yaml/nodes/YamlDocument.ts
  packages/apidom-ast/src/yaml/nodes/YamlKeyValuePair.ts
  packages/apidom-ast/src/yaml/nodes/YamlMapping.ts
  packages/apidom-ast/src/yaml/nodes/YamlNode.ts
  packages/apidom-ast/src/yaml/nodes/YamlScalar.ts
  packages/apidom-ast/src/yaml/nodes/YamlSequence.ts
  packages/apidom-ast/src/yaml/nodes/YamlStream.ts
  packages/apidom-ast/src/yaml/nodes/YamlTag.ts
  packages/apidom-ast/src/yaml/nodes/predicates.ts
  packages/apidom-ast/src/yaml/schemas/ScalarTag.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/GenericMapping.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/GenericSequence.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/GenericString.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/index.ts
  packages/apidom-ast/src/yaml/schemas/json/Boolean.ts
  packages/apidom-ast/src/yaml/schemas/json/FloatingPoint.ts
  packages/apidom-ast/src/yaml/schemas/json/Integer.ts
  packages/apidom-ast/src/yaml/schemas/json/Null.ts
  packages/apidom-ast/src/yaml/schemas/json/index.ts
  packages/apidom-ast/test/traversal/visitor.ts
  packages/apidom-ast/tsconfig.json
Labels: enhancement, ApiDOM

#4429 feat(parser-adapter-yaml-1-2): use new @tree-sitter-grammars/tree-sitter-yaml grammar
  package-lock.json
  package.json
  packages/apidom-ls/test/fixtures/validation/oas/invalidyamlindent.yaml
  packages/apidom-ls/test/openapi-yaml.ts
  packages/apidom-parser-adapter-json/package.json
  packages/apidom-parser-adapter-json/src/syntactic-analysis/TreeCursorSyntaxNode.ts
  packages/apidom-parser-adapter-yaml-1-2/package.json
  packages/apidom-parser-adapter-yaml-1-2/src/adapter-browser.ts
  packages/apidom-parser-adapter-yaml-1-2/src/adapter-node.ts
  packages/apidom-parser-adapter-yaml-1-2/src/lexical-analysis/node.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/TreeCursorSyntaxNode.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-browser.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/index.ts
Labels: enhancement, ApiDOM, YAML, dependencies

#4465 chore(core): consolidate tsconfig files
  packages/apidom-core/check-types-test.tsconfig.json
  packages/apidom-core/check-types.tsconfig.json
  packages/apidom-core/package.json
  packages/apidom-core/test/tsconfig.json
  packages/apidom-core/tsconfig.declaration.json
  packages/apidom-core/tsconfig.json
Labels: enhancement, ApiDOM

#4467 chore(ast): consolidate tsconfig files
  packages/apidom-ast/package.json
  packages/apidom-ast/tsconfig.declaration.json
Labels: enhancement, ApiDOM

#4468 chore(error): consolidate tsconfig files
  packages/apidom-error/package.json
  packages/apidom-error/tsconfig.declaration.json
Labels: enhancement, ApiDOM

#4469 chore(ns-json-schema-draft-4): consolidate tsconfig files
  packages/apidom-ns-json-schema-draft-4/check-types-test.tsconfig.json
  packages/apidom-ns-json-schema-draft-4/check-types.tsconfig.json
  packages/apidom-ns-json-schema-draft-4/package.json
  packages/apidom-ns-json-schema-draft-4/test/tsconfig.json
  packages/apidom-ns-json-schema-draft-4/tsconfig.declaration.json
  packages/apidom-ns-json-schema-draft-4/tsconfig.json
Labels: enhancement, ApiDOM, TypeScript

#4451 build(logging): use nodenext for TypeScript modules
  packages/apidom-logging/.eslintrc
  packages/apidom-logging/package.json
  packages/apidom-logging/tsconfig.declaration.json
  packages/apidom-logging/tsconfig.json
Labels: enhancement, ApiDOM

#4452 build(json-pointer): use nodenext for TypeScript modules
  packages/apidom-json-pointer/.eslintrc
  packages/apidom-json-pointer/package.json
  packages/apidom-json-pointer/src/compile.ts
  packages/apidom-json-pointer/src/errors/CompilationJsonPointerError.ts
  packages/apidom-json-pointer/src/errors/EvaluationJsonPointerError.ts
  packages/apidom-json-pointer/src/errors/InvalidJsonPointerError.ts
  packages/apidom-json-pointer/src/evaluate.ts
  packages/apidom-json-pointer/src/index.ts
  packages/apidom-json-pointer/src/parse.ts
  packages/apidom-json-pointer/test/evaluate.ts
  packages/apidom-json-pointer/tsconfig.declaration.json
  packages/apidom-json-pointer/tsconfig.json
Labels: enhancement, ApiDOM

#4453 build(parser-adapter-yaml-1-2): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-yaml-1-2/.eslintrc
  packages/apidom-parser-adapter-yaml-1-2/package.json
  packages/apidom-parser-adapter-yaml-1-2/src/adapter-browser.ts
  packages/apidom-parser-adapter-yaml-1-2/src/adapter-node.ts
  packages/apidom-parser-adapter-yaml-1-2/src/adapter.ts
  packages/apidom-parser-adapter-yaml-1-2/src/lexical-analysis/browser.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/TreeCursorIterator.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/index.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-browser.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/block-maping/empty-key-properties.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/block-maping/empty-key-value-opt-key-indicator.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/block-maping/empty-key-value-properties.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/block-maping/empty-key-value.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/block-maping/empty-key.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/block-maping/empty-value-properties.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/block-maping/empty-value.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/flow-mapping/empty-key-properties.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/flow-mapping/empty-key-value-opt-key-indicator.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/flow-mapping/empty-key-value-properties.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/flow-mapping/empty-key-value.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/flow-mapping/empty-key.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/flow-mapping/empty-value-properties.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/mappings/flow-mapping/empty-value.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/scalars/flow-scalar/empty-flow-scalar-properties.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/sequences/block-sequence/empty-block-sequence-item.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/empty-nodes/sequences/flow-sequence/empty-flow-sequence-item-properties.ts
  packages/apidom-parser-adapter-yaml-1-2/test/adapter-node/index.ts
  packages/apidom-parser-adapter-yaml-1-2/test/media-types.ts
  packages/apidom-parser-adapter-yaml-1-2/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-yaml-1-2/test/perf/index.ts
  packages/apidom-parser-adapter-yaml-1-2/test/perf/lexical-analysis.ts
  packages/apidom-parser-adapter-yaml-1-2/test/perf/parse-syntactic-analysis-indirect.ts
  packages/apidom-parser-adapter-yaml-1-2/test/syntactic-analysis/TreeCursorIterator.ts
  packages/apidom-parser-adapter-yaml-1-2/test/tsconfig.json
  packages/apidom-parser-adapter-yaml-1-2/tsconfig.declaration.json
  packages/apidom-parser-adapter-yaml-1-2/tsconfig.json
Labels: enhancement, ApiDOM

#4454 build(parser-adapter-json): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-json/.eslintrc
  packages/apidom-parser-adapter-json/package.json
  packages/apidom-parser-adapter-json/src/adapter-browser.ts
  packages/apidom-parser-adapter-json/src/adapter-node.ts
  packages/apidom-parser-adapter-json/src/adapter.ts
  packages/apidom-parser-adapter-json/src/lexical-analysis/browser.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/TreeCursorIterator.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/direct/index.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/direct/visitors/CstVisitor.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/indirect/index.ts
  packages/apidom-parser-adapter-json/src/syntactic-analysis/indirect/visitors/CstVisitor.ts
  packages/apidom-parser-adapter-json/test/adapter-browser.ts
  packages/apidom-parser-adapter-json/test/adapter-node.ts
  packages/apidom-parser-adapter-json/test/media-types.ts
  packages/apidom-parser-adapter-json/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-json/test/perf/index.ts
  packages/apidom-parser-adapter-json/test/perf/lexical-analysis.ts
  packages/apidom-parser-adapter-json/test/perf/parse-syntactic-analysis-direct.ts
  packages/apidom-parser-adapter-json/test/perf/parse-syntactic-analysis-indirect.ts
  packages/apidom-parser-adapter-json/test/syntactic-analysis/TreeCursorIterator.ts
  packages/apidom-parser-adapter-json/test/tsconfig.json
  packages/apidom-parser-adapter-json/tsconfig.declaration.json
  packages/apidom-parser-adapter-json/tsconfig.json
Labels: enhancement, ApiDOM

#4455 build(json-path): use nodenext for TypeScript modules
  packages/apidom-json-path/.eslintrc
  packages/apidom-json-path/package.json
  packages/apidom-json-path/src/errors/EvaluationJsonPathError.ts
  packages/apidom-json-path/src/errors/MultiEvaluationJsonPathError.ts
  packages/apidom-json-path/src/evaluate-multi.ts
  packages/apidom-json-path/src/evaluate.ts
  packages/apidom-json-path/src/index.ts
  packages/apidom-json-path/test/evaluate-multi.ts
  packages/apidom-json-path/test/evaluate.ts
  packages/apidom-json-path/tsconfig.declaration.json
  packages/apidom-json-path/tsconfig.json
Labels: enhancement, ApiDOM

#4456 build(parser): use nodenext for TypeScript modules
  packages/apidom-parser/.eslintrc
  packages/apidom-parser/package.json
  packages/apidom-parser/src/errors/ParserError.ts
  packages/apidom-parser/src/parser.ts
  packages/apidom-parser/test/adapter-priority.ts
  packages/apidom-parser/test/parser.ts
  packages/apidom-parser/test/tsconfig.json
  packages/apidom-parser/tsconfig.declaration.json
  packages/apidom-parser/tsconfig.json
Labels: enhancement, ApiDOM

#4457 build(json-pointer-relative): use nodenext for TypeScript modules
  packages/apidom-json-pointer-relative/.eslintrc
  packages/apidom-json-pointer-relative/package.json
  packages/apidom-json-pointer-relative/src/compile.ts
  packages/apidom-json-pointer-relative/src/errors/CompilationRelativeJsonPointerError.ts
  packages/apidom-json-pointer-relative/src/errors/EvaluationRelativeJsonPointerError.ts
  packages/apidom-json-pointer-relative/src/errors/InvalidRelativeJsonPointerError.ts
  packages/apidom-json-pointer-relative/src/evaluate.ts
  packages/apidom-json-pointer-relative/src/index.ts
  packages/apidom-json-pointer-relative/src/parse.ts
  packages/apidom-json-pointer-relative/test/compile.ts
  packages/apidom-json-pointer-relative/test/evaluate.ts
  packages/apidom-json-pointer-relative/test/parse.ts
  packages/apidom-json-pointer-relative/tsconfig.declaration.json
  packages/apidom-json-pointer-relative/tsconfig.json
Labels: enhancement, ApiDOM

#4460 build(ns-json-schema-draft-6): use nodenext for TypeScript modules
  packages/apidom-ns-json-schema-draft-6/.eslintrc
  packages/apidom-ns-json-schema-draft-6/package.json
  packages/apidom-ns-json-schema-draft-6/src/elements/LinkDescription.ts
  packages/apidom-ns-json-schema-draft-6/src/index.ts
  packages/apidom-ns-json-schema-draft-6/src/namespace.ts
  packages/apidom-ns-json-schema-draft-6/src/predicates.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/index.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/registration.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/specification.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/toolbox.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/link-description/index.ts
  packages/apidom-ns-json-schema-draft-6/test/mocha-bootstrap.ts
  packages/apidom-ns-json-schema-draft-6/test/predicates.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/elements/JSONReference/index.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/elements/JSONSchema/index.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/elements/LinkDescription/index.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/elements/Media/index.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/index.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/plugins/replace-empty-element/mappings.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/plugins/replace-empty-element/sequences.ts
  packages/apidom-ns-json-schema-draft-6/test/tsconfig.json
  packages/apidom-ns-json-schema-draft-6/tsconfig.declaration.json
  packages/apidom-ns-json-schema-draft-6/tsconfig.json
Labels: enhancement, ApiDOM

#4462 build(parser-adapter-openapi-yaml-2): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-openapi-yaml-2/.eslintrc
  packages/apidom-parser-adapter-openapi-yaml-2/package.json
  packages/apidom-parser-adapter-openapi-yaml-2/src/adapter.ts
  packages/apidom-parser-adapter-openapi-yaml-2/test/adapter.ts
  packages/apidom-parser-adapter-openapi-yaml-2/test/media-types.ts
  packages/apidom-parser-adapter-openapi-yaml-2/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-openapi-yaml-2/test/tsconfig.json
  packages/apidom-parser-adapter-openapi-yaml-2/tsconfig.declaration.json
  packages/apidom-parser-adapter-openapi-yaml-2/tsconfig.json
Labels: enhancement, ApiDOM

#4463 build(parser-adapter-openapi-json-2): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-openapi-json-2/.eslintrc
  packages/apidom-parser-adapter-openapi-json-2/package.json
  packages/apidom-parser-adapter-openapi-json-2/src/adapter.ts
  packages/apidom-parser-adapter-openapi-json-2/test/adapter.ts
  packages/apidom-parser-adapter-openapi-json-2/test/media-types.ts
  packages/apidom-parser-adapter-openapi-json-2/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-openapi-json-2/test/tsconfig.json
  packages/apidom-parser-adapter-openapi-json-2/tsconfig.declaration.json
  packages/apidom-parser-adapter-openapi-json-2/tsconfig.json
Labels: enhancement, ApiDOM

#4464 build(parser-adapter-openapi-json-3-0): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-openapi-json-3-0/.eslintrc
  packages/apidom-parser-adapter-openapi-json-3-0/package.json
  packages/apidom-parser-adapter-openapi-json-3-0/src/adapter.ts
  packages/apidom-parser-adapter-openapi-json-3-0/test/adapter.ts
  packages/apidom-parser-adapter-openapi-json-3-0/test/media-types.ts
  packages/apidom-parser-adapter-openapi-json-3-0/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-openapi-json-3-0/test/tsconfig.json
  packages/apidom-parser-adapter-openapi-json-3-0/tsconfig.declaration.json
  packages/apidom-parser-adapter-openapi-json-3-0/tsconfig.json
Labels: enhancement, ApiDOM

#4471 build(ns-api-design-systems): use nodenext for TypeScript modules
  packages/apidom-ns-api-design-systems/.eslintrc
  packages/apidom-ns-api-design-systems/package.json
  packages/apidom-ns-api-design-systems/src/elements/Main.ts
  packages/apidom-ns-api-design-systems/src/elements/Principle.ts
  packages/apidom-ns-api-design-systems/src/elements/Requirement.ts
  packages/apidom-ns-api-design-systems/src/elements/Scenario.ts
  packages/apidom-ns-api-design-systems/src/elements/Standard.ts
  packages/apidom-ns-api-design-systems/src/index.ts
  packages/apidom-ns-api-design-systems/src/namespace.ts
  packages/apidom-ns-api-design-systems/src/predicates.ts
  packages/apidom-ns-api-design-systems/src/refractor/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/registration.ts
  packages/apidom-ns-api-design-systems/src/refractor/specification.ts
  packages/apidom-ns-api-design-systems/src/refractor/toolbox.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/FallbackVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/info/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/PrinciplesVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/ScenariosVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/StandardsVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/principle/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement-level/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/ThenVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard-identifier/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/generics/FixedFieldsVisitor.ts
  packages/apidom-ns-api-design-systems/src/validator/openapi-3-1/accessor.ts
  packages/apidom-ns-api-design-systems/src/validator/openapi-3-1/selector.ts
  packages/apidom-ns-api-design-systems/src/validator/openapi-3-1/validator.ts
  packages/apidom-ns-api-design-systems/test/media-types.ts
  packages/apidom-ns-api-design-systems/test/mocha-bootstrap.ts
  packages/apidom-ns-api-design-systems/test/refractor/elements/Info/index.ts
  packages/apidom-ns-api-design-systems/test/refractor/elements/Main/index.ts
  packages/apidom-ns-api-design-systems/test/refractor/elements/Principle/index.ts
  packages/apidom-ns-api-design-systems/test/refractor/elements/Requirement/index.ts
  packages/apidom-ns-api-design-systems/test/refractor/elements/RequirementLevel/index.ts
  packages/apidom-ns-api-design-systems/test/refractor/elements/Scenario/index.ts
  packages/apidom-ns-api-design-systems/test/refractor/elements/Standard/index.ts
  packages/apidom-ns-api-design-systems/test/refractor/elements/StandardIdentifier/index.ts
  packages/apidom-ns-api-design-systems/test/refractor/index.ts
  packages/apidom-ns-api-design-systems/test/refractor/plugins/openapi-3-1/standard-identifier-selectors.ts
  packages/apidom-ns-api-design-systems/test/tsconfig.json
  packages/apidom-ns-api-design-systems/test/validator/openapi-3-1/accessor.ts
  packages/apidom-ns-api-design-systems/test/validator/openapi-3-1/http-request-header-content-type/index.ts
  packages/apidom-ns-api-design-systems/test/validator/openapi-3-1/http-request-header/index.ts
  packages/apidom-ns-api-design-systems/test/validator/openapi-3-1/http-request-method/index.ts
  packages/apidom-ns-api-design-systems/test/validator/openapi-3-1/http-response-status-code/index.ts
  packages/apidom-ns-api-design-systems/test/validator/openapi-3-1/selector.ts
  packages/apidom-ns-api-design-systems/tsconfig.declaration.json
  packages/apidom-ns-api-design-systems/tsconfig.json
Labels: enhancement, ApiDOM

#4472 build(parser-adapter-openapi-yaml-3-1): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-openapi-yaml-3-1/.eslintrc
  packages/apidom-parser-adapter-openapi-yaml-3-1/package.json
  packages/apidom-parser-adapter-openapi-yaml-3-1/src/adapter.ts
  packages/apidom-parser-adapter-openapi-yaml-3-1/test/adapter.ts
  packages/apidom-parser-adapter-openapi-yaml-3-1/test/media-types.ts
  packages/apidom-parser-adapter-openapi-yaml-3-1/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-openapi-yaml-3-1/test/perf/index.ts
  packages/apidom-parser-adapter-openapi-yaml-3-1/test/perf/parse.ts
  packages/apidom-parser-adapter-openapi-yaml-3-1/test/tsconfig.json
  packages/apidom-parser-adapter-openapi-yaml-3-1/tsconfig.declaration.json
  packages/apidom-parser-adapter-openapi-yaml-3-1/tsconfig.json
Labels: enhancement, ApiDOM

#4473 build(parser-adapter-openapi-json-3-1): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-openapi-json-3-1/.eslintrc
  packages/apidom-parser-adapter-openapi-json-3-1/package.json
  packages/apidom-parser-adapter-openapi-json-3-1/src/adapter.ts
  packages/apidom-parser-adapter-openapi-json-3-1/test/adapter.ts
  packages/apidom-parser-adapter-openapi-json-3-1/test/media-types.ts
  packages/apidom-parser-adapter-openapi-json-3-1/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-openapi-json-3-1/test/perf/index.ts
  packages/apidom-parser-adapter-openapi-json-3-1/test/perf/parse.ts
  packages/apidom-parser-adapter-openapi-json-3-1/test/tsconfig.json
  packages/apidom-parser-adapter-openapi-json-3-1/tsconfig.declaration.json
  packages/apidom-parser-adapter-openapi-json-3-1/tsconfig.json
Labels: enhancement, ApiDOM

#4482 build(parser-adapter-api-design-systems-yaml): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-api-design-systems-yaml/.eslintrc
  packages/apidom-parser-adapter-api-design-systems-yaml/package.json
  packages/apidom-parser-adapter-api-design-systems-yaml/src/adapter.ts
  packages/apidom-parser-adapter-api-design-systems-yaml/test/adapter.ts
  packages/apidom-parser-adapter-api-design-systems-yaml/test/media-types.ts
  packages/apidom-parser-adapter-api-design-systems-yaml/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-api-design-systems-yaml/test/tsconfig.json
  packages/apidom-parser-adapter-api-design-systems-yaml/tsconfig.declaration.json
  packages/apidom-parser-adapter-api-design-systems-yaml/tsconfig.json
Labels: enhancement, ApiDOM

#4483 build(parser-adapter-workflows-yaml-1): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-workflows-yaml-1/.eslintrc
  packages/apidom-parser-adapter-workflows-yaml-1/package.json
  packages/apidom-parser-adapter-workflows-yaml-1/src/adapter.ts
  packages/apidom-parser-adapter-workflows-yaml-1/test/adapter.ts
  packages/apidom-parser-adapter-workflows-yaml-1/test/media-types.ts
  packages/apidom-parser-adapter-workflows-yaml-1/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-workflows-yaml-1/test/tsconfig.json
  packages/apidom-parser-adapter-workflows-yaml-1/tsconfig.declaration.json
  packages/apidom-parser-adapter-workflows-yaml-1/tsconfig.json
Labels: enhancement, ApiDOM

#4485 build(parser-adapter-api-design-systems-json): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-api-design-systems-json/.eslintrc
  packages/apidom-parser-adapter-api-design-systems-json/package.json
  packages/apidom-parser-adapter-api-design-systems-json/src/adapter.ts
  packages/apidom-parser-adapter-api-design-systems-json/test/adapter.ts
  packages/apidom-parser-adapter-api-design-systems-json/test/media-types.ts
  packages/apidom-parser-adapter-api-design-systems-json/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-api-design-systems-json/test/tsconfig.json
  packages/apidom-parser-adapter-api-design-systems-json/tsconfig.declaration.json
  packages/apidom-parser-adapter-api-design-systems-json/tsconfig.json
Labels: enhancement, ApiDOM

#4488 build(parser-adapter-asyncapi-yaml-2): use nodenext for TypeScript modules
  packages/apidom-parser-adapter-asyncapi-yaml-2/.eslintrc
  packages/apidom-parser-adapter-asyncapi-yaml-2/package.json
  packages/apidom-parser-adapter-asyncapi-yaml-2/src/adapter.ts
  packages/apidom-parser-adapter-asyncapi-yaml-2/test/adapter.ts
  packages/apidom-parser-adapter-asyncapi-yaml-2/test/media-types.ts
  packages/apidom-parser-adapter-asyncapi-yaml-2/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-asyncapi-yaml-2/test/perf/index.ts
  packages/apidom-parser-adapter-asyncapi-yaml-2/test/perf/parse.ts
  packages/apidom-parser-adapter-asyncapi-yaml-2/test/perf/refract.ts
  packages/apidom-parser-adapter-asyncapi-yaml-2/test/tsconfig.json
  packages/apidom-parser-adapter-asyncapi-yaml-2/tsconfig.declaration.json
  packages/apidom-parser-adapter-asyncapi-yaml-2/tsconfig.json
Labels: enhancement, ApiDOM

#4490 build(converter): use nodenext for TypeScript modules
  packages/apidom-converter/.eslintrc
  packages/apidom-converter/package.json
  packages/apidom-converter/src/errors/UnmatchedConvertStrategyError.ts
  packages/apidom-converter/src/index.ts
  packages/apidom-converter/src/options/index.ts
  packages/apidom-converter/src/strategies/ConvertStrategy.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/index.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/security-requirements-empty-roles.ts
  packages/apidom-converter/src/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/security-scheme-type.ts
  packages/apidom-converter/test/index.ts
  packages/apidom-converter/test/mocha-bootstrap.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/info-summary/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/license-identifier/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/openapi-version/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/reference-description/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/reference-summary/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/security-requirements-empty-roles/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/security-scheme-type/index.ts
  packages/apidom-converter/test/strategies/openapi-3-1-to-openapi-3-0-3/refractor-plugins/webhooks/index.ts
  packages/apidom-converter/test/tsconfig.json
  packages/apidom-converter/tsconfig.declaration.json
  packages/apidom-converter/tsconfig.json
Labels: enhancement, ApiDOM

#4496 build(parser): remove legacy tsconfig for tests
  packages/apidom-parser/package.json
  packages/apidom-parser/test/tsconfig.json
  packages/apidom-parser/tsconfig.declaration.json
  packages/apidom-parser/tsconfig.json
Labels: enhancement, ApiDOM

#4497 build: use nodenext in global tsconfig file
  tsconfig.json
Labels: enhancement, ApiDOM

#4498 build: remove nodenext from local tsconfig files
  packages/apidom-ast/tsconfig.json
  packages/apidom-converter/tsconfig.json
  packages/apidom-core/tsconfig.json
  packages/apidom-error/tsconfig.json
  packages/apidom-json-path/tsconfig.json
  packages/apidom-json-pointer-relative/tsconfig.json
  packages/apidom-json-pointer/tsconfig.json
  packages/apidom-logging/tsconfig.json
  packages/apidom-ls/tsconfig.json
  packages/apidom-ns-api-design-systems/tsconfig.json
  packages/apidom-ns-asyncapi-2/tsconfig.json
  packages/apidom-ns-json-schema-draft-4/tsconfig.json
  packages/apidom-ns-json-schema-draft-6/tsconfig.json
  packages/apidom-ns-json-schema-draft-7/tsconfig.json
  packages/apidom-ns-openapi-2/tsconfig.json
  packages/apidom-ns-openapi-3-0/tsconfig.json
  packages/apidom-ns-openapi-3-1/tsconfig.json
  packages/apidom-ns-workflows-1/tsconfig.json
  packages/apidom-parser-adapter-api-design-systems-json/tsconfig.json
  packages/apidom-parser-adapter-api-design-systems-yaml/tsconfig.json
  packages/apidom-parser-adapter-asyncapi-json-2/tsconfig.json
  packages/apidom-parser-adapter-asyncapi-yaml-2/tsconfig.json
  packages/apidom-parser-adapter-json/tsconfig.json
  packages/apidom-parser-adapter-openapi-json-2/tsconfig.json
  packages/apidom-parser-adapter-openapi-json-3-0/tsconfig.json
  packages/apidom-parser-adapter-openapi-json-3-1/tsconfig.json
  packages/apidom-parser-adapter-openapi-yaml-2/tsconfig.json
  packages/apidom-parser-adapter-openapi-yaml-3-0/tsconfig.json
  packages/apidom-parser-adapter-openapi-yaml-3-1/tsconfig.json
  packages/apidom-parser-adapter-workflows-json-1/tsconfig.json
  packages/apidom-parser-adapter-workflows-yaml-1/tsconfig.json
  packages/apidom-parser-adapter-yaml-1-2/tsconfig.json
  packages/apidom-parser/tsconfig.json
  packages/apidom-reference/tsconfig.json
Labels: enhancement, ApiDOM

#4499 chore: use global linting rules for nodenext
  .eslintrc.cjs
  packages/apidom-ast/.eslintrc
  packages/apidom-converter/.eslintrc
  packages/apidom-core/.eslintrc
  packages/apidom-error/.eslintrc
  packages/apidom-json-path/.eslintrc
  packages/apidom-json-pointer-relative/.eslintrc
  packages/apidom-json-pointer/.eslintrc
  packages/apidom-logging/.eslintrc
  packages/apidom-ls/.eslintrc
  packages/apidom-ns-api-design-systems/.eslintrc
  packages/apidom-ns-asyncapi-2/.eslintrc
  packages/apidom-ns-json-schema-draft-4/.eslintrc
  packages/apidom-ns-json-schema-draft-6/.eslintrc
  packages/apidom-ns-json-schema-draft-7/.eslintrc
  packages/apidom-ns-openapi-2/.eslintrc
  packages/apidom-ns-openapi-3-0/.eslintrc
  packages/apidom-ns-openapi-3-1/.eslintrc
  packages/apidom-ns-workflows-1/.eslintrc
  packages/apidom-parser-adapter-api-design-systems-json/.eslintrc
  packages/apidom-parser-adapter-api-design-systems-yaml/.eslintrc
  packages/apidom-parser-adapter-asyncapi-json-2/.eslintrc
  packages/apidom-parser-adapter-asyncapi-yaml-2/.eslintrc
  packages/apidom-parser-adapter-json/.eslintrc
  packages/apidom-parser-adapter-openapi-json-2/.eslintrc
  packages/apidom-parser-adapter-openapi-json-3-0/.eslintrc
  packages/apidom-parser-adapter-openapi-json-3-1/.eslintrc
  packages/apidom-parser-adapter-openapi-yaml-2/.eslintrc
  packages/apidom-parser-adapter-openapi-yaml-3-0/.eslintrc
  packages/apidom-parser-adapter-openapi-yaml-3-1/.eslintrc
  packages/apidom-parser-adapter-workflows-json-1/.eslintrc
  packages/apidom-parser-adapter-workflows-yaml-1/.eslintrc
  packages/apidom-parser-adapter-yaml-1-2/.eslintrc
  packages/apidom-parser/.eslintrc
  packages/apidom-reference/.eslintrc
Labels: enhancement, ApiDOM

#4503 chore(logging): use API Extractor for TypeScript rollup
  packages/apidom-logging/config/api-extractor/api-extractor.json
  packages/apidom-logging/config/rollup/types.dist.js
  packages/apidom-logging/package.json
Labels: enhancement, TypeScript

#4504 chore(ast): use API Extractor for TypeScript rollup
  packages/apidom-ast/config/api-extractor/api-extractor.json
  packages/apidom-ast/config/rollup/types.dist.js
  packages/apidom-ast/package.json
  packages/apidom-ast/src/Error.ts
  packages/apidom-ast/src/Literal.ts
  packages/apidom-ast/src/Node.ts
  packages/apidom-ast/src/ParseResult.ts
  packages/apidom-ast/src/Position.ts
  packages/apidom-ast/src/index.ts
  packages/apidom-ast/src/json/nodes/JsonArray.ts
  packages/apidom-ast/src/json/nodes/JsonDocument.ts
  packages/apidom-ast/src/json/nodes/JsonEscapeSequence.ts
  packages/apidom-ast/src/json/nodes/JsonFalse.ts
  packages/apidom-ast/src/json/nodes/JsonKey.ts
  packages/apidom-ast/src/json/nodes/JsonNode.ts
  packages/apidom-ast/src/json/nodes/JsonNull.ts
  packages/apidom-ast/src/json/nodes/JsonNumber.ts
  packages/apidom-ast/src/json/nodes/JsonObject.ts
  packages/apidom-ast/src/json/nodes/JsonProperty.ts
  packages/apidom-ast/src/json/nodes/JsonString.ts
  packages/apidom-ast/src/json/nodes/JsonStringContent.ts
  packages/apidom-ast/src/json/nodes/JsonTrue.ts
  packages/apidom-ast/src/json/nodes/JsonValue.ts
  packages/apidom-ast/src/json/nodes/predicates.ts
  packages/apidom-ast/src/predicates.ts
  packages/apidom-ast/src/traversal/visitor.ts
  packages/apidom-ast/src/yaml/anchors-aliases/ReferenceManager.ts
  packages/apidom-ast/src/yaml/errors/YamlError.ts
  packages/apidom-ast/src/yaml/errors/YamlReferenceError.ts
  packages/apidom-ast/src/yaml/errors/YamlSchemaError.ts
  packages/apidom-ast/src/yaml/errors/YamlTagError.ts
  packages/apidom-ast/src/yaml/nodes/YamlAlias.ts
  packages/apidom-ast/src/yaml/nodes/YamlAnchor.ts
  packages/apidom-ast/src/yaml/nodes/YamlCollection.ts
  packages/apidom-ast/src/yaml/nodes/YamlComment.ts
  packages/apidom-ast/src/yaml/nodes/YamlDirective.ts
  packages/apidom-ast/src/yaml/nodes/YamlDocument.ts
  packages/apidom-ast/src/yaml/nodes/YamlKeyValuePair.ts
  packages/apidom-ast/src/yaml/nodes/YamlMapping.ts
  packages/apidom-ast/src/yaml/nodes/YamlNode.ts
  packages/apidom-ast/src/yaml/nodes/YamlScalar.ts
  packages/apidom-ast/src/yaml/nodes/YamlSequence.ts
  packages/apidom-ast/src/yaml/nodes/YamlStream.ts
  packages/apidom-ast/src/yaml/nodes/YamlStyle.ts
  packages/apidom-ast/src/yaml/nodes/YamlTag.ts
  packages/apidom-ast/src/yaml/nodes/predicates.ts
  packages/apidom-ast/src/yaml/schemas/failsafe/index.ts
  packages/apidom-ast/src/yaml/schemas/json/index.ts
Labels: enhancement, TypeScript

#4509 chore(core): use API Extractor for TypeScript rollup
  packages/apidom-core/config/api-extractor/api-extractor.json
  packages/apidom-core/config/rollup/types.dist.js
  packages/apidom-core/package.json
  packages/apidom-core/scripts/file-replace-bof.js
  packages/apidom-core/src/clone/errors/CloneError.ts
  packages/apidom-core/src/clone/errors/DeepCloneError.ts
  packages/apidom-core/src/clone/errors/ShallowCloneError.ts
  packages/apidom-core/src/clone/index.ts
  packages/apidom-core/src/elements/Annotation.ts
  packages/apidom-core/src/elements/Comment.ts
  packages/apidom-core/src/elements/ParseResult.ts
  packages/apidom-core/src/elements/SourceMap.ts
  packages/apidom-core/src/identity/errors/ElementIdentityError.ts
  packages/apidom-core/src/identity/index.ts
  packages/apidom-core/src/index.ts
  packages/apidom-core/src/media-types.ts
  packages/apidom-core/src/merge/deepmerge.ts
  packages/apidom-core/src/merge/merge-left.ts
  packages/apidom-core/src/merge/merge-right.ts
  packages/apidom-core/src/namespace.ts
  packages/apidom-core/src/predicates/helpers.ts
  packages/apidom-core/src/predicates/index.ts
  packages/apidom-core/src/refractor/plugins/dispatcher/index.ts
  packages/apidom-core/src/refractor/plugins/element-identity.ts
  packages/apidom-core/src/refractor/plugins/semantic-element-identity.ts
  packages/apidom-core/src/refractor/toolbox.ts
  packages/apidom-core/src/transcluder/Transcluder.ts
  packages/apidom-core/src/transcluder/index.ts
  packages/apidom-core/src/transformers/dehydrate.ts
  packages/apidom-core/src/transformers/from.ts
  packages/apidom-core/src/transformers/serializers/json.ts
  packages/apidom-core/src/transformers/serializers/value/index.ts
  packages/apidom-core/src/transformers/serializers/yaml-1-2.ts
  packages/apidom-core/src/transformers/sexprs.ts
  packages/apidom-core/src/transformers/to-string.ts
  packages/apidom-core/src/traversal/filter.ts
  packages/apidom-core/src/traversal/find.ts
  packages/apidom-core/src/traversal/findAtOffset.ts
  packages/apidom-core/src/traversal/index.ts
  packages/apidom-core/src/traversal/parents.ts
  packages/apidom-core/src/traversal/reject.ts
  packages/apidom-core/src/traversal/some.ts
  packages/apidom-core/src/traversal/traverse.ts
  packages/apidom-core/src/traversal/visitor.ts
  packages/apidom-core/src/util.ts
Labels: enhancement, TypeScript

#4510 chore(json-pointer): use API Extractor for TypeScript rollup
  packages/apidom-json-pointer/config/api-extractor/api-extractor.json
  packages/apidom-json-pointer/config/rollup/types.dist.js
  packages/apidom-json-pointer/package.json
  packages/apidom-json-pointer/src/compile.ts
  packages/apidom-json-pointer/src/errors/CompilationJsonPointerError.ts
  packages/apidom-json-pointer/src/errors/EvaluationJsonPointerError.ts
  packages/apidom-json-pointer/src/errors/InvalidJsonPointerError.ts
  packages/apidom-json-pointer/src/errors/JsonPointerError.ts
  packages/apidom-json-pointer/src/escape.ts
  packages/apidom-json-pointer/src/evaluate.ts
  packages/apidom-json-pointer/src/parse.ts
  packages/apidom-json-pointer/src/unescape.ts
Labels: enhancement, TypeScript

#4514 chore(parser-adapter-yaml-1-2): use API Extractor for TypeScript rollup
  packages/apidom-parser-adapter-yaml-1-2/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-yaml-1-2/config/rollup/types.dist.js
  packages/apidom-parser-adapter-yaml-1-2/package.json
  packages/apidom-parser-adapter-yaml-1-2/src/adapter-browser.ts
  packages/apidom-parser-adapter-yaml-1-2/src/adapter-node.ts
  packages/apidom-parser-adapter-yaml-1-2/src/adapter.ts
  packages/apidom-parser-adapter-yaml-1-2/src/lexical-analysis/browser.ts
  packages/apidom-parser-adapter-yaml-1-2/src/lexical-analysis/node.ts
  packages/apidom-parser-adapter-yaml-1-2/src/media-types.ts
  packages/apidom-parser-adapter-yaml-1-2/src/syntactic-analysis/indirect/index.ts
Labels: enhancement, TypeScript

#4515 chore(json-path): use API Extractor for TypeScript rollup
  packages/apidom-json-path/config/api-extractor/api-extractor.json
  packages/apidom-json-path/config/rollup/types.dist.js
  packages/apidom-json-path/package.json
  packages/apidom-json-path/src/errors/EvaluationJsonPathError.ts
  packages/apidom-json-path/src/errors/JsonPathError.ts
  packages/apidom-json-path/src/errors/MultiEvaluationJsonPathError.ts
  packages/apidom-json-path/src/evaluate-multi.ts
  packages/apidom-json-path/src/evaluate.ts
  packages/apidom-json-path/src/index.ts
Labels: enhancement, TypeScript

#4517 chore(json-pointer-relative): use API Extractor for TypeScript rollup
  packages/apidom-json-pointer-relative/config/api-extractor/api-extractor.json
  packages/apidom-json-pointer-relative/config/rollup/types.dist.js
  packages/apidom-json-pointer-relative/package.json
  packages/apidom-json-pointer-relative/src/compile.ts
  packages/apidom-json-pointer-relative/src/errors/CompilationRelativeJsonPointerError.ts
  packages/apidom-json-pointer-relative/src/errors/EvaluationRelativeJsonPointerError.ts
  packages/apidom-json-pointer-relative/src/errors/InvalidRelativeJsonPointerError.ts
  packages/apidom-json-pointer-relative/src/errors/RelativeJsonPointerError.ts
  packages/apidom-json-pointer-relative/src/evaluate.ts
  packages/apidom-json-pointer-relative/src/parse.ts
  packages/apidom-json-pointer-relative/src/types.ts
Labels: enhancement, TypeScript

#4518 chore(parser): use API Extractor for TypeScript rollup
  packages/apidom-parser/config/api-extractor/api-extractor.json
  packages/apidom-parser/config/rollup/types.dist.js
  packages/apidom-parser/package.json
  packages/apidom-parser/src/errors/ParserError.ts
  packages/apidom-parser/src/parser.ts
  packages/apidom-parser/src/types.d.ts
Labels: enhancement, TypeScript

#4519 chore(parser-adapter-openapi-yaml-3-0): use API Extractor for TypeScript rollup
  packages/apidom-parser-adapter-openapi-yaml-3-0/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-openapi-yaml-3-0/config/rollup/types.dist.js
  packages/apidom-parser-adapter-openapi-yaml-3-0/package.json
  packages/apidom-parser-adapter-openapi-yaml-3-0/src/adapter.ts
  packages/apidom-parser-adapter-openapi-yaml-3-0/src/media-types.ts
Labels: enhancement, TypeScript

#4520 chore(parser-adapter-openapi-yaml-2): use API Extractor for TypeScript rollup
  packages/apidom-parser-adapter-openapi-yaml-2/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-openapi-yaml-2/config/rollup/types.dist.js
  packages/apidom-parser-adapter-openapi-yaml-2/package.json
  packages/apidom-parser-adapter-openapi-yaml-2/src/adapter.ts
  packages/apidom-parser-adapter-openapi-yaml-2/src/media-types.ts
Labels: enhancement, TypeScript

#4521 chore(parser-adapter-openapi-json-2): use API Extractor for TypeScript rollup
  packages/apidom-parser-adapter-openapi-json-2/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-openapi-json-2/config/rollup/types.dist.js
  packages/apidom-parser-adapter-openapi-json-2/package.json
  packages/apidom-parser-adapter-openapi-json-2/src/adapter.ts
  packages/apidom-parser-adapter-openapi-json-2/src/media-types.ts
Labels: enhancement, TypeScript

#4522 chore(parser-adapter-openapi-json-3-0): use API Extractor for TypeScript rollup
  packages/apidom-parser-adapter-openapi-json-3-0/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-openapi-json-3-0/config/rollup/types.dist.js
  packages/apidom-parser-adapter-openapi-json-3-0/package.json
  packages/apidom-parser-adapter-openapi-json-3-0/src/adapter.ts
  packages/apidom-parser-adapter-openapi-json-3-0/src/media-types.ts
Labels: enhancement, TypeScript

#4524 chore(parser-adapter-openapi-json-3-1): use API Extractor for TypeScript rollup
  packages/apidom-parser-adapter-openapi-json-3-1/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-openapi-json-3-1/config/rollup/types.dist.js
  packages/apidom-parser-adapter-openapi-json-3-1/package.json
  packages/apidom-parser-adapter-openapi-json-3-1/src/adapter.ts
  packages/apidom-parser-adapter-openapi-json-3-1/src/media-types.ts
Labels: enhancement, TypeScript

#4526 chore(parser-adapter-api-design-systems-json): use API Extractor for TypeScript rollup
  packages/apidom-parser-adapter-api-design-systems-json/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-api-design-systems-json/config/rollup/types.dist.js
  packages/apidom-parser-adapter-api-design-systems-json/package.json
  packages/apidom-parser-adapter-api-design-systems-json/src/adapter.ts
  packages/apidom-parser-adapter-api-design-systems-json/src/media-types.ts
Labels: enhancement, TypeScript

#4527 chore(parser-adapter-workflows-yaml-1): use API Extractor for TypeScript rollup
  packages/apidom-parser-adapter-workflows-yaml-1/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-workflows-yaml-1/config/rollup/types.dist.js
  packages/apidom-parser-adapter-workflows-yaml-1/package.json
  packages/apidom-parser-adapter-workflows-yaml-1/src/adapter.ts
  packages/apidom-parser-adapter-workflows-yaml-1/src/media-types.ts
Labels: enhancement, TypeScript

#4528 chore(parser-adapter-workflows-json-1): use API Extractor for TypeScript rollup
  packages/apidom-parser-adapter-workflows-json-1/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-workflows-json-1/config/rollup/types.dist.js
  packages/apidom-parser-adapter-workflows-json-1/package.json
  packages/apidom-parser-adapter-workflows-json-1/src/adapter.ts
  packages/apidom-parser-adapter-workflows-json-1/src/media-types.ts
Labels: enhancement, TypeScript

#4530 chore(parser-adapter-asyncapi-json-2): use API Extractor for TypeScript rollup
  packages/apidom-parser-adapter-asyncapi-json-2/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-asyncapi-json-2/config/rollup/types.dist.js
  packages/apidom-parser-adapter-asyncapi-json-2/package.json
  packages/apidom-parser-adapter-asyncapi-json-2/src/adapter.ts
  packages/apidom-parser-adapter-asyncapi-json-2/src/media-types.ts
Labels: enhancement, TypeScript

#4531 chore(converter): use API Extractor for TypeScript rollup
  packages/apidom-converter/config/api-extractor/api-extractor.json
  packages/apidom-converter/config/rollup/types.dist.js
  packages/apidom-converter/package.json
  packages/apidom-converter/src/errors/ConvertError.ts
  packages/apidom-converter/src/errors/UnmatchedConvertStrategyError.ts
  packages/apidom-converter/src/index.ts
Labels: enhancement, TypeScript

#4541 chore(ns-json-schema-draft-4): remove restriction of specificationObj type
  packages/apidom-ns-json-schema-draft-4/src/index.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/index.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/specification.ts
Labels: enhancement, TypeScript

#4546 fix(reference): fix mismatch in optional deps
  package-lock.json
  packages/apidom-reference/package.json
Labels: bug, ApiDOM, dependencies

#4549 fix(json-pointer): fix non existing package entry point
  packages/apidom-json-pointer/package.json
Labels: bug, ApiDOM

#4538 chore(reference): use API Extractor for TypeScript rollup
  packages/apidom-reference/config/api-extractor/api-extractor.json
  packages/apidom-reference/config/rollup/types.dist.js
  packages/apidom-reference/package.json
  packages/apidom-reference/src/File.ts
  packages/apidom-reference/src/Reference.ts
  packages/apidom-reference/src/ReferenceSet.ts
  packages/apidom-reference/src/bundle/strategies/BundleStrategy.ts
  packages/apidom-reference/src/dereference/strategies/DereferenceStrategy.ts
  packages/apidom-reference/src/dereference/util.ts
  packages/apidom-reference/src/errors/BundleError.ts
  packages/apidom-reference/src/errors/DereferenceError.ts
  packages/apidom-reference/src/errors/EvaluationElementIdError.ts
  packages/apidom-reference/src/errors/EvaluationJsonSchema$anchorError.ts
  packages/apidom-reference/src/errors/EvaluationJsonSchemaUriError.ts
  packages/apidom-reference/src/errors/InvalidJsonSchema$anchorError.ts
  packages/apidom-reference/src/errors/JsonSchema$anchorError.ts
  packages/apidom-reference/src/errors/JsonSchemaUriError.ts
  packages/apidom-reference/src/errors/MaximumBundleDepthError.ts
  packages/apidom-reference/src/errors/MaximumDereferenceDepthError.ts
  packages/apidom-reference/src/errors/MaximumResolveDepthError.ts
  packages/apidom-reference/src/errors/ParseError.ts
  packages/apidom-reference/src/errors/ParserError.ts
  packages/apidom-reference/src/errors/PluginError.ts
  packages/apidom-reference/src/errors/ResolveError.ts
  packages/apidom-reference/src/errors/ResolverError.ts
  packages/apidom-reference/src/errors/UnmatchedBundleStrategyError.ts
  packages/apidom-reference/src/errors/UnmatchedDereferenceStrategyError.ts
  packages/apidom-reference/src/errors/UnmatchedResolveStrategyError.ts
  packages/apidom-reference/src/errors/UnmatchedResolverError.ts
  packages/apidom-reference/src/index.ts
  packages/apidom-reference/src/options/index.ts
  packages/apidom-reference/src/options/util.ts
  packages/apidom-reference/src/parse/parsers/Parser.ts
  packages/apidom-reference/src/resolve/resolvers/HTTPResolver.ts
  packages/apidom-reference/src/resolve/resolvers/Resolver.ts
  packages/apidom-reference/src/resolve/strategies/ResolveStrategy.ts
  packages/apidom-reference/src/util/url.ts
Labels: enhancement, TypeScript

#4544 chore(ns-json-schema-draft-6): use API Extractor for TypeScript rollup
  packages/apidom-ns-json-schema-draft-6/config/api-extractor/api-extractor.json
  packages/apidom-ns-json-schema-draft-6/config/rollup/types.dist.js
  packages/apidom-ns-json-schema-draft-6/package.json
  packages/apidom-ns-json-schema-draft-6/src/elements/JSONSchema.ts
  packages/apidom-ns-json-schema-draft-6/src/elements/LinkDescription.ts
  packages/apidom-ns-json-schema-draft-6/src/index.ts
  packages/apidom-ns-json-schema-draft-6/src/media-types.ts
  packages/apidom-ns-json-schema-draft-6/src/namespace.ts
  packages/apidom-ns-json-schema-draft-6/src/predicates.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/index.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/ExamplesVisitor.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/ItemsVisitor.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/link-description/index.ts
  packages/apidom-ns-json-schema-draft-6/src/traversal/visitor.ts
Labels: enhancement, TypeScript

#4545 chore(ns-json-schema-draft-7): use API Extractor for TypeScript rollup
  packages/apidom-ns-json-schema-draft-7/config/api-extractor/api-extractor.json
  packages/apidom-ns-json-schema-draft-7/config/rollup/types.dist.js
  packages/apidom-ns-json-schema-draft-7/package.json
  packages/apidom-ns-json-schema-draft-7/src/elements/JSONSchema.ts
  packages/apidom-ns-json-schema-draft-7/src/elements/LinkDescription.ts
  packages/apidom-ns-json-schema-draft-7/src/index.ts
  packages/apidom-ns-json-schema-draft-7/src/media-types.ts
  packages/apidom-ns-json-schema-draft-7/src/namespace.ts
  packages/apidom-ns-json-schema-draft-7/src/predicates.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/index.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/visitors/json-schema/link-description/index.ts
  packages/apidom-ns-json-schema-draft-7/src/traversal/visitor.ts
Labels: enhancement, TypeScript

#4556 fix(reference): use upper bound <1.0.0-rc.0 for all optional deps
  package-lock.json
  packages/apidom-reference/package.json
Labels: bug, ApiDOM

#4550 chore(ns-api-design-systems): use API Extractor for TypeScript rollup
  packages/apidom-ns-api-design-systems/config/api-extractor/api-extractor.json
  packages/apidom-ns-api-design-systems/config/rollup/types.dist.js
  packages/apidom-ns-api-design-systems/package.json
  packages/apidom-ns-api-design-systems/src/elements/Info.ts
  packages/apidom-ns-api-design-systems/src/elements/Main.ts
  packages/apidom-ns-api-design-systems/src/elements/Principle.ts
  packages/apidom-ns-api-design-systems/src/elements/Requirement.ts
  packages/apidom-ns-api-design-systems/src/elements/RequirementLevel.ts
  packages/apidom-ns-api-design-systems/src/elements/Scenario.ts
  packages/apidom-ns-api-design-systems/src/elements/Standard.ts
  packages/apidom-ns-api-design-systems/src/elements/StandardIdentifier.ts
  packages/apidom-ns-api-design-systems/src/index.ts
  packages/apidom-ns-api-design-systems/src/media-types.ts
  packages/apidom-ns-api-design-systems/src/namespace.ts
  packages/apidom-ns-api-design-systems/src/predicates.ts
  packages/apidom-ns-api-design-systems/src/refractor/plugins/openapi-3-1/standard-identifier-accessors.ts
  packages/apidom-ns-api-design-systems/src/refractor/plugins/openapi-3-1/standard-identifier-selectors.ts
  packages/apidom-ns-api-design-systems/src/refractor/specification.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/FallbackVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/Visitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/info/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/PrinciplesVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/ScenariosVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/StandardsVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/main/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/principle/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement-level/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/requirement/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/ThenVisitor.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/scenario/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard-identifier/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/api-design-systems/standard/index.ts
  packages/apidom-ns-api-design-systems/src/refractor/visitors/generics/FixedFieldsVisitor.ts
  packages/apidom-ns-api-design-systems/src/traversal/visitor.ts
  packages/apidom-ns-api-design-systems/src/validator/openapi-3-1/validator.ts
Labels: enhancement, TypeScript

#4552 chore(ls): use API Extractor for TypeScript rollup
  packages/apidom-ls/config/api-extractor/api-extractor.json
  packages/apidom-ls/config/rollup/types.dist.js
  packages/apidom-ls/package.json
  packages/apidom-ls/src/apidom-language-service.ts
  packages/apidom-ls/src/apidom-language-types.ts
  packages/apidom-ls/src/config/config.ts
  packages/apidom-ls/src/index.ts
  packages/apidom-ls/src/services/validation/providers/ads-validation-provider.ts
  packages/apidom-ls/src/services/validation/providers/asyncapi-20-json-schema-validation-provider.ts
  packages/apidom-ls/src/services/validation/providers/asyncapi-21-json-schema-validation-provider.ts
  packages/apidom-ls/src/services/validation/providers/asyncapi-22-json-schema-validation-provider.ts
  packages/apidom-ls/src/services/validation/providers/asyncapi-23-json-schema-validation-provider.ts
  packages/apidom-ls/src/services/validation/providers/asyncapi-24-json-schema-validation-provider.ts
  packages/apidom-ls/src/services/validation/providers/asyncapi-25-json-schema-validation-provider.ts
  packages/apidom-ls/src/services/validation/providers/asyncapi-26-json-schema-validation-provider.ts
  packages/apidom-ls/src/services/validation/providers/json-schema-validation-provider.ts
  packages/apidom-ls/src/services/validation/providers/openapi-31-json-schema-validation-provider.ts
  packages/apidom-ls/src/utils/utils.ts
Labels: enhancement, TypeScript

#4557 chore(reference): add missing exports for TypeScript rollup
  packages/apidom-reference/src/bundle/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/dereference/strategies/apidom/index.ts
  packages/apidom-reference/src/dereference/strategies/apidom/selectors/element-id.ts
  packages/apidom-reference/src/dereference/strategies/apidom/visitor.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/asyncapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-2/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-0/visitor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/index.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/selectors/$anchor.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/selectors/uri.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/util.ts
  packages/apidom-reference/src/dereference/strategies/openapi-3-1/visitor.ts
  packages/apidom-reference/src/parse/parsers/api-design-systems-json/index.ts
  packages/apidom-reference/src/parse/parsers/api-design-systems-yaml/index.ts
  packages/apidom-reference/src/parse/parsers/apidom-json/index.ts
  packages/apidom-reference/src/parse/parsers/asyncapi-json-2/index.ts
  packages/apidom-reference/src/parse/parsers/asyncapi-yaml-2/index.ts
  packages/apidom-reference/src/parse/parsers/binary/index-browser.ts
  packages/apidom-reference/src/parse/parsers/binary/index-node.ts
  packages/apidom-reference/src/parse/parsers/json/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-json-2/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-json-3-0/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-json-3-1/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-yaml-2/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-yaml-3-0/index.ts
  packages/apidom-reference/src/parse/parsers/openapi-yaml-3-1/index.ts
  packages/apidom-reference/src/parse/parsers/workflows-json-1/index.ts
  packages/apidom-reference/src/parse/parsers/workflows-yaml-1/index.ts
  packages/apidom-reference/src/parse/parsers/yaml-1-2/index.ts
  packages/apidom-reference/src/resolve/resolvers/file/index-browser.ts
  packages/apidom-reference/src/resolve/resolvers/file/index-node.ts
  packages/apidom-reference/src/resolve/resolvers/http-axios/index.ts
  packages/apidom-reference/src/resolve/strategies/apidom/index.ts
  packages/apidom-reference/src/resolve/strategies/asyncapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-2/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-0/index.ts
  packages/apidom-reference/src/resolve/strategies/openapi-3-1/index.ts
Labels: enhancement, TypeScript
