Repository swagger-api/apidom, pull requests merged in 2025-08, with the labels that each got.

#4981 docs(ls): provide documentation with Language Service capabilities
  packages/apidom-ls/README.md
Labels: documentation

#4989 feat: add ref validation rules
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/common/schema/lint/$ref--not-used.ts
  packages/apidom-ls/src/config/common/schema/lint/$ref--valid.ts
  packages/apidom-ls/src/config/common/schema/lint/$ref-3-0--request-bodies.ts
  packages/apidom-ls/src/config/common/schema/lint/index.ts
  packages/apidom-ls/src/config/openapi/definitions/lint/index.ts
  packages/apidom-ls/src/config/openapi/header/lint/$ref-3-0--header.ts
  packages/apidom-ls/src/config/openapi/header/lint/index.ts
  packages/apidom-ls/src/config/openapi/parameter/lint/$ref-3-0--parameter.ts
  packages/apidom-ls/src/config/openapi/parameter/lint/index.ts
  packages/apidom-ls/src/config/openapi/request-body/lint/$ref-3-0--request-bodies-naming-schema.ts
  packages/apidom-ls/src/config/openapi/request-body/lint/$ref-3-0--request-bodies-naming.ts
  packages/apidom-ls/src/config/openapi/request-body/lint/index.ts
  packages/apidom-ls/src/config/openapi/schema/lint.ts
  packages/apidom-ls/src/services/validation/linter-functions.ts
  packages/apidom-ls/test/custom-rules.ts
  packages/apidom-ls/test/fixtures/custom-rules-jsonpath.yaml
  packages/apidom-ls/test/fixtures/custom-rules-simple.yaml
  packages/apidom-ls/test/fixtures/deref/invalid.json
  packages/apidom-ls/test/fixtures/deref/valid-same-ref.json
  packages/apidom-ls/test/fixtures/validation/oas/ref-header.yaml
  packages/apidom-ls/test/fixtures/validation/oas/ref-not-used-2-0.yaml
  packages/apidom-ls/test/fixtures/validation/oas/ref-not-used-3-0.yaml
  packages/apidom-ls/test/fixtures/validation/oas/ref-parameter.yaml
  packages/apidom-ls/test/fixtures/validation/oas/ref-request-bodies-naming-schema.yaml
  packages/apidom-ls/test/fixtures/validation/oas/ref-request-bodies-naming.yaml
  packages/apidom-ls/test/fixtures/validation/oas/ref-request-bodies.yaml
  packages/apidom-ls/test/fixtures/validation/oas/valid/oas-3.0-petstore.yaml
  packages/apidom-ls/test/fixtures/validation/oas/valid/oas-3.1-basic.yaml
  packages/apidom-ls/test/openapi-json.ts
  packages/apidom-ls/test/openapi-yaml.ts
  packages/apidom-ls/test/validate-references.ts
  packages/apidom-ls/test/validate.ts
Labels: enhancement, ApiDOM, TypeScript

#4997 feat(ls): disable newly added rules for 3.1 spec
  packages/apidom-ast/package.json
  packages/apidom-converter/package.json
  packages/apidom-core/package.json
  packages/apidom-error/package.json
  packages/apidom-json-path/package.json
  packages/apidom-json-pointer-relative/package.json
  packages/apidom-json-pointer/package.json
  packages/apidom-logging/package.json
  packages/apidom-ls/package.json
  packages/apidom-ls/src/config/common/schema/lint/$ref--not-used.ts
  packages/apidom-ls/src/config/common/schema/lint/$ref-3-0--request-bodies.ts
  packages/apidom-ls/src/config/openapi/header/lint/$ref-3-0--header.ts
  packages/apidom-ls/src/config/openapi/parameter/lint/$ref-3-0--parameter.ts
  packages/apidom-ls/src/config/openapi/parameter/lint/in--accept.ts
  packages/apidom-ls/src/config/openapi/parameter/lint/in--authorization.ts
  packages/apidom-ls/src/config/openapi/parameter/lint/in--content-type.ts
  packages/apidom-ls/src/config/openapi/parameter/lint/unique-name.ts
  packages/apidom-ls/src/config/openapi/request-body/lint/$ref-3-0--request-bodies-naming-schema.ts
  packages/apidom-ls/src/config/openapi/request-body/lint/$ref-3-0--request-bodies-naming.ts
  packages/apidom-ls/test/openapi-json.ts
  packages/apidom-ls/test/openapi-yaml.ts
  packages/apidom-ls/test/validate.ts
  packages/apidom-ns-api-design-systems/package.json
  packages/apidom-ns-arazzo-1/package.json
  packages/apidom-ns-asyncapi-2/package.json
  packages/apidom-ns-json-schema-2019-09/package.json
  packages/apidom-ns-json-schema-2020-12/package.json
  packages/apidom-ns-json-schema-draft-4/package.json
  packages/apidom-ns-json-schema-draft-6/package.json
  packages/apidom-ns-json-schema-draft-7/package.json
  packages/apidom-ns-openapi-2/package.json
  packages/apidom-ns-openapi-3-0/package.json
  packages/apidom-ns-openapi-3-1/package.json
  packages/apidom-parser-adapter-api-design-systems-json/package.json
  packages/apidom-parser-adapter-api-design-systems-yaml/package.json
  packages/apidom-parser-adapter-arazzo-json-1/package.json
  packages/apidom-parser-adapter-arazzo-yaml-1/package.json
  packages/apidom-parser-adapter-asyncapi-json-2/package.json
  packages/apidom-parser-adapter-asyncapi-yaml-2/package.json
  packages/apidom-parser-adapter-json-schema-json-2020-12/package.json
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/package.json
  packages/apidom-parser-adapter-openapi-json-2/package.json
  packages/apidom-parser-adapter-openapi-json-3-0/package.json
  packages/apidom-parser-adapter-openapi-json-3-1/package.json
  packages/apidom-parser-adapter-openapi-yaml-2/package.json
  packages/apidom-parser-adapter-openapi-yaml-3-0/package.json
  packages/apidom-parser-adapter-openapi-yaml-3-1/package.json
  packages/apidom-parser/package.json
  packages/apidom-reference/package.json
Labels: OpenAPI 3.1, ApiDOM, TypeScript

#4998 feat(ls): add validation rules for formData
  packages/apidom-ls/src/config/codes.ts
  packages/apidom-ls/src/config/openapi/operation/lint/index.ts
  packages/apidom-ls/src/config/openapi/operation/lint/parameters-in--overlaps.ts
  packages/apidom-ls/src/config/openapi/operation/lint/parameters-in-consumes--required.ts
  packages/apidom-ls/src/config/openapi/operation/lint/parameters-type-consumes--required.ts
  packages/apidom-ls/src/services/validation/linter-functions.ts
  packages/apidom-ls/test/fixtures/validation/oas/operation-in-consumes-required.yaml
  packages/apidom-ls/test/fixtures/validation/oas/operation-in-consumes-value.yaml
  packages/apidom-ls/test/fixtures/validation/oas/operation-type-consumes-global-value.yaml
  packages/apidom-ls/test/fixtures/validation/oas/operation-type-consumes-override-value.yaml
  packages/apidom-ls/test/fixtures/validation/oas/operation-type-consumes-required.yaml
  packages/apidom-ls/test/fixtures/validation/oas/operation-type-consumes-value.yaml
  packages/apidom-ls/test/fixtures/validation/oas/parameter-in-overlaps.yaml
  packages/apidom-ls/test/validate.ts
Labels: ApiDOM, OpenApi 3.0, OpenApi 2.0, TypeScript
