Repository swagger-api/apidom, pull requests merged in 2025-01, with the labels that each got.

#4652 fix(ns-json-schema-draft-7): add support for headerSchema
  packages/apidom-ns-json-schema-draft-7/src/elements/LinkDescription.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/specification.ts
  packages/apidom-ns-json-schema-draft-7/test/refractor/elements/LinkDescription/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-draft-7/test/refractor/elements/LinkDescription/index.ts
  packages/apidom-ns-json-schema-draft-7/test/refractor/plugins/replace-empty-element/__snapshots__/mappings.mjs.snap
  packages/apidom-ns-json-schema-draft-7/test/refractor/plugins/replace-empty-element/mappings.ts
Labels: enhancement, JSON Schema

#4653 feat(ns-json-schema-draft-4): handle inheritance of $schema and id
  packages/apidom-ns-json-schema-draft-4/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-4/test/refractor/__snapshots__/index.mjs.snap
Labels: enhancement, JSON Schema

#4658 feat(ns-json-schema-draft-6): handle inheritance of $schema and $id
  packages/apidom-ns-json-schema-draft-4/src/index.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-draft-6/test/refractor/elements/JSONSchema/__snapshots__/index.mjs.snap
Labels: enhancement, JSON Schema

#4659 feat(ns-json-schema-draft-7): handle inheritance of $schema and $id
  packages/apidom-ns-json-schema-draft-6/src/index.ts
  packages/apidom-ns-json-schema-draft-7/src/index.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-7/test/refractor/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-draft-7/test/refractor/elements/JSONSchema/__snapshots__/index.mjs.snap
Labels: enhancement, JSON Schema

#4662 feat: implement JSON Schema 2019-09 namespace
  package-lock.json
  packages/apidom-ns-json-schema-2019-09/.eslintignore
  packages/apidom-ns-json-schema-2019-09/.gitignore
  packages/apidom-ns-json-schema-2019-09/.mocharc.json
  packages/apidom-ns-json-schema-2019-09/.npmrc
  packages/apidom-ns-json-schema-2019-09/README.md
  packages/apidom-ns-json-schema-2019-09/config/api-extractor/api-extractor.json
  packages/apidom-ns-json-schema-2019-09/config/webpack/browser.config.js
  packages/apidom-ns-json-schema-2019-09/config/webpack/traits.config.js
  packages/apidom-ns-json-schema-2019-09/package.json
  packages/apidom-ns-json-schema-2019-09/src/elements/JSONSchema.ts
  packages/apidom-ns-json-schema-2019-09/src/elements/LinkDescription.ts
  packages/apidom-ns-json-schema-2019-09/src/index.ts
  packages/apidom-ns-json-schema-2019-09/src/media-types.ts
  packages/apidom-ns-json-schema-2019-09/src/namespace.ts
  packages/apidom-ns-json-schema-2019-09/src/predicates.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/index.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/registration.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/specification.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/toolbox.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/$defsVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/$refVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/$vocabularyVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/AllOfVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/AnyOfVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/DependentRequiredVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/DependentSchemasVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/ItemsVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/OneOfVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/PatternPropertiesVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/PropertiesVisitor.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/link-description/index.ts
  packages/apidom-ns-json-schema-2019-09/src/traversal/visitor.ts
  packages/apidom-ns-json-schema-2019-09/test/.eslintrc
  packages/apidom-ns-json-schema-2019-09/test/mocha-bootstrap.ts
  packages/apidom-ns-json-schema-2019-09/test/predicates.ts
  packages/apidom-ns-json-schema-2019-09/test/refractor/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-2019-09/test/refractor/elements/JSONSchema/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-2019-09/test/refractor/elements/JSONSchema/index.ts
  packages/apidom-ns-json-schema-2019-09/test/refractor/elements/LinkDescription/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-2019-09/test/refractor/elements/LinkDescription/index.ts
  packages/apidom-ns-json-schema-2019-09/test/refractor/fixtures/json-schema-2019-09.json
  packages/apidom-ns-json-schema-2019-09/test/refractor/index.ts
  packages/apidom-ns-json-schema-2019-09/test/refractor/plugins/replace-empty-element/__snapshots__/mappings.mjs.snap
  packages/apidom-ns-json-schema-2019-09/test/refractor/plugins/replace-empty-element/__snapshots__/sequences.mjs.snap
  packages/apidom-ns-json-schema-2019-09/test/refractor/plugins/replace-empty-element/mappings.ts
  packages/apidom-ns-json-schema-2019-09/test/refractor/plugins/replace-empty-element/sequences.ts
  packages/apidom-ns-json-schema-2019-09/test/tsconfig.json
  packages/apidom-ns-json-schema-2019-09/tsconfig.declaration.json
  packages/apidom-ns-json-schema-2019-09/tsconfig.json
Labels: enhancement, JSON Schema

#4668 fix(ns-json-schema-draft-7): add missing method overrides
  packages/apidom-ns-json-schema-draft-7/README.md
  packages/apidom-ns-json-schema-draft-7/src/elements/JSONSchema.ts
  packages/apidom-ns-json-schema-draft-7/src/elements/LinkDescription.ts
Labels: bug, JSON Schema

#4670 feat: implement JSON Schema 2020-12 namespace
  README.md
  package-lock.json
  packages/apidom-ns-json-schema-2019-09/src/index.ts
  packages/apidom-ns-json-schema-2020-12/.eslintignore
  packages/apidom-ns-json-schema-2020-12/.gitignore
  packages/apidom-ns-json-schema-2020-12/.mocharc.json
  packages/apidom-ns-json-schema-2020-12/.npmrc
  packages/apidom-ns-json-schema-2020-12/README.md
  packages/apidom-ns-json-schema-2020-12/config/api-extractor/api-extractor.json
  packages/apidom-ns-json-schema-2020-12/config/webpack/browser.config.js
  packages/apidom-ns-json-schema-2020-12/config/webpack/traits.config.js
  packages/apidom-ns-json-schema-2020-12/package.json
  packages/apidom-ns-json-schema-2020-12/src/elements/JSONSchema.ts
  packages/apidom-ns-json-schema-2020-12/src/elements/LinkDescription.ts
  packages/apidom-ns-json-schema-2020-12/src/index.ts
  packages/apidom-ns-json-schema-2020-12/src/media-types.ts
  packages/apidom-ns-json-schema-2020-12/src/namespace.ts
  packages/apidom-ns-json-schema-2020-12/src/predicates.ts
  packages/apidom-ns-json-schema-2020-12/src/refractor/index.ts
  packages/apidom-ns-json-schema-2020-12/src/refractor/plugins/replace-empty-element.ts
  packages/apidom-ns-json-schema-2020-12/src/refractor/registration.ts
  packages/apidom-ns-json-schema-2020-12/src/refractor/specification.ts
  packages/apidom-ns-json-schema-2020-12/src/refractor/toolbox.ts
  packages/apidom-ns-json-schema-2020-12/src/refractor/visitors/json-schema/PrefixItemsVisitor.ts
  packages/apidom-ns-json-schema-2020-12/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-2020-12/src/refractor/visitors/json-schema/link-description/index.ts
  packages/apidom-ns-json-schema-2020-12/src/traversal/visitor.ts
  packages/apidom-ns-json-schema-2020-12/test/.eslintrc
  packages/apidom-ns-json-schema-2020-12/test/mocha-bootstrap.ts
  packages/apidom-ns-json-schema-2020-12/test/predicates.ts
  packages/apidom-ns-json-schema-2020-12/test/refractor/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-2020-12/test/refractor/elements/JSONSchema/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-2020-12/test/refractor/elements/JSONSchema/index.ts
  packages/apidom-ns-json-schema-2020-12/test/refractor/elements/LinkDescription/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-2020-12/test/refractor/elements/LinkDescription/index.ts
  packages/apidom-ns-json-schema-2020-12/test/refractor/fixtures/json-schema-2020-12.json
  packages/apidom-ns-json-schema-2020-12/test/refractor/index.ts
  packages/apidom-ns-json-schema-2020-12/test/refractor/plugins/replace-empty-element/__snapshots__/mappings.mjs.snap
  packages/apidom-ns-json-schema-2020-12/test/refractor/plugins/replace-empty-element/__snapshots__/sequences.mjs.snap
  packages/apidom-ns-json-schema-2020-12/test/refractor/plugins/replace-empty-element/mappings.ts
  packages/apidom-ns-json-schema-2020-12/test/refractor/plugins/replace-empty-element/sequences.ts
  packages/apidom-ns-json-schema-2020-12/test/tsconfig.json
  packages/apidom-ns-json-schema-2020-12/tsconfig.declaration.json
  packages/apidom-ns-json-schema-2020-12/tsconfig.json
Labels: enhancement, JSON Schema

#4677 feat: implement JSON parser adapter for JSON Schema 2020-12
  README.md
  package-lock.json
  packages/apidom-parser-adapter-json-schema-json-2020-12/.eslintignore
  packages/apidom-parser-adapter-json-schema-json-2020-12/.gitignore
  packages/apidom-parser-adapter-json-schema-json-2020-12/.mocharc.json
  packages/apidom-parser-adapter-json-schema-json-2020-12/.npmrc
  packages/apidom-parser-adapter-json-schema-json-2020-12/README.md
  packages/apidom-parser-adapter-json-schema-json-2020-12/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-json-schema-json-2020-12/config/webpack/browser.config.js
  packages/apidom-parser-adapter-json-schema-json-2020-12/config/webpack/traits.config.js
  packages/apidom-parser-adapter-json-schema-json-2020-12/package.json
  packages/apidom-parser-adapter-json-schema-json-2020-12/src/adapter.ts
  packages/apidom-parser-adapter-json-schema-json-2020-12/src/media-types.ts
  packages/apidom-parser-adapter-json-schema-json-2020-12/test/.eslintrc
  packages/apidom-parser-adapter-json-schema-json-2020-12/test/__snapshots__/adapter.mjs.snap
  packages/apidom-parser-adapter-json-schema-json-2020-12/test/adapter.ts
  packages/apidom-parser-adapter-json-schema-json-2020-12/test/fixtures/json-schema-2020-12.json
  packages/apidom-parser-adapter-json-schema-json-2020-12/test/fixtures/json-schema-2020-12.yaml
  packages/apidom-parser-adapter-json-schema-json-2020-12/test/media-types.ts
  packages/apidom-parser-adapter-json-schema-json-2020-12/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-json-schema-json-2020-12/test/tsconfig.json
  packages/apidom-parser-adapter-json-schema-json-2020-12/tsconfig.declaration.json
  packages/apidom-parser-adapter-json-schema-json-2020-12/tsconfig.json
Labels: enhancement, JSON, JSON Schema

#4678 refactor(ns-json-schema-draft-6): use inheritance for visitors
  packages/apidom-ns-json-schema-draft-4/src/index.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-6/src/index.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/ItemsVisitor.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/link-description/index.ts
  packages/apidom-ns-json-schema-draft-6/src/traversal/visitor.ts
Labels: enhancement, JSON Schema

#4686 refactor(ns-json-schema-draft-7): use inheritance for visitors
  packages/apidom-ns-json-schema-draft-4/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-6/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-7/src/index.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-7/src/refractor/visitors/json-schema/link-description/index.ts
  packages/apidom-ns-json-schema-draft-7/src/traversal/visitor.ts
Labels: enhancement, ApiDOM, JSON Schema

#4687 refactor(ns-json-schema-2019-09): use inheritance for visitors
  packages/apidom-ns-json-schema-2019-09/src/index.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-2019-09/src/refractor/visitors/json-schema/link-description/index.ts
Labels: enhancement, ApiDOM, JSON Schema

#4688 refactor(ns-json-schema-2020-12): use inheritance for visitors
  packages/apidom-ns-json-schema-2019-09/src/traversal/visitor.ts
  packages/apidom-ns-json-schema-2020-12/src/index.ts
  packages/apidom-ns-json-schema-2020-12/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-2020-12/src/refractor/visitors/json-schema/link-description/index.ts
  packages/apidom-ns-json-schema-2020-12/src/traversal/visitor.ts
Labels: enhancement, ApiDOM, JSON Schema

#4676 feat: implement YAML parser adapter for JSON Schema 2020-12
  README.md
  package-lock.json
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/.eslintignore
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/.gitignore
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/.mocharc.json
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/.npmrc
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/README.md
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/config/api-extractor/api-extractor.json
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/config/webpack/browser.config.js
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/config/webpack/traits.config.js
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/package.json
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/src/adapter.ts
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/src/media-types.ts
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/test/.eslintrc
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/test/__snapshots__/adapter.mjs.snap
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/test/adapter.ts
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/test/fixtures/json-schema-2020-12.json
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/test/fixtures/json-schema-2020-12.yaml
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/test/media-types.ts
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/test/mocha-bootstrap.ts
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/test/tsconfig.json
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/tsconfig.declaration.json
  packages/apidom-parser-adapter-json-schema-yaml-2020-12/tsconfig.json
Labels: enhancement, YAML, JSON Schema

#4689 fix(ns-json-schema): collect properly metadata for dialect and schema identifiers
  packages/apidom-ns-json-schema-2019-09/test/refractor/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-2019-09/test/refractor/elements/JSONSchema/index.ts
  packages/apidom-ns-json-schema-2020-12/test/refractor/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-2020-12/test/refractor/elements/JSONSchema/index.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/visitors/SpecificationVisitor.ts
  packages/apidom-ns-json-schema-draft-4/src/refractor/visitors/json-schema/index.ts
  packages/apidom-ns-json-schema-draft-4/test/refractor/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-draft-4/test/refractor/elements/JSONSchema/index.ts
  packages/apidom-ns-json-schema-draft-6/test/refractor/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-draft-6/test/refractor/elements/JSONSchema/index.ts
  packages/apidom-ns-json-schema-draft-7/test/refractor/__snapshots__/index.mjs.snap
  packages/apidom-ns-json-schema-draft-7/test/refractor/elements/JSONSchema/index.ts
Labels: bug, ApiDOM, JSON Schema
